<mat-nav-list>
    <a mat-list-item [routerLink]="['/']" (click)="onSidenavClose()">
        <span class="nav-caption">Appliance Repairs</span>
    </a>
    <a mat-list-item [routerLink]="['/']" (click)="onSidenavClose()">
        <span class="nav-caption">Price List</span>
    </a>
    <a mat-list-item [routerLink]="['/']" (click)="onSidenavClose()">
        <span class="nav-caption">Areas Covered</span>
    </a>
    <a mat-list-item [routerLink]="['/']" (click)="onSidenavClose()">
        <span class="nav-caption">About Us</span>
    </a>
    <a mat-list-item [routerLink]="['/']" (click)="onSidenavClose()">
        <span class="nav-caption">Estate Agents & Landlors</span>
    </a>
</mat-nav-list>