@import 'variables';

select.form-control:not([size]):not([multiple]) {
    height: 4rem;
}

label {
    margin-left: 0.1rem;
    font-size: 1.2rem;
    color: #fff;
    border-bottom: 0.15rem solid $color-primary;
}

.form-control {
    height: 4rem;
    font-size: 1.5rem;
}

.form-group {
    min-width: 18rem;
    max-width: 35rem;
}

.col {
    @media only screen and (max-width: 479px) {
        padding: 0;
    }
}