@import 'variables';

.form-groups-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 5rem;

    @media only screen and (max-width: 1100px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media only screen and (max-width: 650px) {
        grid-template-columns: 1fr;
    }
}

select.form-control:not([size]):not([multiple]) {
    height: 4rem;
}

::placeholder {
    color: $color-grey;
}

.form-control {
    height: 4rem;
    font-size: 1.5rem;

    &:disabled {
        background-color: rgba(255, 255, 255, .65);
        border-color: rgba(255, 255, 255, .65);
    }
}

.error-message {
    color: $color-primary;
    font-size: 1.25rem;
}