<footer class="footer-container">
    <div class="footer">
        <section class="footer__about">
            <h2>about us</h2>
            <p>A&G Appliances is an established, professional, domestic repair company. Our appliance repair engineer is
                fully trained and competent in repairing electric ovens/cookers, dishwashers, washing machines, dryers,
                fridge/freezers.</p>
        </section>
        <section class="footer__contacts">
            <h2>contact us</h2>
            <div class="footer__contact">
                <svg class="icon icon--sm">
                    <use xlink:href="../../../assets/images/sprite.svg#phone_filled"></use>
                </svg>
                <a href="tel:0207 476 8725">0207 476 8725</a>
            </div>
            <div class="footer__contact">
                <svg class="icon icon--sm">
                    <use xlink:href="../../../assets/images/sprite.svg#touchscreen_smartphone_filled"></use>
                </svg>
                <a href="tel:0754 085 2102">0754 085 2102</a>
            </div>
            <div class="footer__contact">
                <svg class="icon icon--sm">
                    <use xlink:href="../../../assets/images/sprite.svg#mail_filled"></use>
                </svg>
                <a href="mailto:contact@ag-repairs.co.uk">contact@ag-repairs.co.uk</a>
            </div>
            <div class="footer__contact">
                <svg class="icon icon--sm">
                    <use xlink:href="../../../assets/images/sprite.svg#facebook_filled"></use>
                </svg>
                <p>temp text</p>
            </div>
            <div class="footer__contact">
                <svg class="icon icon--sm">
                    <use xlink:href="../../../assets/images/sprite.svg#location_filled"></use>
                </svg>
                <p>21 Hartington Road, London E16 3NP</p>
            </div>
        </section>
        <section class="footer__repair-links">
            <h2>appliance repairs</h2>
            <a [routerLink]="[ '/appliance-repairs/washing-machine-repairs' ]">washing machine repairs</a>
            <a [routerLink]="[ '/appliance-repairs/dishwasher-repairs' ]">dishwasher repairs</a>
            <a [routerLink]="[ '/appliance-repairs/tumble-dryer-repairs' ]">tumble dryer repairs</a>
            <a [routerLink]="[ '/appliance-repairs/electric-oven-repairs' ]">electric cooker/oven repairs</a>
            <a [routerLink]="[ '/appliance-repairs/microwave-repairs' ]">microwave repairs</a>
            <a [routerLink]="[ '/appliance-repairs/extractor-hood-repairs' ]">extractor hood repairs</a>
            <a [routerLink]="[ '/appliance-repairs/fridge-freezer-repairs' ]">fridge freezer repairs</a>
            <a [routerLink]="[ '/appliance-repairs/commercial-appliance-repairs' ]">commercial appliance repairs</a>
        </section>
        <section class="footer__other-links">
            <h2>links</h2>
            <a [routerLink]="[ '/' ]">home</a>
            <a [routerLink]="[ '/appliance-repairs' ]">appliance repairs</a>
            <a [routerLink]="[ '/appliance-repair-prices' ]">price list</a>
            <a [routerLink]="[ '/areas-covered' ]">areas covered</a>
            <a [routerLink]="[ '/about-us' ]">about us</a>
            <a [routerLink]="[ '/estate-agents-landlords' ]">estate agents & landlors</a>
            <a [routerLink]="[ '/' ]">terms</a>
            <a [routerLink]="[ '/' ]">sitemap</a>
        </section>
        <section class="footer__hours">
            <h2>working hours</h2>
            <ul>
                <li>monday - saturday: 9:00 - 18:00</li>
                <li>sunday: closed</li>
            </ul>
        </section>
        <section class="footer__payments">
            <h2>we accept</h2>
            <div class="payments-wrapper">
                <svg id="mastercard" class="icon custom-size">
                    <use xlink:href="../../../assets/images/sprite.svg#mastercard-2"></use>
                </svg>
                <svg class="icon custom-size">
                    <use xlink:href="../../../assets/images/sprite.svg#maestrocard"></use>
                </svg>
                <svg class="icon icon--lg">
                    <use xlink:href="../../../assets/images/sprite.svg#visa"></use>
                </svg>
                <svg class="icon icon--lg">
                    <use xlink:href="../../../assets/images/sprite.svg#paypal"></use>
                </svg>
            </div>
        </section>
    </div>
    <div class="footer-container__copyright">
        A&G Appliances | Copyright (c) 2008 - 2019
    </div>
</footer>