<footer class="footer-container">
    <div class="footer">
        <section class="footer__about">
            <h2>about us</h2>
            <p>A&amp;G Appliances is an established, professional, domestic and commercial appliance repair company.
                Our appliance repair
                engineers are
                fully trained and competent in repairing electric ovens/cookers, dishwashers, washing machines, dryers,
                microwaves, and
                fridge/freezers.</p>
        </section>
        <section class="footer__contacts">
            <h2>contact us</h2>
            <div class="footer__contact">
                <a class="contact-mr" href="tel:0207 476 8725" aria-label="Land line number">
                    <svg class="icon icon--sm">
                        <use xlink:href="../../../assets/images/sprite.svg#phone_filled"></use>
                    </svg>
                </a>
                <a href="tel:0207 476 8725" aria-label="Phone number">0207 476 8725</a>
            </div>
            <div class="footer__contact">
                <a class="contact-mr" href="tel:0754 085 2102" aria-label="Mobile phone number"> <svg
                        class="icon icon--sm">
                        <use xlink:href="../../../assets/images/sprite.svg#touchscreen_smartphone_filled"></use>
                    </svg></a>

                <a href="tel:0754 085 2102" aria-label="Mobile phone number">0754 085 2102</a>
            </div>
            <div class="footer__contact">
                <a class="contact-mr" href="mailto:contact@ag-repairs.co.uk" aria-label="Email address"> <svg
                        class="icon icon--sm">
                        <use xlink:href="../../../assets/images/sprite.svg#mail_filled"></use>
                    </svg></a>

                <a href="mailto:contact@ag-repairs.co.uk" aria-label="Email address">contact@ag-repairs.co.uk</a>
            </div>
            <div class="footer__contact">
                <a class="contact-mr" href="https://www.facebook.com/agappliancesuk" aria-label="Facebook">
                    <svg class="icon icon--sm">
                        <use xlink:href="../../../assets/images/sprite.svg#facebook_filled"></use>
                    </svg>
                </a>
                <a href="https://www.facebook.com/agappliancesuk" aria-label="Facebook">
                    <p>facebook.com/agappliancesuk</p>
                </a>
            </div>
            <div class="footer__contact">
                <a class="contact-mr" href="https://twitter.com/appliances_g" aria-label="Twitter">
                    <svg class="icon icon--sm">
                        <use xlink:href="../../../assets/images/sprite.svg#twitter"></use>
                    </svg>
                </a>
                <a href="https://twitter.com/appliances_g" aria-label="Twitter">
                    <p>twitter.com/appliances_g</p>
                </a>
            </div>
            <div class="footer__contact">
                <div class="contact-mr">
                    <svg class="icon icon--sm">
                        <use xlink:href="../../../assets/images/sprite.svg#location_filled"></use>
                    </svg>
                </div>
                <p>21 Hartington Road, London E16 3NP</p>
            </div>
        </section>
        <section class="footer__repair-links">
            <h2>appliance repairs</h2>
            <a [routerLink]="[ '/appliance-repairs/washing-machine-repairs' ]">washing machine repairs</a>
            <a [routerLink]="[ '/appliance-repairs/dishwasher-repairs' ]">dishwasher repairs</a>
            <a [routerLink]="[ '/appliance-repairs/tumble-dryer-repairs' ]">tumble dryer repairs</a>
            <a [routerLink]="[ '/appliance-repairs/electric-oven-repairs' ]">electric cooker/oven repairs</a>
            <a [routerLink]="[ '/appliance-repairs/microwave-repairs' ]">microwave repairs</a>
            <a [routerLink]="[ '/appliance-repairs/extractor-hood-repairs' ]">extractor hood repairs</a>
            <a [routerLink]="[ '/appliance-repairs/fridge-freezer-repairs' ]">fridge freezer repairs</a>
            <a [routerLink]="[ '/appliance-repairs/commercial-appliance-repairs' ]">commercial appliance repairs</a>
        </section>
        <section class="footer__other-links">
            <h2>links</h2>
            <a [routerLink]="[ '/' ]">home</a>
            <a [routerLink]="[ '/appliance-repairs' ]">appliance repairs</a>
            <a [routerLink]="[ '/appliance-repair-prices' ]">price list</a>
            <a [routerLink]="[ '/areas-covered' ]">areas covered</a>
            <a [routerLink]="[ '/about-us' ]">about us</a>
            <a [routerLink]="[ '/error-codes' ]">error codes</a>
            <a [routerLink]="[ '/blog' ]">blog</a>
            <a [routerLink]="[ '/contact-us-appliance-services' ]">contact us</a>
            <a [routerLink]="[ '/estate-agents-landlords' ]">estate agents &amp; landlords</a>
            <a [routerLink]="[ '/terms' ]">terms</a>
        </section>
        <section class="footer__hours">
            <h2>working hours</h2>
            <ul>
                <li>monday - saturday: 9:00 - 18:00</li>
                <li>sunday: closed</li>
            </ul>
        </section>
        <section class="footer__payments">
            <h2>we accept</h2>
            <div class="payments-wrapper">
                <svg id="mastercard" class="icon custom-size">
                    <use xlink:href="../../../assets/images/sprite.svg#mastercard-2"></use>
                </svg>
                <svg class="icon custom-size">
                    <use xlink:href="../../../assets/images/sprite.svg#maestrocard"></use>
                </svg>
                <svg class="icon icon--lg">
                    <use xlink:href="../../../assets/images/sprite.svg#visa"></use>
                </svg>
                <svg class="icon icon--lg">
                    <use xlink:href="../../../assets/images/sprite.svg#paypal"></use>
                </svg>
            </div>
        </section>
    </div>
    <div class="footer-container__copyright">
        A&amp;G Appliances | Copyright (c) 2008 - 2019
    </div>
</footer>