<footer class="footer">
    <section class="footer__about">
        <h2>about us</h2>
        <p>A&G Appliances is an established, professional, domestic repair company. Our appliance repair engineer is
            fully trained and competent in repairing electric ovens/cookers, dishwashers, washing machines, dryers,
            fridge/freezers.</p>
    </section>
    <section class="footer__contacts">
        <h2>contact us</h2>
        <div class="footer__contact">
            <svg class="icon icon--md">
                <use xlink:href="../../../assets/images/sprite.svg#phone_filled"></use>
            </svg>
            <a href="tel:0207 476 8725">0207 476 8725</a>
        </div>
        <div class="footer__contact">
            <svg class="icon icon--md">
                <use xlink:href="../../../assets/images/sprite.svg#touchscreen_smartphone_filled"></use>
            </svg>
            <a href="tel:0754 085 2102">0754 085 2102</a>
        </div>
        <div class="footer__contact">
            <svg class="icon icon--md">
                <use xlink:href="../../../assets/images/sprite.svg#mail_filled"></use>
            </svg>
            <a href="mailto:contact@ag-repairs.co.uk">contact@ag-repairs.co.uk</a>
        </div>
        <div class="footer__contact">
            <svg class="icon icon--md">
                <use xlink:href="../../../assets/images/sprite.svg#facebook_filled"></use>
            </svg>
            <p>temp text</p>
        </div>
        <div class="footer__contact">
            <svg class="icon icon--md">
                <use xlink:href="../../../assets/images/sprite.svg#location_filled"></use>
            </svg>
            <p>21 Hartington Road, London E16 3NP</p>
        </div>
    </section>
    <section class="footer__repair-links">
        <h2>appliance repairs</h2>
        <a [routerLink]="[ '/' ]">washing machine repairs</a>
        <a [routerLink]="[ '/' ]">dishwasher repairs</a>
        <a [routerLink]="[ '/' ]">tumble dryer repairs</a>
        <a [routerLink]="[ '/' ]">electric cooker/oven repairs</a>
        <a [routerLink]="[ '/' ]">microwave repairs</a>
        <a [routerLink]="[ '/' ]">extractor hood repairs</a>
        <a [routerLink]="[ '/' ]">fridge freezer repairs</a>
        <a [routerLink]="[ '/' ]">commercial appliance repairs</a>
    </section>
    <section class="footer__other-links">
        <h2>links</h2>
        <a [routerLink]="[ '/' ]">price list</a>
        <a [routerLink]="[ '/' ]">areas covered</a>
        <a [routerLink]="[ '/' ]">about us</a>
        <a [routerLink]="[ '/' ]">estate agents & landlors</a>
        <a [routerLink]="[ '/' ]">terms</a>
        <a [routerLink]="[ '/' ]">sitemap</a>
    </section>
    <div class="footer__copyright">
        A&G Appliances | Copyright (c) 2008 - 2019
    </div>
</footer>