<div class="grid-container">
    <div class="header-background"></div>
    <div class="header">
        <div class="header__logo">
            <a [routerLink]="[ '/']">
                <img class="header__logo-wrapper--image" src="../../../assets/images/logo-header.svg" alt="" />
            </a>
        </div>
        <div class="header__email">
            <svg class="icon icon--md icon icon--white">
                <use xlink:href="../../../assets/images/sprite.svg#mail_filled"></use>
            </svg>
            <a href="mailto:contact@ag-repairs.co.uk">contact@ag-repairs.co.uk</a>
        </div>
        <div class="header__phone">
            <svg class="icon icon--md icon icon--white">
                <use xlink:href="../../../assets/images/sprite.svg#phone_filled"></use>
            </svg>
            <a href="tel:0207 476 8725">0207 476 8725</a>
        </div>
        <div class="header__mobile">
            <svg class="icon icon--md icon icon--white">
                <use xlink:href="../../../assets/images/sprite.svg#touchscreen_smartphone_filled"></use>
            </svg>
            <a href="tel:0754 085 2102">0754 085 2102</a>
        </div>
    </div>
    <div class="intro">
        <div class="intro__image">
            <img src="../../assets/images/company.jpg" alt="">
        </div>
        <header>
            <h1>About Us</h1>
        </header>
        <div class="intro__sub">
            <div class="sub-item">
                <svg class="icon icon--md icon--primary">
                    <use xlink:href="../../../assets/images/sprite.svg#checked"></use>
                </svg>
                <p>Fast, reliable service</p>
            </div>
            <div class="sub-item">
                <svg class="icon icon--md icon--primary">
                    <use xlink:href="../../../assets/images/sprite.svg#checked"></use>
                </svg>
                <p>Largest UK coverage</p>
            </div>
            <div class="sub-item">
                <svg class="icon icon--md icon--primary">
                    <use xlink:href="../../../assets/images/sprite.svg#checked"></use>
                </svg>
                <p>Same/next day appointments</p>
            </div>
            <div class="sub-item">
                <svg class="icon icon--md icon--primary">
                    <use xlink:href="../../../assets/images/sprite.svg#checked"></use>
                </svg>
                <p>Same/next day appointments</p>
            </div>
        </div>
    </div>

    <!-- About us -->

    <section class="about-us">
        <header class="section-heading">
            <h1 class="heading-1 heading-1--primary">about a&g appliances</h1>
        </header>
        <p>
            A&G Appliances is an <b>established</b>, <b>professional</b>, <b>domestic appliance repair company</b>. Our
            appliance repair engineers are
            fully trained and competent in repairing <span><a
                    [routerLink]="[ '/appliance-repairs/electric-oven-repairs' ]">electric oven/cookers</a></span>,
            <span><a [routerLink]="[ '/appliance-repairs/dishwasher-repairs' ]">dishwashers</a></span>, <span><a
                    [routerLink]="[ '/appliance-repairs/washing-machine-repairs' ]">washing machines</a></span>,
            <span><a [routerLink]="[ '/appliance-repairs/tumble-dryer-repairs' ]">dryers</a></span>, and
            <span><a [routerLink]="[ '/appliance-repairs/tumble-dryer-repairs' ]">fridge/freezers</a></span>. We cover
            most of <b>London</b>, working in postcodes within the <b>M25</b> apart from a
            few: CR, HA, UB,
            KT, TW, DA.
        </p>
        <ul>
            <li>Family business.</li>
            <li>Many happy, repeat customers.</li>
            <li>Your domestic appliance repair guaranteed.</li>
            <li>Our engineers use the latest technologies and manufacturer’s data for a more reliable and faster
                repair.</li>
        </ul>
    </section>

    <!-- How we work -->

    <section class="work">
        <header class="section-heading">
            <h1 class="heading-1 heading-1--primary">how we work</h1>
        </header>
        <h2 class="heading-2">Here’s what happens if you choose A&G Appliance Repairs for your appliance
            repair:</h2>
        <div class="work__item">
            <div class="work__item-number">
                <p>1.</p>
            </div>
            <div class="work__item-text">
                <h3 class="heading-3 heading-3--secondary">Call out</h3>
                <p>We can make an appointment for you to diagnose what’s wrong with your machine. Our appliance repair
                    engineer
                    are experienced and will be able to explain what’s wrong, and what will be required to fix it.

                    If you decide not to proceed with the repair, or if your machine is beyond repair, there is a charge
                    for the
                    engineer to travel to you and diagnose a problem.</p>
            </div>
        </div>
        <div class="work__item">
            <div class="work__item-number">
                <p>2.</p>
            </div>
            <div class="work__item-text">
                <h3 class="heading-3 heading-3--secondary">Fixed price repairs</h3>
                <p>So that you can have an accurate idea of how much a repair is likely to cost, we charge a fixed
                    labour charge
                    of £50 (includes call out) plus parts. (£50 for integrated washer and £55 for a dishwasher). Prices
                    are plus
                    VAT.

                    Two-thirds of our repairs are completed without the need for new parts, but if new parts are
                    required, we’ll
                    give you a fixed quote for these before proceeding with the repair. The average cost of parts, if
                    they are
                    required, is about £15-30, but this does vary depending on what’s wrong with your machine.</p>
            </div>
        </div>
        <div class="work__item">
            <div class="work__item-number">
                <p>3.</p>
            </div>
            <div class="work__item-text">
                <h3 class="heading-3 heading-3--secondary">Simple payments</h3>
                <p>To make things easy, we accept all major credit and debit cards using over the phone card processing,
                    as well
                    as cash or cheque (£2 card processing fee applies).
                    Subject to credit, our commercial customers can be invoiced and choose to pay by cheque, bank
                    transfer or
                    card.</p>
            </div>
        </div>
        <div class="work__item">
            <div class="work__item-number">
                <p>4.</p>
            </div>
            <div class="work__item-text">
                <h3 class="heading-3 heading-3--secondary">Guaranteed for peace of mind</h3>
                <p>It unlikely, but we guarantee all our work and parts fitted for six months. This means if the
                    appliance
                    develops the same fault, we’d fix it for you, free of charge.</p>
            </div>
        </div>
    </section>

    <!-- Reviews -->

    <section class="reviews-container">
        <header class="section-heading">
            <h1 class="heading-1 heading-1--primary">google reviews</h1>
        </header>
        <div class="reviews">
            <div class="review">
                <div class="review__profile-pic">
                    <img src="../../../assets/images/profile_3.png" alt="">
                </div>
                <div class="review__profile-name">
                    Marie Adam
                </div>
                <div class="review__stars">
                    <svg class="icon icon--md">
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                    <svg class="icon icon--md">
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                    <svg class="icon icon--md">
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                    <svg class="icon icon--md">
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                    <svg class="icon icon--md">
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                </div>
                <div class="review__text">
                    <svg class="icon icon--md icon--primary">
                        <use xlink:href="../../../assets/images/sprite.svg#quote_left"></use>
                    </svg>
                    <p>Very professional & efficient. Great service at a very good price. I would definitely recommend.
                    </p>
                    <svg class="icon icon--md icon--primary">
                        <use xlink:href="../../../assets/images/sprite.svg#quote_right"></use>
                    </svg>
                </div>
            </div>
            <div class="review">
                <div class="review__profile-pic">
                    <img src="../../../assets/images/profile_1.png" alt="">
                </div>
                <div class="review__profile-name">
                    George Pidgeon
                </div>
                <div class="review__stars">
                    <svg class="icon icon--md">
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                    <svg class="icon icon--md">
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                    <svg class="icon icon--md">
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                    <svg class="icon icon--md">
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                    <svg class="icon icon--md">
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                </div>
                <div class="review__text">
                    <svg class="icon icon--md icon--primary">
                        <use xlink:href="../../../assets/images/sprite.svg#quote_left"></use>
                    </svg>
                    <p>Thank you - would definitely use again in future.</p>
                    <svg class="icon icon--md icon--primary">
                        <use xlink:href="../../../assets/images/sprite.svg#quote_right"></use>
                    </svg>
                </div>
            </div>
            <div class="review">
                <div class="review__profile-pic">
                    <img src="../../../assets/images/profile_3.png" alt="">
                </div>
                <div class="review__profile-name">
                    Annie Yusuf
                </div>
                <div class="review__stars">
                    <svg class="icon icon--md">
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                    <svg class="icon icon--md">
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                    <svg class="icon icon--md">
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                    <svg class="icon icon--md">
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                    <svg class="icon icon--md" style="fill:#dddddd;">
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                </div>
                <div class="review__text">
                    <svg class="icon icon--md icon--primary">
                        <use xlink:href="../../../assets/images/sprite.svg#quote_left"></use>
                    </svg>
                    <p>Good repair work.</p>
                    <svg class="icon icon--md icon--primary">
                        <use xlink:href="../../../assets/images/sprite.svg#quote_right"></use>
                    </svg>
                </div>
            </div>
            <div class="review">
                <div class="review__profile-pic">
                    <img src="../../../assets/images/profile_2.png" alt="">
                </div>
                <div class="review__profile-name">
                    Ellie Roberts
                </div>
                <div class="review__stars">
                    <svg class="icon icon--md">
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                    <svg class="icon icon--md">
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                    <svg class="icon icon--md">
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                    <svg class="icon icon--md">
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                    <svg class="icon icon--md">
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                </div>
                <div class="review__text">
                    <svg class="icon icon--md icon--primary">
                        <use xlink:href="../../../assets/images/sprite.svg#quote_left"></use>
                    </svg>
                    <p>Quick and efficient service - I would use them again.</p>
                    <svg class="icon icon--md icon--primary">
                        <use xlink:href="../../../assets/images/sprite.svg#quote_right"></use>
                    </svg>
                </div>
            </div>
        </div>
        <a href="https://g.page/a-g-appliances/review" class="btn-round btn--secondary">leave a review</a>
    </section>
</div>