<div class="container-main">
    <div class="header-backfill"></div>
    <div class="header">
        <div class="header__logo-wrapper">
            <a [routerLink]="[ '/']">
                <img class="header__logo-wrapper--image" src="../../../assets/images/logo-header.svg" alt="" />
            </a>
        </div>
        <div class="header__email">
            <svg class="icon icon--md icon icon--white">
                <use xlink:href="../../../assets/images/sprite.svg#mail_filled"></use>
            </svg>
            <a href="mailto:contact@ag-repairs.co.uk">contact@ag-repairs.co.uk</a>
        </div>
        <div class="header__phone">
            <svg class="icon icon--md icon icon--white">
                <use xlink:href="../../../assets/images/sprite.svg#phone_filled"></use>
            </svg>
            <a href="tel:0207 476 8725">0207 476 8725</a>
        </div>
        <div class="header__mobile">
            <svg class="icon icon--md icon icon--white">
                <use xlink:href="../../../assets/images/sprite.svg#touchscreen_smartphone_filled"></use>
            </svg>
            <a href="tel:0754 085 2102">0754 085 2102</a>
        </div>
    </div>
    <div class="intro">
        <div class="intro__image">
            <img src="../../assets/images/appliances.jpg" alt="">
        </div>
        <header>
            <h1>{{headerText}}</h1>
        </header>
        <div class="intro__sub">
            <div class="sub-item">
                <svg class="icon icon--md icon--primary">
                    <use xlink:href="../../../assets/images/sprite.svg#checked"></use>
                </svg>
                <p>Fast, reliable service</p>
            </div>
            <div class="sub-item">
                <svg class="icon icon--md icon--primary">
                    <use xlink:href="../../../assets/images/sprite.svg#checked"></use>
                </svg>
                <p>Largest UK coverage</p>
            </div>
            <div class="sub-item">
                <svg class="icon icon--md icon--primary">
                    <use xlink:href="../../../assets/images/sprite.svg#checked"></use>
                </svg>
                <p>Same/next day appointments</p>
            </div>
            <div class="sub-item">
                <svg class="icon icon--md icon--primary">
                    <use xlink:href="../../../assets/images/sprite.svg#checked"></use>
                </svg>
                <p>Same/next day appointments</p>
            </div>
        </div>
    </div>
    <section class="reasons">
            <header class="section-header section-header--services">
              <h2 class="heading-1 heading-1--primary">why choose our services</h2>
            </header>
            <div class="reason">
              <svg class="icon icon--lg icon icon--secondary">
                <use xlink:href="../../../assets/images/sprite.svg#security_checked"></use>
              </svg>
              <h3 class="heading-3 heading-3--grey">6 months guarantee on all appliance repairs</h3>
            </div>
            <div class="reason">
              <svg class="icon icon--lg icon icon--secondary">
                <use xlink:href="../../../assets/images/sprite.svg#person_at_home"></use>
              </svg>
              <h3 class="heading-3 heading-3--grey">Same and next day visits at no additional cost</h3>
            </div>
            <div class="reason">
              <svg class="icon icon--lg icon icon--secondary">
                <use xlink:href="../../../assets/images/sprite.svg#cancel_2"></use>
              </svg>
              <h3 class="heading-3 heading-3--grey">No hidden costs, no call out charges, no parking fees</h3>
            </div>
            <div class="reason">
              <svg class="icon icon--lg icon icon--secondary">
                <use xlink:href="../../../assets/images/sprite.svg#user_group_man_man"></use>
              </svg>
              <h3 class="heading-3 heading-3--grey">Experienced Technicians</h3>
            </div>
          </section>
    <section class="appliances-intro">
        <p>
            Our appliance repair service centre offers local professional repair service of household appliances and
            electronics using top quality tradesmanship and parts. We are able to resolve technical problems and mend
            your appliance right in your home. Differentiated approach to technical problems by experienced tradesmen
            allows our engineers to accurately determine the nature of the problem, source the necessary parts, if they
            need replacing and quickly repair the failed appliance, be it a <span><a
                    [routerLink]="[ '/appliance-repairs/washing-machine-repairs' ]">washing machine repairs</a></span>,
            <span><a [routerLink]="[ '/appliance-repairs/microwave-repairs' ]">microwave</a></span>, <span><a
                    [routerLink]="[ '/appliance-repairs/electric-oven-repairs' ]">electric oven</a></span>,
            <span><a [routerLink]="[ '/appliance-repairs/dishwasher-repairs' ]">dishwasher</a></span> or any other
            white good.
        </p>
        <p>Our service is based on many years of experience with various
            tools and devices, supplemented by a serious knowledge of domestic and commercial appliances. The use of
            advanced tools and manufacturer’s spare parts accelerates the process of repairing household appliances, our
            <span>repairs are guaranteed for 6 months</span>.</p>
        <p>
            In a case of a serious issue, for example when a washer requires new bearings, a full diagnosis of the
            appliance will be conducted and, after the defect has been identified, we will suggest the best way to solve
            the problem. In particularly difficult cases necessary parts or components can be ordered. The parts are
            usually delivered next day.
        </p>
        <p>
            To call out our washing machine repairs engineer to your house, you can contact us by phone on <a
                href="tel:0207 476 8725"><span>0207 476 8725</span></a> or <a href="tel:0207 476 8725"><span>0754 085
                    2102</span></a> , and
            briefly describe the technical problem you are experiencing. In most cases, we only need one visit to repair
            your appliance. The engineer carries parts that are mostly used in his van when he visits your home.
        </p>
    </section>
    <section class="services-container">
        <header class="section-header">
            <h1 class="heading-1 heading-1--primary">Services</h1>
        </header>
        <p class="section-text">A&G specialises in <span><a
                    [routerLink]="[ '/appliance-repairs/washing-machine-repairs' ]">washing machine repairs</a></span>
            in South, East, West, Central, and North London.
            Engineers have many years
            of experience in <span><a [routerLink]="[ '/appliance-repairs/electric-oven-repairs' ]">electric oven
                    repairs</a></span>, <span><a [routerLink]="[ '/appliance-repairs/tumble-dryer-repairs' ]">tumble
                    dryer repairs</a></span>, <span><a
                    [routerLink]="[ '/appliance-repairs/dishwasher-repairs' ]">dishwasher repairs</a></span> and
            <span><a [routerLink]="[ '/appliance-repairs/microwave-repairs' ]">microwave repairs</a></span>. We
            also do tumble dryer repairs and cooker hood repairs. Place your confidence in a professional appliance
            repair
            company.</p>
        <div class="services">
            <a class="services__service" [routerLink]="['/appliance-repairs/washing-machine-repairs']">
                <p class="service__title">Washing Machine Repairs</p>
                <svg class="service__icon">
                    <use xlink:href="../../../assets/images/sprite.svg#washing_machine"></use>
                </svg>
            </a>
            <a class="services__service" [routerLink]="['/appliance-repairs/dishwasher-repairs']">
                <p class="service__title">Diswasher Repairs</p>
                <svg class="service__icon">
                    <use xlink:href="../../../assets/images/sprite.svg#dishwasher"></use>
                </svg>
            </a>
            <a class="services__service" [routerLink]="['/appliance-repairs/tumble-dryer-repairs']">
                <p class="service__title">Tumble Dryer Repairs</p>
                <svg class="service__icon">
                    <use xlink:href="../../../assets/images/sprite.svg#tumble_dryer"></use>
                </svg>
            </a>
            <a class="services__service" [routerLink]="['/appliance-repairs/electric-oven-repairs']">
                <p class="service__title">Electric Cooker/Oven Repairs</p>
                <svg class="service__icon">
                    <use xlink:href="../../../assets/images/sprite.svg#cooker"></use>
                </svg>
            </a>
            <a class="services__service" [routerLink]="['/appliance-repairs/microwave-repairs']">
                <p class="service__title">Microwave Repairs</p>
                <svg class="service__icon">
                    <use xlink:href="../../../assets/images/sprite.svg#microwave"></use>
                </svg>
            </a>
            <a class="services__service" [routerLink]="['/appliance-repairs/extractor-hood-repairs']">
                <p class="service__title">Extractor Hood Repairs</p>
                <svg class="service__icon">
                    <use xlink:href="../../../assets/images/sprite.svg#cooker_hood"></use>
                </svg>
            </a>
            <a class="services__service" [routerLink]="['/appliance-repairs/fridge-freezer-repairs']">
                <p class="service__title">Fridge Freezer Repairs</p>
                <svg class="service__icon">
                    <use xlink:href="../../../assets/images/sprite.svg#fridge"></use>
                </svg>
            </a>
            <a class="services__service" [routerLink]="['/appliance-repairs/commercial-appliance-repairs']">
                <p class="service__title">Commercial Appliance Repairs</p>
                <svg class="service__icon--commercial">
                    <use xlink:href="../../../assets/images/sprite.svg#cooker_dotted"></use>
                </svg>
            </a>
        </div>
    </section>
</div>