@import "../../styles/variables";

.appliances-intro {
    grid-column: col-start 1 / col-end 8;
    display: grid;
    margin-top: 4rem;

    p {
        font-size: $font-size-primary;
        color: $color-grey;
        text-rendering: optimizeLegibility;
        text-align: justify;

        a,
        span {
            text-decoration: none;
            color: $color-primary;
            font-weight: 700;
            font-size: 1.8rem;
        }
    }
}

.appliance-repair-intro {
    grid-column: center-start / center-end;
    display: grid;
    grid-template-columns: 4fr 1fr;

    @media only screen and (max-width: 700px) {
        header {
            h1 {
                font-size: 2.5rem;
            }
        }

        h2 {
            font-size: 1.6rem;
        }
    }

    @media only screen and (max-width: 600px) {
        header {
            h1 {
                font-size: 2.2rem;
            }
        }
    }

    @media only screen and (max-width: 550px) {
        header {
            h1 {
                font-size: 2rem;
            }
        }
    }

    @media only screen and (max-width: 500px) {
        header {
            display: none;
        }

        margin-top: 4rem;
    }

    &__title-text {
        grid-column: 1 / -1;
        font-size: 1.6rem;
        color: $color-grey;

        @media only screen and (max-width: 1100px) {
            grid-row: 2 / 3;
            grid-column: 1 / 2;
            text-align: justify;
        }

        @media only screen and (max-width: 700px) {
            grid-column: 1 / -1;
            // grid-column: 1 / 2;
            // text-align: justify;
        }
    }

    &__text {
        display: grid;
        grid-row-gap: 1rem;
        // text-align: justify;

        @media only screen and (max-width: 1100px) {
            grid-column: 1 / -1;
        }

        h2 {
            color: #fff;
            background-color: $color-primary;
            padding: 0.25rem .5rem;
            justify-self: center;
        }

        ul {
            font-size: $font-size-primary;
            color: $color-grey;
            text-rendering: optimizeLegibility;

            li {
                list-style-position: inside;
            }
        }
    }

    &__icon {
        align-self: center;
        justify-self: center;

        svg {
            fill: $color-secondary;
            height: 15rem;
            width: 15rem;
        }

        @media only screen and (max-width: 1100px) {
            grid-row: 2 / 3;
            grid-column: 2 / 3;
            justify-self: center;

            svg {
                height: 5rem;
                width: 5rem;
            }
        }

        @media only screen and (max-width: 700px) {
            display: none;
        }
    }
}

.call-banner {
    grid-column: full-start / full-end;
    background-color: $color-secondary;
    color: #fff;
    text-align: center;
    padding: 2rem;
    margin-top: 4rem;

    h1 {
        font-size: 2.5rem;
    }

    a {
        text-decoration: none;
        color: $color-primary;
        font-weight: 700;
        font-size: 2.75rem;
    }

    @media only screen and (max-width: 400px) {
        h1 {
            font-size: 2rem;
        }

        a {
            font-size: 2.25rem;
        }
    }
}

.repair-prices {
    grid-column: center-start / center-end;
    display: grid;
    grid-template-columns: minmax(3rem, 1fr) repeat(2, minmax(25rem, 2fr)) minmax(3rem, 1fr);
    grid-column-gap: 4rem;

    @media only screen and (max-width: 750px) {
        grid-template-columns: minmax(3rem, 1fr) minmax(25rem, 30rem) minmax(3rem, 1fr);
        grid-row-gap: 4rem;

        header {
            margin-bottom: 0 !important;
        }
    }

    @media only screen and (max-width: 615px) {
        grid-template-columns: 1fr minmax(25rem, 30rem) 1fr;
        grid-column-gap: 0;
    }

    &__freestanding,
    &__integrated {
        display: grid;
        padding: 2rem;
        grid-row-gap: 2rem;
        box-shadow: 0 1.5rem 4rem rgba(#000, .1);

        &--title {
            background-color: $color-primary;
            padding: 0.25rem .5rem;
            justify-self: center;
            text-transform: capitalize;
        }

        &--price {
            justify-self: center;

            p {
                color: #fff;
                font-size: 4.5rem;

                span {
                    font-size: 2rem;
                }
            }
        }

        &--points {
            justify-self: center;
            color: #fff;
            font-size: 1.2rem;
            text-transform: capitalize;

        }

        &--points-2::after {
            content: " *";
            color: $color-primary;
        }

        &--points-3::after {
            content: " **";
            color: $color-primary;
        }

        &--points-4::after {
            content: " ***";
            color: $color-primary;
        }
    }

    &__terms {
        grid-column: 1 / -1;
        display: grid;
        margin-top: 4rem;
        font-size: 1.6rem;

        &--1::before {
            content: "* ";
            color: $color-primary;
        }

        &--2::before {
            content: "** ";
            color: $color-primary;
        }

        &--3::before {
            content: "*** ";
            color: $color-primary;
        }

        &--4::before {
            content: "**** ";
            color: $color-primary;
        }
    }

    &__freestanding {
        grid-column: 2 / 3;
        background-color: $color-secondary;

        @media only screen and (max-width: 750px) {
            grid-column: 2 / 3;
        }
    }

    &__integrated {
        grid-column: 3 / 4;
        background-color: $color-secondary;

        @media only screen and (max-width: 750px) {
            grid-column: 2 / 3;
        }
    }
}

.repair-tips {
    grid-column: center-start / center-end;
    display: grid;
    grid-template-columns: 75% 25%;
    grid-column-gap: 2rem;

    &__text {
        font-size: $font-size-primary;
        color: $color-grey;
        text-rendering: optimizeLegibility;
        text-align: justify;

        ul {
            li {
                list-style-type: none;
            }
        }
    }

    &__error-codes {
        background-color: $color-secondary;
        display: grid;
        grid-template-rows: min-content;
        padding: 2rem;
        grid-row-gap: 2rem;
        height: 50%;

        h2 {
            background-color: $color-primary;
            padding: 0.25rem .5rem;
            justify-self: center;
            align-self: start;
            text-transform: capitalize;
        }
    }

    &__links {
        justify-self: start;
        align-self: start;

        li {
            list-style-type: none;
            text-transform: capitalize;
            line-height: 2;
            text-decoration: none;
            color: #fff;
            font-size: 1.5rem;
            vertical-align: middle;

            a {
                text-decoration: none;
                color: #fff;
                font-size: 1.5rem;
                vertical-align: middle;
            }
        }
    }
}