<div class="header-backfill"></div>
<div class="header">
    <div class="header__logo-wrapper">
        <img class="header__logo-wrapper--image" src="../../../assets/images/logo-header.svg" alt="" />
    </div>
    <div class="header__email">
        <svg class="icon icon--md icon icon--white">
            <use xlink:href="../../../assets/images/sprite.svg#mail_filled"></use>
        </svg>
        <a href="mailto:contact@ag-repairs.co.uk">contact@ag-repairs.co.uk</a>
    </div>
    <div class="header__phone">
        <svg class="icon icon--md icon icon--white">
            <use xlink:href="../../../assets/images/sprite.svg#phone_filled"></use>
        </svg>
        <a href="tel:0207 476 8725">0207 476 8725</a>
    </div>
    <div class="header__mobile">
        <svg class="icon icon--md icon icon--white">
            <use xlink:href="../../../assets/images/sprite.svg#touchscreen_smartphone_filled"></use>
        </svg>
        <a href="tel:0754 085 2102">0754 085 2102</a>
    </div>
</div>