@import "../../styles/variables";

.intro {

    @media only screen and (max-width: 600px) {
        height: 38rem;
    }

    @media only screen and (max-width: 450px) {
        height: 40rem;
    }

    &__image {
        grid-row: 1 / 4;
    }

    &__discount {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
        justify-self: center;

        @media only screen and (max-width: 435px) {
            margin-top: 1rem;
        }

        svg {
            display: inline-block;
            transform: translateY(1.5rem);
            margin-right: .5rem;

            @media only screen and (max-width: 750px) {
                height: 4.5rem;
                width: 4.5rem;
            }

            @media only screen and (max-width: 550px) {
                height: 3.5rem;
                width: 3.5rem;

                transform: translateY(1rem);
            }

            @media only screen and (max-width: 435px) {
                display: none;
            }
        }

        h2 {
            display: inline-block;
            color: #fff;
            text-transform: capitalize;
            font-size: 2.5rem;
            border-bottom: .5rem solid $color-primary;
            transform: translateY(-.5rem);

            @media only screen and (max-width: 750px) {
                font-size: 1.8rem;
            }

            @media only screen and (max-width: 550px) {
                font-size: 1.45rem;
            }

            @media only screen and (max-width: 375px) {
                font-size: 1.35rem;
            }

            @media only screen and (max-width: 355px) {
                font-size: 1.25rem;
            }

            span {
                font-weight: 700;
            }

        }

        h2::after {
            content: " \2020";
            color: gold;
            font-size: 1.6rem;
        }
    }
}

.appliances-intro {
    grid-column: col-start 1 / col-end 8;
    display: grid;
    margin-top: 4rem;

    p {
        font-size: $font-size-primary;
        color: $color-grey;
        text-rendering: optimizeLegibility;
        text-align: justify;

        a,
        span {
            text-decoration: none;
            color: $color-primary;
            font-weight: 700;
            font-size: 1.8rem;
        }
    }
}

.appliance-repair-intro {
    grid-column: center-start / center-end;
    display: grid;
    grid-template-columns: 4fr 1fr;

    @media only screen and (max-width: 700px) {
        header {
            h2 {
                font-size: 2.5rem;
            }
        }
    }

    @media only screen and (max-width: 600px) {
        header {
            h2 {
                font-size: 2.2rem;
            }
        }
    }

    @media only screen and (max-width: 550px) {
        header {
            h2 {
                font-size: 2rem;
            }
        }
    }

    @media only screen and (max-width: 1000px) {
        header {
            display: none;
        }

        margin-top: 4rem;
    }

    &__title-text {
        grid-column: 1 / -1;
        font-size: 1.6rem;
        color: $color-grey;

        @media only screen and (max-width: 1100px) {
            grid-row: 2 / 3;
            grid-column: 1 / 2;
            text-align: justify;
        }

        @media only screen and (max-width: 700px) {
            grid-column: 1 / -1;
            text-align: justify;
        }

        @media only screen and (max-width: 500px) {
            grid-column: 1 / -1;
            grid-row: 1 / 2;
            text-align: justify;
        }
    }

    &__text {
        display: grid;
        grid-row-gap: 1rem;

        @media only screen and (max-width: 1100px) {
            grid-column: 1 / -1;
        }

        h3 {
            justify-self: center;
        }

        ul {
            margin-left: 1.35rem;
            font-size: $font-size-primary;
            color: $color-grey;
            text-rendering: optimizeLegibility;

            li {
                text-align: justify;
            }

            li:not(:last-child) {
                margin-bottom: 0.25rem;
            }
        }
    }

    &__icon {
        align-self: center;
        justify-self: center;

        svg {
            fill: $color-secondary;
            height: 15rem;
            width: 15rem;
        }

        @media only screen and (max-width: 1100px) {
            grid-row: 2 / 3;
            grid-column: 2 / 3;
            justify-self: center;

            svg {
                height: 5rem;
                width: 5rem;
            }
        }

        @media only screen and (max-width: 1000px) {
            display: none;
        }
    }
}

.repair-prices {
    grid-column: center-start / center-end;
    display: grid;
    grid-template-columns: minmax(3rem, 1fr) repeat(2, minmax(25rem, 2fr)) minmax(3rem, 1fr);
    grid-column-gap: 4rem;

    @media only screen and (max-width: 750px) {
        grid-template-columns: minmax(3rem, 1fr) minmax(25rem, 30rem) minmax(3rem, 1fr);
        grid-row-gap: 4rem;

        header {
            margin-bottom: 0 !important;
        }
    }

    @media only screen and (max-width: 615px) {
        grid-template-columns: 1fr minmax(25rem, 30rem) 1fr;
        grid-column-gap: 0;
    }

    &__freestanding,
    &__integrated,
    &__extractor-hood {
        display: grid;
        padding: 2rem;
        grid-row-gap: 2rem;
        box-shadow: 0 1.5rem 4rem rgba(#000, .1);

        &--title {
            justify-self: center;
            text-transform: capitalize;
        }

        &--price {
            justify-self: center;

            p {
                color: #fff;
                font-size: 4.5rem;

                span {
                    font-size: 2rem;
                }
            }
        }

        &--points {
            justify-self: center;
            color: #fff;
            font-size: 1.2rem;
            text-transform: capitalize;

        }

        &--points-3::after {
            content: " *";
            color: $color-primary;
        }

        &--points-4::after {
            content: " **";
            color: $color-primary;
        }
    }

    &__terms {
        grid-column: 1 / -1;
        display: grid;
        margin-top: 4rem;
        font-size: 1.6rem;

        &--1::before {
            content: "* ";
            color: $color-primary;
        }

        &--2::before {
            content: "* ";
            color: $color-primary;
        }

        &--3::before {
            content: "** ";
            color: $color-primary;
        }

        &--4::before {
            content: "**** ";
            color: $color-primary;
        }
    }

    &__freestanding {
        grid-column: 2 / 3;
        background-color: $color-secondary;

        @media only screen and (max-width: 750px) {
            grid-column: 2 / 3;
        }
    }

    &__integrated {
        grid-column: 3 / 4;
        background-color: $color-secondary;

        @media only screen and (max-width: 750px) {
            grid-column: 2 / 3;
        }
    }

    &__extractor-hood {
        grid-column: 2 / 4;
        background-color: $color-secondary;
        justify-self: center;
        padding-left: 6rem;
        padding-right: 6rem;

        @media only screen and (max-width: 750px) {
            grid-column: 2 / 3;
        }
    }
}

.common-faults {
    grid-column: center-start / center-end;
    display: grid;

    h2 {
        justify-self: center;
        margin-bottom: 3rem;
    }

    &__fault-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        grid-column-gap: 2rem;
        grid-row-gap: 2rem;

    }

    &__fault {
        background-color: $color-secondary;
        color: #fff;
        font-size: $font-size-primary;
        display: grid;
        padding: 1rem 0;

        p {
            display: inline-block;
            margin: 0 !important;
            justify-self: center;
            border-bottom: 0.25rem solid $color-primary;
            text-transform: capitalize;
        }
    }
}

.repair-tips {
    grid-column: center-start / center-end;
    display: grid;
    grid-template-columns: 75% 25%;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;

    @media only screen and (max-width: 1050px) {
        grid-template-columns: 1fr;
    }

    .section-heading {
        margin-bottom: 2rem !important;
    }

    &__text {
        font-size: $font-size-primary;
        color: $color-grey;
        text-rendering: optimizeLegibility;
        text-align: justify;

        .p-heading {
            display: inline-block;
            border-bottom: 0.25rem solid $color-primary;
            margin-bottom: 1rem;
        }

        ul {
            margin-left: 1.35rem;

            li:not(:last-child) {
                margin-bottom: 0.25rem;
            }
        }
    }

    &__error-codes {
        background-color: $color-secondary;
        display: grid;
        align-self: start;
        padding: 2rem;
        grid-row-gap: 2rem;

        h3 {
            justify-self: center;
            align-self: start;
            text-transform: capitalize;
        }
    }

    &__links {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        grid-column-gap: 2rem;
        grid-row-gap: 2rem;

        a,
        p {
            text-decoration: none;
            color: #fff;
            font-size: 1.5rem;
            vertical-align: middle;
            margin: 0 !important;
            text-transform: capitalize;

            span {
                color: $color-primary;
            }
        }
    }
}