<form class="form" [formGroup]="form" (ngSubmit)="onSubmit(form)">
  <div class="form-groups-container">
    <div class="form-group">
      <label class="label label--required" for="applianceType">Appliance Type</label>
      <select class="form-control" formControlName="applianceType"
        [ngClass]="{'form-group--error': isError && !form.controls.applianceType.valid}" aria-label="Appliance Type">
        <option value="" disabled>Please select</option>
        <option value="Washing Machine">Washing Machine</option>
        <option value="Washer Dryer">Washer Dryer</option>
        <option value="Dishwasher">Dishwasher</option>
        <option value="Tumble Dryer">Tumble Dryer</option>
        <option value="Condenser Dryer">Condenser Dryer</option>
        <option value="Electric Oven">Electric Oven</option>
        <option value="Electric Cooker">Electric Cooker</option>
        <option value="Range Cooker">Range Cooker</option>
        <option value="Fridge Freezer">Fridge Freezer</option>
        <option value="Fridge Freezer (American)">Fridge Freezer (American)</option>
        <option value="Microwave">Microwave</option>
        <option value="Commercial Microwave">Commercial Microwave</option>
        <option value="Commercial Dishwasher">Commercial Dishwasher</option>
      </select>
    </div>
    <div class="form-group">
      <label class="label label--required" for="applianceMake">Appliance Make</label>
      <select class="form-control" formControlName="applianceMake"
        [ngClass]="{'form-group--error': isError && !form.controls.applianceMake.valid}" aria-label="Appliance Make">
        <option value="" disabled>Please select</option>
        <option value='AEG'>AEG</option>
        <option value='Baumatic'>Baumatic</option>
        <option value='Bosch'>Bosch</option>
        <option value='Beko'>Beko</option>
        <option value="CDA">CDA</option>
        <option value='De Dietrich'>De Dietrich</option>
        <option value="Electrolux">Electrolux</option>
        <option value='Hoover'>Hoover</option>
        <option value='Hotpoint'>Hotpoint</option>
        <option value='Indesit'>Indesit</option>
        <option value="Kenwood">Kenwood</option>
        <option value="Kuppersbusch">Kuppersbusch</option>
        <option value='LG'>LG</option>
        <option value='Miele'>Miele</option>
        <option value='Neff'>Neff</option>
        <option value='Rangemaster'>Rangemaster</option>
        <option value='Smeg'>Smeg</option>
        <option value='Samsung'>Samsung</option>
        <option value='Siemens'>Siemens</option>
        <option value='Whirlpool'>Whirlpool</option>
        <option value='Fisher &amp; Paykel'>Fisher &amp; Paykel</option>
        <option value='Zanussi'>Zanussi</option>
        <option value='Other'>Other</option>
      </select>
    </div>
    <div class="form-group">
      <label class="label label--required" for="jobType">Job type</label>
      <select class="form-control" formControlName="jobType"
        [ngClass]="{'form-group--error': isError && !form.controls.jobType.valid}" aria-label="Job Type">
        <option value="" disabled>Please select</option>
        <ng-container *ngIf="isRepAndInst; else repOnly">
          <option value="Repair">Repair</option>
          <option value="Installation">Installation</option>
        </ng-container>
        <ng-template #repOnly>
          <option value="Repair">Repair</option>
        </ng-template>
      </select>
    </div>
    <div class="form-group">
      <label class="label label--required" for="fitting">Freestanding or Intergrated</label>
      <select class="form-control" formControlName="fitting"
        [ngClass]="{'form-group--error': isError && !form.controls.fitting.valid}"
        aria-label="Freestanding or Integrated">
        <option value="" disabled>Please select</option>
        <option value="Freestanding">Freestanding</option>
        <option value="Integrated">Integrated</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <div class="error-message">
        <p [ngStyle]="{'visibility': isError ? 'visible' : 'hidden'}">Please fill out required fields.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <button type="submit" class="btn-round btn--white" aria-label="Submit" (click)="scroll()">submit</button>
    </div>
  </div>
</form>