@import "../../styles/variables";

.nav-wrapper {
    min-height: 6rem;
}

.nav {
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.25);
    border-bottom: none;
    z-index: 999;
    position: fixed;
    width: 100%;
    padding: 0;
    height: 6rem;
    background-color: rgba(255, 255, 255, 1);
    display: grid;
    grid-gap: 2rem;
    grid-template-columns:
        [full-start] minmax(3rem, 1fr) minmax(min-content, 20rem) [center-start] repeat(8, [col-start] max-content [col-end]) [center-end] minmax(min-content, 21rem) minmax(3rem, 1fr) [full-end];

    @media only screen and (max-width: 1342px) {
        grid-template-columns:
            [full-start] minmax(3rem, 1fr) minmax(min-content, 13rem) [center-start] repeat(8, [col-start] max-content [col-end]) [center-end] minmax(min-content, 13.5rem) minmax(3rem, 1fr) [full-end];

        grid-gap: 1.5rem;
        height: 5rem;

        .nav__numbers {
            svg {
                height: 2rem;
                width: 2rem;
                margin-right: 0.5rem;
            }
        }
    }

    @media only screen and (max-width: 1048px) {
        grid-template-columns: 1fr 3fr;
        height: 5rem;

        .btn-sidebar {
            background-color: #fff;
            color: $color-primary;
            border: none;
            padding-left: 2.5rem;
            justify-self: start;

            svg {
                height: 3rem;
                width: 3rem;
                transform: translateY(0.25rem);
            }
        }

        .nav__numbers {
            justify-self: end;
            align-self: center;
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            @media only screen and (max-width: 470px) {
                grid-template-columns: 1fr;
            }
        }

        &__resp-phone {
            display: flex;
            align-items: center;
            font-family: $font-primary;
            margin-right: 3rem;

            a {
                text-decoration: none;
                color: $color-secondary;
                font-size: $font-size-primary;
                font-weight: 700;
            }
        }

        &__resp-mobile {
            display: flex;
            align-items: center;
            font-family: $font-primary;
            margin-right: 3rem;

            a {
                text-decoration: none;
                color: $color-secondary;
                font-size: $font-size-primary;
                font-weight: 700;
            }

            @media only screen and (max-width: 470px) {
                display: none;
            }
        }
    }


    p {
        text-transform: capitalize;
    }

    &__logo {
        grid-column: 2 / col-start 1;
        align-self: center;

        img {
            width: 14rem;
            opacity: 0;
            transition: all 0.3s ease;

            @media only screen and (max-width: 1342px) {
                width: 12rem;
            }
        }
    }

    &__menu-items {
        display: flex;
        cursor: pointer;
        align-items: center;
        transform: translateY(0.15rem);
        font-size: 1.6rem;
        font-weight: 400;
        color: $color-secondary;
        text-decoration: none;

        p {
            margin: 0 !important;
        }

        @media only screen and (max-width: 1342px) {
            font-size: 1.4rem;
        }

        &--1 {
            grid-column: col-start 1 / col-end 1;
        }

        &--2 {
            grid-column: col-start 2 / col-end 2;
        }

        &--3 {
            grid-column: col-start 3 / col-end 3;
        }

        &--4 {
            grid-column: col-start 4 / col-end 4;
        }

        &--5 {
            grid-column: col-start 5 / col-end 5;
        }

        &:hover {
            color: $color-primary;

            .nav__menu-items-link {
                color: $color-primary;
            }
        }

        &--active {
            .nav__menu-items-link {
                border-bottom: 0.25rem solid $color-primary;
            }
        }
    }

    &__menu-items-link {
        border-bottom: 0.25rem solid #fff;
        display: inline-block;
    }

    mat-menu {
        outline-style: none;
        box-shadow: none;
        border-color: transparent;
    }

    &__phone {
        display: flex;
        align-items: center;
        justify-self: end;
        transform: translateY(0.25rem);
        font-size: 1.8rem;
        font-weight: 700;
        font-family: $font-primary;
        opacity: 0;
        transition: all 0.3s ease;

        @media only screen and (max-width: 1342px) {
            font-size: 1.6rem;
        }

        a {
            text-decoration: none;
            color: $color-grey;
        }

        svg {
            margin-right: 0.5rem;
        }
    }

    &--sticky {

        & img,
        & .nav__phone {
            opacity: 100;
        }
    }
}

.dropdown {
    position: relative;
    display: inline-block;

    #services {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        text-decoration: none;

        a {
            color: $color-secondary;
        }

        a:hover {
            color: $color-primary;
            text-decoration: none;
        }

        svg {
            vertical-align: top;
        }
    }

    &:hover {
        .dropdown-content {
            display: block;
        }
    }
}

.dropdown-content {
    border-top: 0.25rem solid $color-primary;
    display: none;
    position: absolute;
    top: 94%;
    background-color: #fff;
    width: 27rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

    a {
        color: $color-secondary;
        font-family: $font-primary;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    a:hover {
        background-color: #fafafa;
        color: $color-primary;
    }
}