<nav *ngIf="isMobile" role="navigation" class="nav" #nav [ngClass]="{'nav--sticky': isSticky}">
  <button class="btn-sidebar" type="button" aria-label="Toggle sidenav" (click)="onToggleSidenav()">
    <svg class="icon icon--md icon--primary">
      <use xlink:href="../../../assets/images/sprite.svg#squared_menu"></use>
    </svg>
  </button>
  <div class="nav__numbers">
    <div class="nav__resp-phone">
      <svg class="icon icon--sm icon--primary">
        <use xlink:href="../../../assets/images/sprite.svg#phone_filled"></use>
      </svg>
      <a href="tel:0207 476 8725">0207 476 8725</a>
    </div>
    <div class="nav__resp-mobile">
      <svg class="icon icon--sm icon--primary">
        <use xlink:href="../../../assets/images/sprite.svg#touchscreen_smartphone_filled"></use>
      </svg>
      <a href="tel:0754 085 2102">0754 085 2102</a>
    </div>
  </div>
</nav>
<nav *ngIf="!isMobile" role="navigation" class="nav" #nav [ngClass]="{'nav--sticky': isSticky}">
  <div class="nav__logo">
    <a [routerLink]="['/']">
      <img src="../../../assets/images/logo-nav.svg" alt="">
    </a>
  </div>
  <a class="nav__menu-items nav__menu-items--1" [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger"
    (mouseover)="menuTrigger.openMenu()">
    Appliance Repairs
    <svg class="icon icon--sm icon--secondary">
      <use xlink:href="../../../assets/images/sprite.svg#expand_arrow"></use>
    </svg>
  </a>
  <a class="nav__menu-items nav__menu-items--2" [routerLink]="['/']">
    Price List
  </a>
  <a class="nav__menu-items nav__menu-items--3" [routerLink]="['/']">
    Areas Covered
  </a>
  <a class="nav__menu-items nav__menu-items--4" [routerLink]="['/']">
    About Us
  </a>
  <a class="nav__menu-items nav__menu-items--5" [routerLink]="['/']">
    Estate Agents & Landlors
  </a>
  <div class="nav__phone">
    <svg class="icon icon--sm icon--primary">
      <use xlink:href="../../../assets/images/sprite.svg#phone_filled"></use>
    </svg>
    <a href="tel:0207 476 8725">0207 476 8725</a>
  </div>
  <mat-menu #menu="matMenu" class="custom" [overlapTrigger]="false">
    <ng-template matMenuContent>
      <span (mouseleave)="menuTrigger.closeMenu()">
        <a [routerLink]="['/appliance-repairs/washing-machine-repairs']">
          <button mat-menu-item>Washing Machine Repairs</button>
        </a>
        <a [routerLink]="['/appliance-repairs/dishwasher-repairs']">
          <button mat-menu-item>
            Dishwasher Repairs
          </button>
        </a>
        <a [routerLink]="['/appliance-repairs/tumble-dryer-repairs']">
          <button mat-menu-item>
            Tumble Dryer Repairs
          </button>
        </a>
        <a [routerLink]="['/appliance-repairs/electric-oven-repairs']">
          <button mat-menu-item>
            Electric Oven Repairs
          </button>
        </a>
        <a [routerLink]="['/appliance-repairs/microwave-repairs']">
          <button mat-menu-item>
            Microwave Repairs
          </button>
        </a>
        <a [routerLink]="['/appliance-repairs/extractor-hood-repairs']">
          <button mat-menu-item>
            Extractor Hood Repairs
          </button>
        </a>
        <a [routerLink]="['/appliance-repairs/fridge-freezer-repairs']">
          <button mat-menu-item>
            Fridge Freezer Repairs
          </button>
        </a>
        <a [routerLink]="['/appliance-repairs/commercial-appliance-repairs']">
          <button mat-menu-item>
            Commercial Dishwasher Repairs
          </button>
        </a>
        <a [routerLink]="['/appliance-repairs/commercial-appliance-repairs']">
          <button mat-menu-item>
            Commercial Microwave Repairs
          </button>
        </a>
        <a [routerLink]="['/appliance-repairs/commercial-appliance-repairs']">
          <button mat-menu-item>
            Commercial Oven Repairs
          </button>
        </a>
      </span>
    </ng-template>
  </mat-menu>
</nav>