<div class="container">
  <div class="header">
    <div class="header__logo-wrapper">
      <img class="header__logo-wrapper--image" src="../../../assets/images/logo_red-white.svg" alt="" />
    </div>
    <div class="header__email">
      <i class="material-icons material-icons--white">email</i>
      <a href="mailto:contact@ag-repairs.co.uk">contact@ag-repairs.co.uk</a>
    </div>
    <div class="header__phone">
      <i class="material-icons material-icons--white">phone</i>
      <a href="tel:0207 476 8725">0207 476 8725</a>
    </div>
    <div class="header__mobile">
      <i class="material-icons material-icons--white">smartphone</i>
      <a href="tel:0754 085 2102">0754 085 2102</a>
    </div>
  </div>
  <section class="intro">
    <div class="intro__text-box">
      <h1 class="intro-primary">
        <span class="intro-primary--main">The UK's number 1 domestic appliance repair service</span>
        <span class="intro-primary--sub">
          <i class="material-icons material-icons--red">check_circle</i>
          <p>Fast, reliable service</p>
          <i class="material-icons material-icons--red">check_circle</i>
          <p>Largest UK coverage</p>
          <i class="material-icons material-icons--red">check_circle</i>
          <p>Same/next day appointments</p>
        </span>
      </h1>
      <a [routerLink]="['/']" class="btn-round btn--white btn--animated">get an instant quote</a>
    </div>
  </section>
  <div class="booking">
    <div>
      <i class="material-icons">
        verified_user
        </i>
        1 year guarantee on all appliance repairs
    </div>
    <div>
      <i class="material-icons">
        home
        </i>
        Same and next day visits at no additional cost
    </div>
    <div>
      <i class="material-icons">
        block
        </i>
        No hidden costs, no call out charges, no parking fees
    </div>
    <div>
      <i class="material-icons">
        group
        </i>
        EXPERIENCED
TECHNICIANS
    </div>
  </div>
  <div class="company">Company Text</div>
  <div class="appliances">Appliances</div>
  <div class="reviews">Google Reviews</div>
  <div class="coverage">Areas Covered</div>
  <div class="brands">Brands</div>
</div>