<div class="container">
  <div class="header-backfill"></div>
  <div class="header">
    <div class="header__logo-wrapper">
      <img class="header__logo-wrapper--image" src="../../../assets/images/logo_red-white.svg" alt="" />
    </div>
    <div class="header__email">
      <i class="material-icons material-icons--white">email</i>
      <a href="mailto:contact@ag-repairs.co.uk">contact@ag-repairs.co.uk</a>
    </div>
    <div class="header__phone">
      <i class="material-icons material-icons--white">phone</i>
      <a href="tel:0207 476 8725">0207 476 8725</a>
    </div>
    <div class="header__mobile">
      <i class="material-icons material-icons--white">smartphone</i>
      <a href="tel:0754 085 2102">0754 085 2102</a>
    </div>
  </div>
  <div class="intro">
    <!-- <div class="intro__text-box">
      <h1 class="intro-primary">
        <span class="intro-primary--main">The UK's number 1 domestic appliance repair service</span>
        <span class="intro-primary--sub">
          <i class="material-icons material-icons--primary">check_circle</i>
          <p>Fast, reliable service</p>
          <i class="material-icons material-icons--primary">check_circle</i>
          <p>Largest UK coverage</p>
          <i class="material-icons material-icons--primary">check_circle</i>
          <p>Same/next day appointments</p>
        </span>
      </h1>
      <a [routerLink]="['/']" class="btn-round btn--white btn--animated">get an instant quote</a>
    </div> -->
  </div>
  <section class="reasons">
    <header>
      <h1 class="heading-1 heading-1--primary">WHY CHOOSE OUR SERVICES</h1>
    </header>
    <div class="reason">
      <div class="icon-wrapper">
        <i class="material-icons material-icons--secondary material-icons--md-56">
          verified_user
        </i>
      </div>
      <h1 class="heading-2 heading-2--grey">6 months guarantee on all appliance repairs</h1>
    </div>
    <div class="reason">
      <div class="icon-wrapper">
        <i class="material-icons material-icons--secondary material-icons--md-56">
          home
        </i>
      </div>
      <h1 class="heading-2 heading-2--grey">Same and next day visits at no additional cost</h1>
    </div>
    <div class="reason">
      <div class="icon-wrapper">
        <i class="material-icons material-icons--secondary material-icons--md-56">
          block
        </i>
      </div>
      <h1 class="heading-2 heading-2--grey">No hidden costs, no call out charges, no parking fees</h1>
    </div>
    <div class="reason">
      <div class="icon-wrapper">
        <i class="material-icons material-icons--secondary material-icons--md-56">
          group
        </i>
      </div>
      <h1 class="heading-2 heading-2--grey"> Experienced Technicians</h1>
    </div>
  </section>
  <section class="request">
    <mat-tab-group mat-align-tabs="center">
      <mat-tab>
        <ng-template mat-tab-label>
          <i class="material-icons material-icons--secondary">
            build
          </i>
          Instant Qoute
        </ng-template>
        Content 1
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <i class="material-icons material-icons--secondary">
            date_range
          </i>
          Book Repair
        </ng-template>
        Content 2
      </mat-tab>
    </mat-tab-group>
  </section>