// COLOR VARIABLES

$color-primary: #e04447;
$color-primary--light: #e66568;
$color-secondary: #252f41;
$color-secondary--light: #415271;
$color-grey: #4c4d4f;

// FONT VARIABLES

$font-primary: 'Roboto',
sans-serif;

// BREAKPOINTS

$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px;
$bp-small: 37.5em; // 600px;