@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "./buttons";
@import "./typography";
@import "./variables";

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    height: 100%;
}

body {
    font-family: "Roboto", sans-serif;
}

.grid-container {
    top: 6rem;
    position: relative;
    display: grid;
    grid-template-columns:
        [full-start] minmax(3rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(3rem, 1fr) [full-end];

    @media only screen and (max-width: 1342px) {
        top: 5rem;
    }
}

.section-heading {
    margin: 4rem 0;
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-column-gap: 1rem;

    text-transform: capitalize;

    h2 {
        font-size: 2.4rem;
        font-family: $font-primary;
        color: $color-primary;
        margin: 0 !important
    }

    &::before,
    &::after {
        align-self: center;
        content: "";
        height: 0.15rem;
        display: inline-block;
        background: $color-secondary;
    }

    @media only screen and (max-width: 500px) {
        h1 {
            font-size: 2.5rem;
            margin: 0 !important;
        }
    }

    @media only screen and (max-width: 450px) {
        h1 {
            font-size: 2.2rem;
        }
    }
}

.header {
    height: 6rem;
    background-color: #252f41;
    display: grid;
    grid-column: full-start / full-end;
    grid-template-columns:
        minmax(6rem, 1fr) repeat(2, [email-col-start] 14.25rem [email-col-end]) minmax(min-content, 20rem) [logo-start] min-content [logo-end] minmax(min-content, 20rem) repeat(2, [call-col-start] 14.25rem [call-col-end]) minmax(6rem, 1fr) [full-end];
    grid-auto-flow: column;

    svg {
        margin-right: 0.5rem;
    }

    @media only screen and (max-width: 1048px) {
        grid-template-columns: minmax(3rem, 1fr) minmax(min-content, 1fr) minmax(3rem, 1fr);
        justify-content: center;
    }

    &__logo {
        width: 15rem;

        grid-column: logo-start / logo-end;
        align-self: center;

        img {
            max-width: 15rem;
        }

        @media only screen and (max-width: 1342px) {
            width: 12.5rem;

            img {
                max-width: 12.5rem;
            }
        }

        @media only screen and (max-width: 1048px) {
            grid-column: 2 / 3;
            justify-self: center;
            width: 12.5rem;

            img {
                max-width: 12.5rem;
            }
        }
    }

    &__email a,
    &__phone a,
    &__mobile a {
        text-decoration: none;
        color: #fff;
        font-size: $font-size-primary;

        @media only screen and (max-width: 1342px) {
            font-size: 1.4rem;
        }
    }

    &__email,
    &__phone,
    &__mobile {
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        font-weight: 400;
        font-family: $font-primary;

        @media only screen and (max-width: 1048px) {
            display: none;
        }
    }

    &__email {
        grid-column: email-col-start 1 / email-col-end 2;
    }

    &__phone {
        grid-column: call-col-start 1 / call-col-end 1;
    }

    &__mobile {
        grid-column: call-col-start 2 / call-col-end 2;
    }
}

.intro {
    height: 34rem;
    grid-column: full-start / full-end;
    display: grid;
    grid-template-columns: minmax(3rem, 1fr) 6fr minmax(3rem, 1fr);

    &__image {
        background-color: #fff;
        grid-column: 1 / 4;
        grid-row: 1 / 3;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    header {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        align-self: end;
        margin-bottom: 2rem;
        text-align: center;

        h1 {
            color: #fff;
            display: block;
            font-size: 3.5rem;
            font-weight: 600;

            @media only screen and (max-width: 700px) {
                font-size: 3rem;
            }

            @media only screen and (max-width: 600px) {
                font-size: 2.5rem;
            }
        }
    }

    &__sub {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 2rem;
        justify-items: center;
        align-items: center;

        @media only screen and (max-width: 1500px) {
            grid-template-columns: repeat(2, minmax(min-content, max-content));
            justify-items: start;
            justify-content: center;
            grid-column-gap: 4rem;
            grid-row-gap: 1rem;
        }

        @media only screen and (max-width: 710px) {
            grid-template-columns: repeat(2, minmax(min-content, max-content));
            justify-items: start;
            justify-content: center;
            grid-column-gap: 2rem;
            grid-row-gap: 1rem;
        }

        @media only screen and (max-width: 600px) {
            grid-template-columns: minmax(min-content, max-content);
            justify-items: start;
            justify-content: center;
            grid-row-gap: 1rem;
        }

        svg {
            margin-right: 0.5rem;

            @media only screen and (max-width: 710px) {
                width: 2rem;
                height: 2rem;

            }
        }

        p {
            font-size: 1.6rem;
            display: inline-block;
            transform: translateY(-0.6rem);
            color: #fff;

            @media only screen and (max-width: 710px) {
                font-size: 1.4rem;

                svg {
                    width: 1rem;
                    height: 1rem;
                }
            }
        }
    }
}

.reasons {
    grid-column: col-start 1 / col-end 8;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    grid-column-gap: .85rem;
    grid-row-gap: 2rem;
    justify-content: center;

    &__reason {
        align-items: center;
        display: grid;
        grid-template-columns: min-content minmax(min-content, max-content);
        grid-column-gap: 1rem;

        svg {
            height: 5rem;
            width: 5rem;
        }

        h3 {
            font-size: 1.6rem;
            display: inline-block;
            align-self: center;

        }

        .asterisk {
            color: $color-primary;
        }
    }
}

.services-container {
    grid-column: center-start / center-end;
    display: grid;

    .section-text {
        grid-column: 1 / -1;
        margin-bottom: 4rem;
        font-size: $font-size-primary;
        color: $color-grey;
        text-rendering: optimizeLegibility;
        text-align: justify;

        a,
        span {
            text-decoration: none;
            color: $color-primary;
            font-weight: 700;
            font-size: 1.8rem;
        }
    }

    .services {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 25rem));
        justify-content: center;
        grid-column-gap: 2rem;
        grid-row-gap: 5rem;

        .service__title {
            margin-bottom: 0 !important;
            background-color: $color-primary;
            width: 100%;
            font-size: 1.6rem;
            text-align: center;
            color: #fff;
        }

        &__service {
            cursor: pointer;
            padding-top: 2rem;
            display: grid;
            background-color: $color-secondary;
            color: #fff;
            justify-items: center;
            align-items: center;
            border-radius: 1rem;
            transition: all .3s;
            box-shadow: 0 1.5rem 4rem rgba(#000, .1);
            text-decoration: none;

            &:hover {
                text-decoration: none;
            }

            .service__icon {
                max-width: 37%;
                fill: #fff;

                &--commercial {
                    max-width: 43%;
                    fill: #fff;
                }
            }

            @media only screen and (min-width: 1000px) {
                &:hover {
                    transform: translateY(-1.5rem) scale(1.03);
                    box-shadow: 0 1.5rem 4rem rgba(#000, .25);
                }
            }
        }
    }
}

.brands {
    grid-column: col-start 1 / col-end 8;
    display: grid;

    h2 {
        justify-self: center;
    }

    p {
        margin-top: 3.5rem;
        background: $color-primary;
        padding: 0.5rem;
        display: block;
        justify-self: center;
    }

    .brand-grid {
        margin-top: 3rem;
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
        grid-column-gap: 2rem;
        grid-row-gap: 4rem;

        .brand {
            background-color: $color-secondary;
            padding: 1rem 1rem;
            color: #fff;
            display: flex;
            justify-content: center;
            border-radius: 1rem;
            box-shadow: 0 1.5rem 4rem rgba(#000, .1);
        }
    }
}

.reviews-container {
    grid-column: col-start 1 / col-end 8;
    display: grid;

    .section-header {
        margin-bottom: 6.5rem;
    }

    a {
        grid-column: 1 / -1;
        justify-self: center;
        margin: 4rem 0;
        color: #fff;
    }

    .reviews {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 2rem;

        @media only screen and (max-width: 1060px) {
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 5rem;
            grid-row-gap: 5rem;
            margin: 0 5rem;
        }

        @media only screen and (max-width: 868px) {
            margin: 0 2.5rem;
        }

        @media only screen and (max-width: 820px) {
            margin: 0;
        }

        @media only screen and (max-width: 600px) {
            grid-template-columns: 1fr;
            margin: 0 5rem;
        }

        @media only screen and (max-width: 550px) {
            margin: 0 1.5rem;
        }

        @media only screen and (max-width: 450px) {
            margin: 0;
        }
    }

    .review {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding: 2rem;
        grid-row-gap: 1rem;
        align-content: start;
        border-radius: 2px;
        box-shadow: 0 2.5px 5px rgba(0, 0, 0, .23);

        &__profile-pic {
            grid-column: 1 / 2;

            img {
                width: 100%;

                @media only screen and (max-width: 1060px) {
                    width: 70%;
                }

                @media only screen and (max-width: 600px) {
                    width: 90%;
                }

                @media only screen and (max-width: 550px) {
                    width: 80%;
                }

                @media only screen and (max-width: 450px) {
                    width: 70%;
                }
            }
        }

        &__profile-name {
            grid-column: 2 / -1;
            color: $color-grey;
            font-size: 2rem;
            align-self: center;
            justify-self: start;
            padding-left: 1.5rem;

            @media only screen and (max-width: 1060px) {
                font-size: 2rem;
            }

            @media only screen and (max-width: 768px) {
                font-size: 2rem;
            }

            @media only screen and (max-width: 600px) {
                font-size: 2.5rem;
            }

            @media only screen and (max-width: 550px) {
                font-size: 2rem;
            }

            @media only screen and (max-width: 450px) {
                font-size: 1.75rem;
            }
        }

        &__stars {
            grid-column: 1 / -1;
            align-self: center;
            justify-self: center;

            svg {
                fill: gold;
            }
        }

        &__text {
            grid-column: 1 / -1;
            align-self: center;
            font-size: $font-size-secondary;
            display: grid;
            justify-content: center;
            grid-template-columns: min-content minmax(min-content, max-content) min-content;

            @media only screen and (max-width: 1060px) {
                font-size: 1.45rem;
            }

            @media only screen and (max-width: 768px) {
                font-size: 1.25rem;
            }

            @media only screen and (max-width: 600px) {
                font-size: 1.5rem;
            }

            @media only screen and (max-width: 550px) {
                font-size: 1.5rem;
            }

            @media only screen and (max-width: 450px) {
                font-size: 1.25rem;
            }

            p {
                margin: 0;
                display: inline-block;
            }

            svg:first-child {
                margin-right: 0.5rem;
            }

            svg:last-child {
                align-self: end;
                margin-left: 0.5rem;
            }
        }
    }
}

.call-banner {
    grid-column: full-start / full-end;
    background-color: $color-secondary;
    color: #fff;
    text-align: center;
    padding: 2rem;
    margin-top: 4rem;

    h1 {
        font-size: 2.5rem;
    }

    a {
        text-decoration: none;
        color: $color-primary;
        font-weight: 700;
        font-size: 2.75rem;
    }

    @media only screen and (max-width: 400px) {
        h1 {
            font-size: 2rem;
        }

        a {
            font-size: 2.25rem;
        }
    }
}

.work {
    grid-column: col-start 1 / col-end 8;
    display: grid;
    justify-content: center;
    color: $color-grey;

    h3 {
        justify-self: center;
    }

    &__list-wrapper {
        margin-left: 2.5rem;
    }

    &__item {
        display: grid;
        grid-template-columns: 1fr 14fr;
        margin-top: 3rem;

        @media only screen and (max-width: 1000px) {
            grid-template-columns: 1fr 10fr;
        }

        @media only screen and (max-width: 800px) {
            grid-template-columns: 1fr 8fr;
        }

        @media only screen and (max-width: 600px) {
            grid-template-columns: 1fr 6fr;
        }

        @media only screen and (max-width: 500px) {
            grid-template-columns: minmax(min-content, max-content);
        }

        &-number {
            display: grid;
            justify-content: start;
            align-content: start;
            font-size: 3rem;
            color: $color-secondary;

            @media only screen and (max-width: 500px) {

                margin-bottom: 1rem;
            }

            p {
                padding: 0 0.5rem;
                border-bottom: 0.5rem solid $color-primary;
            }
        }

        &-text {
            font-size: $font-size-primary;

            h4 {
                font-weight: 700;
                font-size: 1.8rem;
                text-transform: capitalize;
            }

            p {
                text-align: justify;
            }
        }
    }
}

.reason-info {
    grid-column: col-start 1 / col-end 8;
    display: grid;
    margin-top: 2rem;
    font-size: $font-size-secondary;

    &__p-1::before {
        content: "* ";
        color: $color-primary;
    }

    &__p-2::before {
        content: "* ";
        color: $color-primary;
    }

    &__p-3::before {
        content: "\2020  ";
        color: gold;
    }
}

// .mat-menu-panel.custom {
//     border-radius: 0;
//     position: absolute;
//     top: -0.15rem;
//     width: 24rem;
//     border-top: 0.2rem solid $color-primary;

//     & a {
//         text-decoration: none;
//     }
// }

.mat-drawer-content {
    overflow: hidden !important;
}

// .mat-menu-item {
//     color: $color-secondary;
//     font-family: $font-primary;
// }

// .mat-menu-item:hover {
//     color: $color-primary;
// }

// .mat-menu-item-highlighted:not([disabled]),
// .mat-menu-item.cdk-keyboard-focused:not([disabled]),
// .mat-menu-item.cdk-program-focused:not([disabled]),
// .mat-menu-item:hover:not([disabled]) {
//     background: none;
// }

// .mat-menu-item:hover {
//     background: rgba(0, 0, 0, .04) !important;
// }

.mat-drawer-inner-container {
    background-color: $color-secondary;
}