@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "animations.scss";
@import "buttons.scss";
@import "typography.scss";
@import "utilities.scss";
@import "variables.scss";

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    // font-size: 62.5%; // 10px
    font-size: 68.75%; // 11px
    font-size: 75%; // 12px

    // @media only screen and (max-width: 1200px) {
    //     font-size: 50%;
    // }
    height: 100%;
}

body {
    font-family: "Roboto", sans-serif;
}

.container-main {
    display: grid;
    grid-template-columns:
        [full-start] minmax(3rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(3rem, 1fr) [full-end];
    grid-template-rows: 4rem 5rem 50vh minmax(min-content, 1fr) repeat(2, min-content) repeat(3, minmax(min-content, 1fr))
}

button:focus {
    outline: 0;
}

.label {
    margin-left: 0.1rem;
    font-size: 1.2rem;
    color: #fff;
    border-bottom: 0.15rem solid $color-primary;

    &--required::after {
        content: "*";
        color: #fff;
        margin-left: 0.5rem;
    }
}

// TODO: Move mat elements elsewhere

.mat-menu-panel.custom {
    border-radius: 0;
    position: absolute;
    top: 0.4rem;
    width: 20rem;
    border-top: 0.2rem solid $color-primary;

    & a {
        text-decoration: none;
    }
}

.mat-drawer-content {
    overflow: hidden !important;
}

.mat-menu-item {
    color: $color-secondary;
    font-family: $font-primary;
}

.mat-menu-item:hover {
    color: $color-primary;
}

.mat-tab-label {
    color: $color-grey;
    opacity: 100 !important;
    font-size: 1.5rem;
    font-weight: 400;
}

.mat-tab-group {
    &.mat-primary {
        .mat-ink-bar {
            background-color: $color-primary;
            height: 0.5rem;
        }
    }
}

.mat-tab-body {
    background-color: $color-secondary;
    // min-height: 35rem;
}

.mat-tab-header {
    border: none;
    backface-visibility: hidden;
}

.mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination {
    display: block;
}

.mat-menu-item-highlighted:not([disabled]),
.mat-menu-item.cdk-keyboard-focused:not([disabled]),
.mat-menu-item.cdk-program-focused:not([disabled]),
.mat-menu-item:hover:not([disabled]) {
    background: none;
}

.mat-menu-item:hover {
    background: rgba(0, 0, 0, .04) !important;
}