<div class="grid-container">
    <div class="header">
        <div class="header__logo">
            <a [routerLink]="[ '/']">
                <img class="header__logo-wrapper--image" src="../../../assets/images/logo-header.svg"
                    alt="Company logo" />
            </a>
        </div>
        <div class="header__email">
            <svg class="icon icon--md icon icon--white">
                <use xlink:href="../../../assets/images/sprite.svg#mail_filled"></use>
            </svg>
            <a href="mailto:contact@ag-repairs.co.uk">contact@ag-repairs.co.uk</a>
        </div>
        <div class="header__phone">
            <svg class="icon icon--md icon icon--white">
                <use xlink:href="../../../assets/images/sprite.svg#phone_filled"></use>
            </svg>
            <a href="tel:0207 476 8725">0207 476 8725</a>
        </div>
        <div class="header__mobile">
            <svg class="icon icon--md icon icon--white">
                <use xlink:href="../../../assets/images/sprite.svg#touchscreen_smartphone_filled"></use>
            </svg>
            <a href="tel:0754 085 2102">0754 085 2102</a>
        </div>
    </div>

    <!-- Intro -->

    <section class="intro">
        <div class="intro__image">
            <img src="../../assets/images/terms-cover.jpg" alt="Kitchen">
        </div>
        <header>
            <h1>Terms</h1>
        </header>
        <div class="intro__sub">
            <div class="sub-item">
                <svg class="icon icon--md icon--primary" role="img" aria-label="Check">
                    <title>Check</title>
                    <use xlink:href="../../../assets/images/sprite.svg#checked"></use>
                </svg>
                <p>Friendly and reliable service</p>
            </div>
            <div class="sub-item">
                <svg class="icon icon--md icon--primary" role="img" aria-label="Check">
                    <title>Check</title>
                    <use xlink:href="../../../assets/images/sprite.svg#checked"></use>
                </svg>
                <p>Highly qualified engineers</p>
            </div>
            <div class="sub-item">
                <svg class="icon icon--md icon--primary" role="img" aria-label="Check">
                    <title>Check</title>
                    <use xlink:href="../../../assets/images/sprite.svg#checked"></use>
                </svg>
                <p>Same day service available</p>
            </div>
            <div class="sub-item">
                <svg class="icon icon--md icon--primary" role="img" aria-label="Check">
                    <title>Check</title>
                    <use xlink:href="../../../assets/images/sprite.svg#checked"></use>
                </svg>
                <p>Fixed repair charges</p>
            </div>
        </div>
    </section>

    <!-- Terms -->

    <section class="terms">
        <header class="section-heading">
            <h2>terms and conditions</h2>
        </header>
        <p>
            <p><strong>Appliance Repair Terms and Conditions for Use, Service and Sale</strong></p>
            <p>A&amp;G Appliances</p>
            <p>21 Hartington Road<br />
                London E16 3NP<br />
                Last updated August 1, 2019</p>
            <p><strong>1. Appliance Repairs</strong></p>
            <p>1.1. Fixed charge for the first visit repair covers you against the cost of the service engineers call
                out, diagnostics &amp; labour no matter how long the engineer is there or for how many visits it takes
                him to repair that fault. The focus of the repair is based on the description of the fault we have been
                given. A charge of £25 apply if we need to visit the second time.</p>
            <p>1.2. We aim to repair most domestic appliances, but the manufacturer, appliance type, model and age will
                have a major influence on whether we can promptly obtain replacement part(s) and ultimately complete the
                repair. It should also be noted that once a specific appliance is no longer made the manufacturer will
                only stock replacement parts for a given period.</p>
            <p>1.3. We require payment before or on the day of the engineer’s first visit. Via Cash, Cheque or
                Debit/Credit Card (exc American Express). Payment for any parts that are to be ordered must be paid for
                on the return visit.</p>
            <p>1.4. Our engineer will call out on the agreed date and time to carry out the repair to your appliance. If
                at the time of the call out any required part(s) are unavailable our service engineer will usually order
                the part(s) within 1-3 working day of the call out. The item(s) will then be delivered to us within 2
                working days of the order being placed. If the part(s) are not in stock this can take anything from 3
                working days with the norm being around 10 working days. It should be noted that unfortunately there are
                a handful of manufacturers whose parts are not easily sourced and in some cases these have to be
                obtained from abroad which will result in a delay in completing the repair. As soon as the part(s) are
                available we will contact you to arrange a new appointment date to complete the repair.</p>
            <p>1.5. In respect of refrigeration equipment we do not cover food loss or spoilage.</p>
            <p>1.6. If you wish A&amp;G to repair more than one appliance in your property each appliance will be charge
                at the normal repair rate minus £20.00.</p>
            <p><strong>2. Issues that may arise during your repair</strong></p>
            <p>2.1. If at the time of the call out the fault is found to be as a result of misuse, neglect or poor
                installation or, the appliance type or fault is not as described originally we reserve the right to
                charge you the full labour rate.</p>
            <p>2.2. If we are unable to obtain spare parts from our suppliers to repair the appliance. Then we would be
                unable to fix your machine under such circumstances you will still be charged the full labour rate.</p>
            <p>2.3. Some repairs will require that the appliance is fully accessible (e.g. able to be moved from under a
                work surface without damaging the surrounding facia). If your appliance cannot be easily accessed to
                facilitate the repair we reserve the right to abort the repair. In such instances we reserve the right
                to charge you the full labour rate.</p>
            <p>2.4. You are expected to give as much notice as possible when cancelling repairs. If we have already
                attended and the repair has started you will be charged the full labour rate.</p>
            <p>2.5. You shall provide safe and sufficient access for installation or removal of any goods. Whilst we
                will take care to install or remove appliances without damage to flooring or adjacent fittings, we
                cannot be liable for any such damage unless it was due to our negligence. We will endeavour to notify
                you if we believe insufficient access is available and you may cancel your contract if you do not wish
                to take the risk of damage to the surrounding area. Any damage must be reported to the engineer at the
                time of visit or within 48 hours to the Service Manager.</p>
            <p>2.6. If we are unable to repair your product due to parts being obsolete/unobtainable or the product is
                simply uneconomical to repair then you will be charged the labour rate. Any parts fitted will be
                refunded or not charged for after removal.</p>
            <p><strong>3. Guarantee period</strong></p>
            <p>3.1. All A&amp;G repairs are guaranteed for 6 months, for labour. This guarantee does not cover any
                subsequent unrelated breakdown / fault(s) to the appliance. It also becomes invalid if the appliance is
                moved to a new address.</p>
            <p><strong>1. Our website</strong></p>
            <p>Your use of this website and any service contained within constitutes acceptance of these Terms &amp;
                Conditions.</p>
            <p><strong>2. Customer Information</strong></p>
            <p>2.1 Our website is only intended for use by adults. Adults may purchase products for children as long as
                the products purchased are intended by the manufacturer for use or consumption by children.</p>
            <p><strong>3. Privacy</strong><br />
                A&amp;G Appliance Services Ltd takes your privacy seriously. We are registered under and comply with the
                Data Protection Act 1998. For further details please see our Privacy Policy.</p>
            <p><strong>4. Copyright</strong></p>
            <p>4.1 All content, databases, graphics, buttons, icons, logos, layouts and look &amp; feel are the
                copyright of A&amp;G Appliance Services Ltd., unless expressly acknowledged as otherwise.</p>
            <p>4.2 The data mining, extraction or utilisation of product information from our website is not permitted
                without our express prior written permission.<br />
                Our contact details are as follows:</p>
            <p>A&amp;G Appliances<br />
                21 Hartington Road<br />
                London E16 3NP<br />
                Email: <a href="mailto:contact@ag-service.co.uk" target="_blank">contact@ag-service.co.uk</a></p>
            <p>Telephone: 0207 476 8725</p>
            <p><strong>WEBSITE PRIVACY POLICY</strong></p>
            <p>1. A&amp;G Appliances complies with the principles of the Data Protection Act 1998 when dealing with all
                data received from our customers.<br />
                2. We only hold the data necessary to offer services provided on our website.<br />
                3. Data is only used for the purposes described in our entry on the Data Protection Register.<br />
                4. We only hold personal data for as long as necessary. Once data is no longer needed it is deleted from
                our files.<br />
                5. We never sell, rent or exchange mailing lists.<br />
                6. In accordance with the Privacy and Electronic Communications (EC Directive) Regulations 2003, we
                never send bulk unsolicited emails, (popularly known as Spam) to email addresses.<br />
                7. All emails sent by us will be clearly marked as originating from us.</p>
            <p>If you have any questions relating to our Privacy Policy please email us at contact@ag-service.co.uk</p>
    </section>
</div>