@import "variables";

.nav {
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.25);
    border-bottom: none;
    z-index: 9999;
    position: fixed;
    width: 100%;
    padding: 0;
    height: 6rem;
    background-color: rgba(255, 255, 255, 1);

    display: grid;
    grid-gap: 2rem;
    grid-template-columns:
        [full-start] minmax(3rem, 1fr) minmax(min-content, 20rem) [center-start] repeat(5, [col-start] max-content [col-end]) [center-end] minmax(min-content, 21rem) minmax(3rem, 1fr) [full-end];

    @media only screen and (max-width: 1342px) {
        grid-template-columns:
            [full-start] minmax(3rem, 1fr) minmax(min-content, 13rem) [center-start] repeat(5, [col-start] max-content [col-end]) [center-end] minmax(min-content, 13.5rem) minmax(3rem, 1fr) [full-end];

        grid-gap: 1.5rem;
        height: 5rem;
    }

    @media only screen and (max-width: 1048px) {
        grid-template-columns: 1fr 3fr;
        height: 5rem;

        .btn-sidebar {
            background-color: #fff;
            color: $color-primary;
            border: none;
            padding-left: 1.5rem;
            padding-right: 1.4rem;
            justify-self: start;

            i {
                align-self: center;
                transform: translateY(0.25rem);
            }

        }

        .nav__numbers {
            justify-self: end;
            align-self: center;
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            @media only screen and (max-width: 426px) {
                grid-template-columns: 1fr;
            }

            i {
                font-size: 2.2rem;
            }
        }

        &__resp-phone {
            display: flex;
            align-items: center;
            // font-size: 1.4rem;
            // font-weight: 400;
            font-family: $font-primary;
            margin-right: 3rem;

            a {
                text-decoration: none;
                color: $color-secondary;
                font-size: $font-size-secondary;
                font-weight: 700;
            }
        }

        &__resp-mobile {
            display: flex;
            align-items: center;
            // font-size: 1.4rem;
            // font-weight: 400;
            font-family: $font-primary;
            margin-right: 3rem;

            a {
                text-decoration: none;
                color: $color-secondary;
                font-size: $font-size-secondary;
                font-weight: 700;
            }

            @media only screen and (max-width: 426px) {
                display: none;
            }
        }
    }


    p {
        text-transform: capitalize;
    }

    &__logo {
        grid-column: 2 / col-start 1;
        align-self: center;

        img {
            width: 14rem;
            opacity: 0;
            transition: all 0.3s ease;

            @media only screen and (max-width: 1342px) {
                width: 12rem;
            }
        }
    }

    &__menu-items {
        display: flex;
        cursor: pointer;
        align-items: center;
        transform: translateY(0.15rem);
        // align-self: center;
        font-size: 1.6rem;
        font-weight: 400;
        color: $color-secondary;
        text-decoration: none;

        @media only screen and (max-width: 1342px) {
            font-size: 1.4rem;
        }

        &--1 {
            grid-column: col-start 1 / col-end 1;
        }

        &--2 {
            grid-column: col-start 2 / col-end 2;
        }

        &--3 {
            grid-column: col-start 3 / col-end 3;
        }

        &--4 {
            grid-column: col-start 4 / col-end 4;
        }

        &:hover {
            color: $color-primary;
        }
    }

    mat-menu {
        outline-style: none;
        box-shadow: none;
        border-color: transparent;
    }

    &__phone {
        display: flex;
        align-items: center;
        justify-self: end;
        transform: translateY(0.25rem);
        font-size: 1.8rem;
        font-weight: 700;
        font-family: $font-primary;
        opacity: 0;
        transition: all 0.3s ease;

        @media only screen and (max-width: 1342px) {
            font-size: 1.4rem;
        }

        a {
            text-decoration: none;
            color: $color-grey;
        }
    }

    &--sticky {

        & img,
        & .nav__phone {
            opacity: 100;
        }
    }
}