<div class="grid-container">
    <div class="header-background"></div>
    <div class="header">
        <div class="header__logo">
            <a [routerLink]="[ '/']">
                <img class="header__logo-wrapper--image" src="../../../assets/images/logo-header.svg"
                    alt="Company logo" />
            </a>
        </div>
        <div class="header__email">
            <svg class="icon icon--md icon icon--white">
                <use xlink:href="../../../assets/images/sprite.svg#mail_filled"></use>
            </svg>
            <a href="mailto:contact@ag-repairs.co.uk">contact@ag-repairs.co.uk</a>
        </div>
        <div class="header__phone">
            <svg class="icon icon--md icon icon--white">
                <use xlink:href="../../../assets/images/sprite.svg#phone_filled"></use>
            </svg>
            <a href="tel:0207 476 8725">0207 476 8725</a>
        </div>
        <div class="header__mobile">
            <svg class="icon icon--md icon icon--white">
                <use xlink:href="../../../assets/images/sprite.svg#touchscreen_smartphone_filled"></use>
            </svg>
            <a href="tel:0754 085 2102">0754 085 2102</a>
        </div>
    </div>
    <div class="intro">
        <div class="intro__image">
            <img src="../../assets/images/landlords-cover.jpg" alt="A miniture house on a table with keys next to it">
        </div>
        <header>
            <h1>Estate Agents &amp; Landlords</h1>
        </header>
        <div class="intro__sub">
            <div class="sub-item">
                <svg class="icon icon--md icon--primary">
                    <use xlink:href="../../../assets/images/sprite.svg#checked"></use>
                </svg>
                <p>Friendly and reliable service</p>
            </div>
            <div class="sub-item">
              <svg class="icon icon--md icon--primary">
                <use xlink:href="../../../assets/images/sprite.svg#checked"></use>
              </svg>
              <p>Highly qualified engineers</p>
            </div>
            <div class="sub-item">
              <svg class="icon icon--md icon--primary">
                <use xlink:href="../../../assets/images/sprite.svg#checked"></use>
              </svg>
              <p>Same/next day appointments</p>
            </div>
            <div class="sub-item">
              <svg class="icon icon--md icon--primary">
                <use xlink:href="../../../assets/images/sprite.svg#checked"></use>
              </svg>
              <p>Fixed repair charges</p>
            </div>
        </div>
    </div>

    <!-- Estate agents intro -->

    <section class="estates-agents-intro">
        <header class="section-heading">
            <h1>tailored service</h1>
        </header>
        <p>
            We have a <b>key collection service</b> if required so we can attend an on-site repair job. We will then
            leave an
            invoice detailing the work done so your tenants are aware of progress.
        </p>
        <p>
            If the repair is not economical we can also provide replacement domestic appliances. We specialise in
            supplying new integrated as well as free standing appliances, their <b>installation</b> and <b>removal of
                old
                appliances</b>.
        </p>
        <h2 class="heading-2">
            why landlords and agencies should choose us:
        </h2>
        <ul>
            <li>Key collection service.</li>
            <li>Fast, local, experienced engineers.</li>
            <li>Full public liability and employers insurance.</li>
            <li>Appliance repairs for landlords in London.</li>
        </ul>
    </section>

    <!-- Call banner -->

    <section class="call-banner">
        <h1>Landlords and agencies – contact us today on <a href="tel:0207 476 8725">0207 476 8725</a> or <a
                href="tel:0754 085 2102">0754 085 2102</a>.</h1>
    </section>

    <!-- Brands -->

    <section class="brands">
        <header class="section-heading">
            <h1>brands we repair</h1>
        </header>
        <h2 class="heading-2">We repair and work with all the major appliance makes.</h2>
        <div class="brand-grid">
            <div class="brand">
                <svg class="icon icon--xl">
                    <use xlink:href="../../../assets/images/sprite.svg#aeg-2"></use>
                </svg>
            </div>
            <div class="brand">
                <svg class="icon icon--xl">
                    <use xlink:href="../../../assets/images/sprite.svg#new-beko-logo"></use>
                </svg>
            </div>
            <div class="brand">
                <svg class="icon icon--xl">
                    <use xlink:href="../../../assets/images/sprite.svg#hotpoint"></use>
                </svg>
            </div>
            <div class="brand">
                <svg class="icon icon--xl">
                    <use xlink:href="../../../assets/images/sprite.svg#lg-electronics"></use>
                </svg>
            </div>
            <div class="brand">
                <svg class="icon icon--xl">
                    <use xlink:href="../../../assets/images/sprite.svg#miele"></use>
                </svg>
            </div>
            <div class="brand">
                <svg class="icon icon--xl">
                    <use xlink:href="../../../assets/images/sprite.svg#samsung-1"></use>
                </svg>
            </div>
            <div class="brand">
                <svg class="icon icon--xl">
                    <use xlink:href="../../../assets/images/sprite.svg#siemens"></use>
                </svg>
            </div>
            <div class="brand">
                <svg class="icon icon--xl">
                    <use xlink:href="../../../assets/images/sprite.svg#zanussi"></use>
                </svg>
            </div>
            <div class="brand">
                <svg class="icon icon--xl">
                    <use xlink:href="../../../assets/images/sprite.svg#whirlpool"></use>
                </svg>
            </div>
            <div class="brand">
                <svg class="icon icon--xl">
                    <use xlink:href="../../../assets/images/sprite.svg#bosch-1"></use>
                </svg>
            </div>
            <div class="brand">
                <svg class="icon icon--xl">
                    <use xlink:href="../../../assets/images/sprite.svg#indesit-1"></use>
                </svg>
            </div>
            <div class="brand">
                <svg class="icon icon--xl">
                    <use xlink:href="../../../assets/images/sprite.svg#hoover"></use>
                </svg>
            </div>
            <div class="brand">
                <svg class="icon icon--xl">
                    <use xlink:href="../../../assets/images/sprite.svg#electrolux"></use>
                </svg>
            </div>
            <div class="brand">
                <svg class="icon icon--xl">
                    <use xlink:href="../../../assets/images/sprite.svg#neff"></use>
                </svg>
            </div>
            <div class="brand">
                <svg class="icon icon--xl">
                    <use xlink:href="../../../assets/images/sprite.svg#blaupunkt-29640"></use>
                </svg>
            </div>
            <div class="brand">
                <svg class="icon icon--xl">
                    <use xlink:href="../../../assets/images/sprite.svg#daewoo-1"></use>
                </svg>
            </div>
        </div>
        <p class="heading-2">And many more!</p>
    </section>

    <!-- Reviews -->

    <section class="reviews-container">
        <header class="section-heading">
            <h1>google reviews</h1>
        </header>
        <div class="reviews">
            <div class="review">
                <div class="review__profile-pic">
                    <img src="../../../assets/images/profile_3.png" alt="Google profile picture">
                </div>
                <div class="review__profile-name">
                    Marie Adam
                </div>
                <div class="review__stars">
                    <svg class="icon icon--md">
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                    <svg class="icon icon--md">
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                    <svg class="icon icon--md">
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                    <svg class="icon icon--md">
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                    <svg class="icon icon--md">
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                </div>
                <div class="review__text">
                    <svg class="icon icon--md icon--primary">
                        <use xlink:href="../../../assets/images/sprite.svg#quote_left"></use>
                    </svg>
                    <p>Very professional &amp; efficient. Great service at a very good price. I would definitely
                        recommend.
                    </p>
                    <svg class="icon icon--md icon--primary">
                        <use xlink:href="../../../assets/images/sprite.svg#quote_right"></use>
                    </svg>
                </div>
            </div>
            <div class="review">
                <div class="review__profile-pic">
                    <img src="../../../assets/images/profile_1.png" alt="Google profile picture">
                </div>
                <div class="review__profile-name">
                    George Pidgeon
                </div>
                <div class="review__stars">
                    <svg class="icon icon--md">
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                    <svg class="icon icon--md">
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                    <svg class="icon icon--md">
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                    <svg class="icon icon--md">
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                    <svg class="icon icon--md">
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                </div>
                <div class="review__text">
                    <svg class="icon icon--md icon--primary">
                        <use xlink:href="../../../assets/images/sprite.svg#quote_left"></use>
                    </svg>
                    <p>Thank you - would definitely use again in future.</p>
                    <svg class="icon icon--md icon--primary">
                        <use xlink:href="../../../assets/images/sprite.svg#quote_right"></use>
                    </svg>
                </div>
            </div>
            <div class="review">
                <div class="review__profile-pic">
                    <img src="../../../assets/images/profile_3.png" alt="Google profile picture">
                </div>
                <div class="review__profile-name">
                    Annie Yusuf
                </div>
                <div class="review__stars">
                    <svg class="icon icon--md">
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                    <svg class="icon icon--md">
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                    <svg class="icon icon--md">
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                    <svg class="icon icon--md">
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                    <svg class="icon icon--md" style="fill:#dddddd;">
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                </div>
                <div class="review__text">
                    <svg class="icon icon--md icon--primary">
                        <use xlink:href="../../../assets/images/sprite.svg#quote_left"></use>
                    </svg>
                    <p>Good repair work.</p>
                    <svg class="icon icon--md icon--primary">
                        <use xlink:href="../../../assets/images/sprite.svg#quote_right"></use>
                    </svg>
                </div>
            </div>
            <div class="review">
                <div class="review__profile-pic">
                    <img src="../../../assets/images/profile_2.png" alt="Google profile picture">
                </div>
                <div class="review__profile-name">
                    Ellie Roberts
                </div>
                <div class="review__stars">
                    <svg class="icon icon--md">
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                    <svg class="icon icon--md">
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                    <svg class="icon icon--md">
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                    <svg class="icon icon--md">
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                    <svg class="icon icon--md">
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                </div>
                <div class="review__text">
                    <svg class="icon icon--md icon--primary">
                        <use xlink:href="../../../assets/images/sprite.svg#quote_left"></use>
                    </svg>
                    <p>Quick and efficient service - I would use them again.</p>
                    <svg class="icon icon--md icon--primary">
                        <use xlink:href="../../../assets/images/sprite.svg#quote_right"></use>
                    </svg>
                </div>
            </div>
        </div>
        <a href="https://g.page/a-g-appliances/review" class="btn-round btn--secondary">leave a review</a>
    </section>
</div>