<div class="grid-container">
    <div class="header">
        <div class="header__logo">
            <a [routerLink]="[ '/']">
                <img class="header__logo-wrapper--image" src="../../../assets/images/logo-header.svg"
                    alt="Company logo" />
            </a>
        </div>
        <div class="header__email">
            <svg class="icon icon--md icon icon--white">
                <use xlink:href="../../../assets/images/sprite.svg#mail_filled"></use>
            </svg>
            <a href="mailto:contact@ag-repairs.co.uk">contact@ag-repairs.co.uk</a>
        </div>
        <div class="header__phone">
            <svg class="icon icon--md icon icon--white">
                <use xlink:href="../../../assets/images/sprite.svg#phone_filled"></use>
            </svg>
            <a href="tel:0207 476 8725">0207 476 8725</a>
        </div>
        <div class="header__mobile">
            <svg class="icon icon--md icon icon--white">
                <use xlink:href="../../../assets/images/sprite.svg#touchscreen_smartphone_filled"></use>
            </svg>
            <a href="tel:0754 085 2102">0754 085 2102</a>
        </div>
    </div>

    <!-- Intro -->

    <section class="intro">
        <div class="intro__image">
            <img src="../../assets/images/coverage-cover.jpg" alt="London skyline from above">
        </div>
        <header>
            <h1>Coverage</h1>
        </header>
        <div class="intro__sub">
            <div class="sub-item">
                <svg class="icon icon--md icon--primary" role="img" aria-labelledby="title">
                    <title>Check</title>
                    <use xlink:href="../../../assets/images/sprite.svg#checked"></use>
                </svg>
                <p>Friendly and reliable service</p>
            </div>
            <div class="sub-item">
                <svg class="icon icon--md icon--primary" role="img" aria-labelledby="title">
                    <title>Check</title>
                    <use xlink:href="../../../assets/images/sprite.svg#checked"></use>
                </svg>
                <p>Highly qualified engineers</p>
            </div>
            <div class="sub-item">
                <svg class="icon icon--md icon--primary" role="img" aria-labelledby="title">
                    <title>Check</title>
                    <use xlink:href="../../../assets/images/sprite.svg#checked"></use>
                </svg>
                <p>Same day service available</p>
            </div>
            <div class="sub-item">
                <svg class="icon icon--md icon--primary" role="img" aria-labelledby="title">
                    <title>Check</title>
                    <use xlink:href="../../../assets/images/sprite.svg#checked"></use>
                </svg>
                <p>Fixed repair charges</p>
            </div>
        </div>
    </section>

    <!-- Areas Covered -->

    <section class="areas-covered">
        <header class="section-heading">
            <h2>Areas We Cover in London</h2>
        </header>
        <h2 class="sub-heading heading-2">
            Our appliance and London washing machine repair service cover postcodes which you see on the map below most
            of the postcodes within M25.
        </h2>
        <figure>
            <img src="../../../assets/images/map.gif" alt="Map of London" />
        </figure>
        <div class="areas-covered__col-wrapper">
            <div class="areas-covered__col-container">
                <div class="areas-covered__col">
                    <h3 class="heading-2">east london</h3>
                    <ul class="areas-covered__list">
                        <li>E1 Head district</li>
                        <li>E2 Bethnal Green</li>
                        <li>E3 Bow</li>
                        <li>E4 Chingford</li>
                        <li>E5 Clapton</li>
                        <li>E6 East Ham</li>
                        <li>E7 Forest Gate</li>
                        <li>E8 Hackney</li>
                        <li>E9 Homerton</li>
                        <li>E10 Leyton</li>
                        <li>E11 Leytonstone</li>
                        <li>E12 Manor Park</li>
                        <li>E13 Plaistow</li>
                        <li>E14 Poplar</li>
                        <li>E15 Stratford</li>
                        <li>E16 Victoria Docks</li>
                        <li>E17 Walthamstow</li>
                        <li>E18 South Woodford</li>
                    </ul>
                </div>
                <div class="areas-covered__col">
                    <h3 class="heading-2">north london</h3>
                    <ul class="areas-covered__list">
                        <li>N1 Head district</li>
                        <li>N2 East Finchley</li>
                        <li>N3 Finchley</li>
                        <li>N4 Finsbury Park</li>
                        <li>N5 Highbury</li>
                        <li>N6 Highgate</li>
                        <li>N7 Holloway</li>
                        <li>N8 Hornsey</li>
                        <li>N9 Lower Edmonton</li>
                        <li>N10 Muswell Hill</li>
                        <li>N11 New Southgate</li>
                        <li>N12 North Finchley</li>
                        <li>N13 Palmers Green</li>
                        <li>N14 Southgate</li>
                        <li>N15 South Tottenham</li>
                        <li>N16 Stoke Newington</li>
                        <li>N17 Tottenham</li>
                        <li>N18 Upper Edmonton</li>
                        <li>N19 Upper Holloway</li>
                        <li>N20 Whetstone</li>
                        <li>N21 Winchmore Hill</li>
                        <li>N22 Wood Green</li>
                    </ul>
                </div>
                <div class="areas-covered__col">
                    <h3 class="heading-2">central london</h3>
                    <ul class="areas-covered__list">
                        <li>EC1 Head district</li>
                        <li>EC2 Bishopsgate</li>
                        <li>EC3 Fenchurch Street</li>
                        <li>EC4 Fleet Street</li>
                    </ul>
                </div>
                <div class="areas-covered__col">
                    <h3 class="heading-2">north west london</h3>
                    <ul class="areas-covered__list">
                        <li>NW1 Head district</li>
                        <li>NW2 Cricklewood</li>
                        <li>NW3 Hampstead</li>
                        <li>NW4 Hendon</li>
                        <li>NW5 Kentish Town</li>
                        <li>NW6 Kilburn</li>
                        <li>NW7 Mill Hill</li>
                        <li>NW8 St John’s Wood</li>
                        <li>NW9 The Hyde</li>
                        <li>NW10 Willesden</li>
                        <li>NW11 Golders Green</li>
                    </ul>
                </div>
                <div class="areas-covered__col">
                    <h3 class="heading-2">west london</h3>
                    <ul class="areas-covered__list">
                        <li>W1 Head district</li>
                        <li>W2 Head district</li>
                        <li>W3 Acton</li>
                        <li>W4 Chiswick</li>
                        <li>W5 Ealing</li>
                        <li>W6 Hammersmith</li>
                        <li>W7 Hanwell</li>
                        <li>W8 Kensington</li>
                        <li>W9 Maida Vale</li>
                        <li>W10 North Kensington</li>
                        <li>W11 Notting Hill</li>
                        <li>W12 Shepherds Bush</li>
                        <li>W13 West Ealing</li>
                        <li>W14 West Kensington</li>
                        <li>WC1 Head district</li>
                        <li>WC2 Strand</li>
                    </ul>
                </div>
                <div class="areas-covered__col">
                    <h3 class="heading-2">south west london</h3>
                    <ul class="areas-covered__list">
                        <li>SW1 Head district</li>
                        <li>SW2 Brixton</li>
                        <li>SW3 Chelsea</li>
                        <li>SW4 Clapham</li>
                        <li>SW5 Earls Court</li>
                        <li>SW6 Fulham</li>
                        <li>SW7 South Kensington</li>
                        <li>SW8 South Lambeth</li>
                        <li>SW9 Stockwell</li>
                        <li>SW10 West Brompton</li>
                        <li>SW11 Head district</li>
                        <li>SW12 Balham</li>
                        <li>SW13 Barnes</li>
                        <li>SW14 Mortlake</li>
                        <li>SW15 Putney</li>
                        <li>SW16 Streatham</li>
                        <li>SW17 Tooting</li>
                        <li>SW18 Wandsworth</li>
                        <li>SW19 Wimbledon</li>
                        <li>SW20 West Wimbledon</li>
                    </ul>
                </div>
                <div class="areas-covered__col">
                    <h3 class="heading-2">south east london</h3>
                    <ul class="areas-covered__list">
                        <li>SE1 Head district</li>
                        <li>SE2 Abbey Wood</li>
                        <li>SE3 Blackheath</li>
                        <li>SE4 Brockley</li>
                        <li>SE5 Camberwell</li>
                        <li>SE6 Catford</li>
                        <li>SE7 Charlton</li>
                        <li>SE8 Deptford</li>
                        <li>SE9 Eltham</li>
                        <li>SE10 Greenwich</li>
                        <li>SE11 Kennington</li>
                        <li>SE12 Lee</li>
                        <li>SE13 Lewisham</li>
                        <li>SE14 New Cross</li>
                        <li>SE15 Peckham</li>
                        <li>SE16 Rotherhithe</li>
                        <li>SE17 Walworth</li>
                        <li>SE18 Woolwich</li>
                        <li>SE19 Upper Norwood</li>
                        <li>SE20 Anerley</li>
                        <li>SE21 Dulwich</li>
                        <li>SE22 East Dulwich</li>
                        <li>SE23 Forest Hill</li>
                        <li>SE24 Herne Hill</li>
                        <li>SE25 South Norwood</li>
                        <li>SE26 Sydenham</li>
                        <li>SE27 West Norwood</li>
                        <li>SE28 Thamesmead</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Reasons -->

    <section class="reasons">
        <header class="section-heading">
            <h2>why choose us</h2>
        </header>
        <div class="reasons__reason reasons__reason--1">
            <svg class="icon icon--lg icon icon--secondary" role="img" aria-labelledby="title">
                <title>Security checked</title>
                <use xlink:href="../../../assets/images/sprite.svg#security_checked"></use>
            </svg>
            <h3>6 months guarantee on all appliance repairs and parts<span class="asterisk">&nbsp;*</span></h3>
        </div>
        <div class="reasons__reason reasons__reason--2">
            <svg class="icon icon--lg icon icon--secondary" role="img" aria-labelledby="title">
                <title>Person at home</title>
                <use xlink:href="../../../assets/images/sprite.svg#person_at_home"></use>
            </svg>
            <h3>Same and next day visits for East London postcodes</h3>
        </div>
        <div class="reasons__reason reasons__reason--3">
            <svg class="icon icon--lg icon icon--secondary" role="img" aria-labelledby="title">
                <title>Cancel</title>
                <use xlink:href="../../../assets/images/sprite.svg#cancel_2"></use>
            </svg>
            <h3>No call out charges or parking fees<span class="asterisk">&nbsp;**</span>
            </h3>
        </div>
        <div class="reasons__reason reasons__reason--4">
            <svg class="icon icon--lg icon icon--secondary" role="img" aria-labelledby="title">
                <title>User group</title>
                <use xlink:href="../../../assets/images/sprite.svg#user_group_man_man"></use>
            </svg>
            <h3>Technicians with many years of experience</h3>
        </div>
    </section>

    <!-- Services -->

    <section class="services-container">
        <header class="section-heading">
            <h2>services</h2>
        </header>
        <p class="section-text">A&amp;G specialises in <span><a
                    [routerLink]="[ '/appliance-repairs/washing-machine-repairs' ]">washing machine repairs</a></span>
            in South, East, West, Central, and North London.
            Engineers have many years
            of experience in <span><a [routerLink]="[ '/appliance-repairs/electric-oven-repairs' ]">electric oven
                    repairs</a></span>, <span><a [routerLink]="[ '/appliance-repairs/tumble-dryer-repairs' ]">tumble
                    dryer repairs</a></span>, <span><a
                    [routerLink]="[ '/appliance-repairs/dishwasher-repairs' ]">dishwasher
                    repairs</a></span> and
            <span><a [routerLink]="[ '/appliance-repairs/microwave-repairs' ]">microwave repairs</a></span>. We
            also do <span><a [routerLink]="[ '/appliance-repairs/tumble-dryer-repairs' ]">tumble dryer
                    repairs</a></span> and
            <span><a [routerLink]="[ '/appliance-repairs/extractor-hood-repairs' ]"> cooker hood repairs</a></span>.
            Place your
            confidence in a professional appliance
            repair
            company.</p>
        <div class="services">
            <a class="services__service" [routerLink]="['/appliance-repairs/washing-machine-repairs']">
                <p class="service__title">Washing Machine Repairs</p>
                <svg class="service__icon">
                    <use xlink:href="../../../assets/images/sprite.svg#washing_machine"></use>
                </svg>
            </a>
            <a class="services__service" [routerLink]="['/appliance-repairs/dishwasher-repairs']">
                <p class="service__title">Diswasher Repairs</p>
                <svg class="service__icon">
                    <use xlink:href="../../../assets/images/sprite.svg#dishwasher"></use>
                </svg>
            </a>
            <a class="services__service" [routerLink]="['/appliance-repairs/tumble-dryer-repairs']">
                <p class="service__title">Tumble Dryer Repairs</p>
                <svg class="service__icon">
                    <use xlink:href="../../../assets/images/sprite.svg#tumble_dryer"></use>
                </svg>
            </a>
            <a class="services__service" [routerLink]="['/appliance-repairs/electric-oven-repairs']">
                <p class="service__title">Electric Cooker/Oven Repairs</p>
                <svg class="service__icon">
                    <use xlink:href="../../../assets/images/sprite.svg#cooker"></use>
                </svg>
            </a>
            <a class="services__service" [routerLink]="['/appliance-repairs/microwave-repairs']">
                <p class="service__title">Microwave Repairs</p>
                <svg class="service__icon">
                    <use xlink:href="../../../assets/images/sprite.svg#microwave"></use>
                </svg>
            </a>
            <a class="services__service" [routerLink]="['/appliance-repairs/extractor-hood-repairs']">
                <p class="service__title">Extractor Hood Repairs</p>
                <svg class="service__icon">
                    <use xlink:href="../../../assets/images/sprite.svg#cooker_hood"></use>
                </svg>
            </a>
            <a class="services__service" [routerLink]="['/appliance-repairs/fridge-freezer-repairs']">
                <p class="service__title">Fridge Freezer Repairs</p>
                <svg class="service__icon">
                    <use xlink:href="../../../assets/images/sprite.svg#fridge"></use>
                </svg>
            </a>
            <a class="services__service" [routerLink]="['/appliance-repairs/commercial-appliance-repairs']">
                <p class="service__title">Commercial Appliance Repairs</p>
                <svg class="service__icon--commercial">
                    <use xlink:href="../../../assets/images/sprite.svg#cooker_dotted"></use>
                </svg>
            </a>
        </div>
    </section>

    <!-- Brands -->

    <section class="brands">
        <header class="section-heading">
            <h2>brands we repair</h2>
        </header>
        <h2 class="heading-2">We repair and work with all the major appliance makes.</h2>
        <div class="brand-grid">
            <div class="brand">
                <svg class="icon icon--xl" role="img" aria-labelledby="title">
                    <title>AEG</title>
                    <use xlink:href="../../../assets/images/sprite.svg#aeg-2"></use>
                </svg>
            </div>
            <div class="brand">
                <svg class="icon icon--xl" role="img" aria-labelledby="title">
                    <title>BEKO</title>
                    <use xlink:href="../../../assets/images/sprite.svg#new-beko-logo"></use>
                </svg>
            </div>
            <div class="brand">
                <svg class="icon icon--xl" role="img" aria-labelledby="title">
                    <title>Hotpoint</title>
                    <use xlink:href="../../../assets/images/sprite.svg#hotpoint"></use>
                </svg>
            </div>
            <div class="brand">
                <svg class="icon icon--xl" role="img" aria-labelledby="title">
                    <title>LG</title>
                    <use xlink:href="../../../assets/images/sprite.svg#lg-electronics"></use>
                </svg>
            </div>
            <div class="brand">
                <svg class="icon icon--xl" role="img" aria-labelledby="title">
                    <title>Miele</title>
                    <use xlink:href="../../../assets/images/sprite.svg#miele"></use>
                </svg>
            </div>
            <div class="brand">
                <svg class="icon icon--xl" role="img" aria-labelledby="title">
                    <title>Samsung</title>
                    <use xlink:href="../../../assets/images/sprite.svg#samsung-1"></use>
                </svg>
            </div>
            <div class="brand">
                <svg class="icon icon--xl" role="img" aria-labelledby="title">
                    <title>Siemens</title>
                    <use xlink:href="../../../assets/images/sprite.svg#siemens"></use>
                </svg>
            </div>
            <div class="brand">
                <svg class="icon icon--xl" role="img" aria-labelledby="title">
                    <title>Zanussi</title>
                    <use xlink:href="../../../assets/images/sprite.svg#zanussi"></use>
                </svg>
            </div>
            <div class="brand">
                <svg class="icon icon--xl" role="img" aria-labelledby="title">
                    <title>Whirpool</title>
                    <use xlink:href="../../../assets/images/sprite.svg#whirlpool"></use>
                </svg>
            </div>
            <div class="brand">
                <svg class="icon icon--xl" role="img" aria-labelledby="title">
                    <title>Bosch</title>
                    <use xlink:href="../../../assets/images/sprite.svg#bosch-1"></use>
                </svg>
            </div>
            <div class="brand">
                <svg class="icon icon--xl" role="img" aria-labelledby="title">
                    <title>Indesit</title>
                    <use xlink:href="../../../assets/images/sprite.svg#indesit-1"></use>
                </svg>
            </div>
            <div class="brand">
                <svg class="icon icon--xl" role="img" aria-labelledby="title">
                    <title>Hoover</title>
                    <use xlink:href="../../../assets/images/sprite.svg#hoover"></use>
                </svg>
            </div>
            <div class="brand">
                <svg class="icon icon--xl" role="img" aria-labelledby="title">
                    <title>Electrolux</title>
                    <use xlink:href="../../../assets/images/sprite.svg#electrolux"></use>
                </svg>
            </div>
            <div class="brand">
                <svg class="icon icon--xl" role="img" aria-labelledby="title">
                    <title>Neff</title>
                    <use xlink:href="../../../assets/images/sprite.svg#neff"></use>
                </svg>
            </div>
            <div class="brand">
                <svg class="icon icon--xl" role="img" aria-labelledby="title">
                    <title>Blaupunkt</title>
                    <use xlink:href="../../../assets/images/sprite.svg#blaupunkt-29640"></use>
                </svg>
            </div>
            <div class="brand">
                <svg class="icon icon--xl" role="img" aria-labelledby="title">
                    <title>Daewoo</title>
                    <use xlink:href="../../../assets/images/sprite.svg#daewoo-1"></use>
                </svg>
            </div>
        </div>
        <p class="heading-2">And many more!</p>
    </section>

    <!-- Reviews  -->

    <section class="reviews-container">
        <header class="section-heading">
            <h2>google reviews</h2>
        </header>
        <div class="reviews">
            <div class="review">
                <div class="review__profile-pic">
                    <img src="../../../assets/images/profile_3.png" alt="Google profile picture">
                </div>
                <div class="review__profile-name">
                    Marie Adam
                </div>
                <div class="review__stars">
                    <svg class="icon icon--md" role="img" aria-labelledby="title">
                        <title>Star</title>
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                    <svg class="icon icon--md" role="img" aria-labelledby="title">
                        <title>Star</title>
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                    <svg class="icon icon--md" role="img" aria-labelledby="title">
                        <title>Star</title>
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                    <svg class="icon icon--md" role="img" aria-labelledby="title">
                        <title>Star</title>
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                    <svg class="icon icon--md" role="img" aria-labelledby="title">
                        <title>Star</title>
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                </div>
                <div class="review__text">
                    <svg class="icon icon--md icon--primary" role="img" aria-labelledby="title">
                        <title>Quotation mark</title>
                        <use xlink:href="../../../assets/images/sprite.svg#quote_left"></use>
                    </svg>
                    <p>Very professional &amp; efficient. Great service at a very good price. I would definitely
                        recommend.</p>
                    <svg class="icon icon--md icon--primary" role="img" aria-labelledby="title">
                        <title>Quotation mark</title>
                        <use xlink:href="../../../assets/images/sprite.svg#quote_right"></use>
                    </svg>
                </div>
            </div>
            <div class="review">
                <div class="review__profile-pic">
                    <img src="../../../assets/images/profile_1.png" alt="Google profile picture">
                </div>
                <div class="review__profile-name">
                    George Pidgeon
                </div>
                <div class="review__stars">
                    <svg class="icon icon--md" role="img" aria-labelledby="title">
                        <title>Star</title>
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                    <svg class="icon icon--md" role="img" aria-labelledby="title">
                        <title>Star</title>
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                    <svg class="icon icon--md" role="img" aria-labelledby="title">
                        <title>Star</title>
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                    <svg class="icon icon--md" role="img" aria-labelledby="title">
                        <title>Star</title>
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                    <svg class="icon icon--md" role="img" aria-labelledby="title">
                        <title>Star</title>
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                </div>
                <div class="review__text">
                    <svg class="icon icon--md icon--primary" role="img" aria-labelledby="title">
                        <title>Quotation mark</title>
                        <use xlink:href="../../../assets/images/sprite.svg#quote_left"></use>
                    </svg>
                    <p>Thank you - would definitely use again in future.</p>
                    <svg class="icon icon--md icon--primary" role="img" aria-labelledby="title">
                        <title>Quotation mark</title>
                        <use xlink:href="../../../assets/images/sprite.svg#quote_right"></use>
                    </svg>
                </div>
            </div>
            <div class="review">
                <div class="review__profile-pic">
                    <img src="../../../assets/images/profile_3.png" alt="Google profile picture">
                </div>
                <div class="review__profile-name">
                    Annie Yusuf
                </div>
                <div class="review__stars">
                    <svg class="icon icon--md" role="img" aria-labelledby="title">
                        <title>Star</title>
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                    <svg class="icon icon--md" role="img" aria-labelledby="title">
                        <title>Star</title>
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                    <svg class="icon icon--md" role="img" aria-labelledby="title">
                        <title>Star</title>
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                    <svg class="icon icon--md" role="img" aria-labelledby="title">
                        <title>Star</title>
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                    <svg class="icon icon--md" style="fill:#dddddd;" role="img" aria-labelledby="title">
                        <title>Star</title>
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                </div>
                <div class="review__text">
                    <svg class="icon icon--md icon--primary" role="img" aria-labelledby="title">
                        <title>Quotation mark</title>
                        <use xlink:href="../../../assets/images/sprite.svg#quote_left"></use>
                    </svg>
                    <p>Good repair work.</p>
                    <svg class="icon icon--md icon--primary" role="img" aria-labelledby="title">
                        <title>Quotation mark</title>
                        <use xlink:href="../../../assets/images/sprite.svg#quote_right"></use>
                    </svg>
                </div>
            </div>
            <div class="review">
                <div class="review__profile-pic">
                    <img src="../../../assets/images/profile_2.png" alt="Google profile picture">
                </div>
                <div class="review__profile-name">
                    Ellie Roberts
                </div>
                <div class="review__stars">
                    <svg class="icon icon--md" role="img" aria-labelledby="title">
                        <title>Star</title>
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                    <svg class="icon icon--md" role="img" aria-labelledby="title">
                        <title>Star</title>
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                    <svg class="icon icon--md" role="img" aria-labelledby="title">
                        <title>Star</title>
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                    <svg class="icon icon--md" role="img" aria-labelledby="title">
                        <title>Star</title>
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                    <svg class="icon icon--md" role="img" aria-labelledby="title">
                        <title>Star</title>
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                </div>
                <div class="review__text">
                    <svg class="icon icon--md icon--primary" role="img" aria-labelledby="title">
                        <title>Quotation mark</title>
                        <use xlink:href="../../../assets/images/sprite.svg#quote_left"></use>
                    </svg>
                    <p>Quick and efficient service - I would use them again.</p>
                    <svg class="icon icon--md icon--primary" role="img" aria-labelledby="title">
                        <title>Quotation mark</title>
                        <use xlink:href="../../../assets/images/sprite.svg#quote_right"></use>
                    </svg>
                </div>
            </div>
        </div>
        <a href="https://g.page/a-g-appliances/review" class="btn-round btn--secondary">leave a review</a>
    </section>

    <!-- Reason info -->

    <div class="reason-info">
        <p class="reason-info__p-1">6 months guarantee on the repair and parts (we do not guarantee
            blockages, heating elements or printed circuit boards).</p>
        <p class="reason-info__p-2">A congestion charge, ULEZ charge and parking fees apply if you live in central
            London.
        </p>
    </div>
</div>