@import '../../styles/variables';

a {
    text-decoration: none;
    color: white;
}

.link-active {
    background-color: #222B3B;
}

// a:hover,
// a:active {
//     color: lightgray;
// }

.nav-caption {
    display: inline-block;
    padding: 0 1rem;
    color: #fff;


    // @media only screen and (max-width: 1048px) {
    //     font-size: 1.4rem;
    // }

    @media only screen and (max-width: 500px) {
        font-size: 1.4rem;
    }

    @media only screen and (max-width: 400px) {
        font-size: 1.3rem;
    }
}

.icon {
    background-size: auto 100% !important;
    display: inline-block;
    fill: #fff;
    height: 2.3rem;
    width: 2.3rem;
    margin-right: 0.6rem;
}