<mat-nav-list>
    <a mat-list-item [routerLink]="['/']" (click)="onSidenavClose()">
        <svg class="icon icon--md icon--white">
            <use href="../../../assets/images/sprite.svg#home"></use>
        </svg>
        <span class="nav-caption">Home</span>
    </a>
    <a mat-list-item [routerLink]="['/appliance-repairs']" (click)="onSidenavClose()">
        <svg class="icon icon--md icon--white">
            <use href="../../../assets/images/sprite.svg#maintenance"></use>
        </svg>
        <span class="nav-caption">Appliance Repairs</span>
    </a>
    <a mat-list-item [routerLink]="['/appliance-repair-prices']" (click)="onSidenavClose()">
        <svg class="icon icon--md icon--white">
            <use href="../../../assets/images/sprite.svg#bill"></use>
        </svg>
        <span class="nav-caption">Price List</span>
    </a>
    <a mat-list-item [routerLink]="['/']" (click)="onSidenavClose()">
        <svg class="icon icon--md icon--white">
            <use href="../../../assets/images/sprite.svg#postcode"></use>
        </svg>
        <span class="nav-caption">Areas Covered</span>
    </a>
    <a mat-list-item [routerLink]="['/']" (click)="onSidenavClose()">
        <svg class="icon icon--md">
            <use href="../../../assets/images/sprite.svg#about_us"></use>
        </svg>
        <span class="nav-caption">About Us</span>
    </a>
    <a mat-list-item [routerLink]="['/']" (click)="onSidenavClose()">
        <svg class="icon icon--md icon--white">
            <use href="../../../assets/images/sprite.svg#landlord"></use>
        </svg>
        <span class="nav-caption">Estate Agents & Landlors</span>
    </a>
</mat-nav-list>