<mat-nav-list>
    <a mat-list-item [routerLink]="['/']" (click)="onSidenavClose()" routerLinkActive="link-active" [routerLinkActiveOptions]="{exact:
        true}">
        <svg class="icon icon--md icon--white">
            <use href="../../../assets/images/sprite.svg#home"></use>
        </svg>
        <span class="nav-caption">Home</span>
    </a>
    <a mat-list-item [routerLink]="['/appliance-repairs']" (click)="onSidenavClose()" routerLinkActive="link-active">
        <svg class="icon icon--md icon--white">
            <use href="../../../assets/images/sprite.svg#maintenance"></use>
        </svg>
        <span class="nav-caption">Services</span>
    </a>
    <a mat-list-item [routerLink]="['/appliance-repair-prices']" (click)="onSidenavClose()" routerLinkActive="link-active">
        <svg class="icon icon--md icon--white">
            <use href="../../../assets/images/sprite.svg#bill"></use>
        </svg>
        <span class="nav-caption">Price List</span>
    </a>
    <a mat-list-item [routerLink]="['/areas-covered']" (click)="onSidenavClose()" routerLinkActive="link-active">
        <svg class="icon icon--md icon--white">
            <use href="../../../assets/images/sprite.svg#postcode"></use>
        </svg>
        <span class="nav-caption">Coverage</span>
    </a>
    <a mat-list-item [routerLink]="['/about-us']" (click)="onSidenavClose()" routerLinkActive="link-active">
        <svg class="icon icon--md">
            <use href="../../../assets/images/sprite.svg#about_us"></use>
        </svg>
        <span class="nav-caption">About Us</span>
    </a>
    <a mat-list-item [routerLink]="['/error-codes']" (click)="onSidenavClose()" routerLinkActive="link-active">
        <svg class="icon icon--md icon--white">
            <use href="../../../assets/images/sprite.svg#error"></use>
        </svg>
        <span class="nav-caption">Error Codes&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </a>
    <a mat-list-item [routerLink]="['/blog']" (click)="onSidenavClose()" routerLinkActive="link-active">
        <svg class="icon icon--md icon--white">
            <use href="../../../assets/images/sprite.svg#blog"></use>
        </svg>
        <span class="nav-caption">Blog</span>
    </a>
    <a mat-list-item [routerLink]="['/contact-us-appliance-services']" (click)="onSidenavClose()" routerLinkActive="link-active">
        <svg class="icon icon--md icon--white">
            <use href="../../../assets/images/sprite.svg#contact_card"></use>
        </svg>
        <span class="nav-caption">Contact Us</span>
    </a>
</mat-nav-list>