<div class="grid-container">
  <div class="header-background"></div>
  <div class="header">
    <div class="header__logo">
      <a [routerLink]="[ '/']">
        <img src="../../../assets/images/logo-header.svg" alt="" />
      </a>
    </div>
    <div class="header__email">
      <svg class="icon icon--md icon icon--white">
        <use xlink:href="../../../assets/images/sprite.svg#mail_filled"></use>
      </svg>
      <a href="mailto:contact@ag-repairs.co.uk">contact@ag-repairs.co.uk</a>
    </div>
    <div class="header__phone">
      <svg class="icon icon--md icon icon--white">
        <use xlink:href="../../../assets/images/sprite.svg#phone_filled"></use>
      </svg>
      <a href="tel:0207 476 8725">0207 476 8725</a>
    </div>
    <div class="header__mobile">
      <svg class="icon icon--md icon icon--white">
        <use xlink:href="../../../assets/images/sprite.svg#touchscreen_smartphone_filled"></use>
      </svg>
      <a href="tel:0754 085 2102">0754 085 2102</a>
    </div>
  </div>
  <div class="intro">
    <div class="intro__image">
      <img src="../../assets/images/intro-cover.jpg" alt="">
    </div>
    <header>
      <h1>The UK's number 1 domestic appliance repair service</h1>
    </header>
    <div class="intro__sub">
      <div class="sub-item">
        <svg class="icon icon--md icon--primary">
          <use xlink:href="../../../assets/images/sprite.svg#checked"></use>
        </svg>
        <p>Fast, reliable service</p>
      </div>
      <div class="sub-item">
        <svg class="icon icon--md icon--primary">
          <use xlink:href="../../../assets/images/sprite.svg#checked"></use>
        </svg>
        <p>Largest UK coverage</p>
      </div>
      <div class="sub-item">
        <svg class="icon icon--md icon--primary">
          <use xlink:href="../../../assets/images/sprite.svg#checked"></use>
        </svg>
        <p>Same/next day appointments</p>
      </div>
      <div class="sub-item">
        <svg class="icon icon--md icon--primary">
          <use xlink:href="../../../assets/images/sprite.svg#checked"></use>
        </svg>
        <p>Same/next day appointments</p>
      </div>
    </div>
    <div class="intro__discount">
      <svg class="icon icon--lg">
        <use xlink:href="../../../assets/images/sprite.svg#low_price_pound"></use>
      </svg>
      <h2><span>£10 discount</span> for east london postcodes</h2>
    </div>
  </div>
  <section class="reasons">
    <header class="section-heading">
      <h1 class="heading-1 heading-1--primary">why choose us</h1>
    </header>
    <div class="reasons__reason reasons__reason--1">
      <svg class="icon icon--lg icon icon--secondary">
        <use xlink:href="../../../assets/images/sprite.svg#security_checked"></use>
      </svg>
      <h3 class="heading-3 heading-3--grey">6 months guarantee on all appliance repairs and parts</h3>
    </div>
    <div class="reasons__reason reasons__reason--2">
      <svg class="icon icon--lg icon icon--secondary">
        <use xlink:href="../../../assets/images/sprite.svg#person_at_home"></use>
      </svg>
      <h3 class="heading-3 heading-3--grey">Unlimited return visits at no additional cost</h3>
    </div>
    <div class="reasons__reason reasons__reason--3">
      <svg class="icon icon--lg icon icon--secondary">
        <use xlink:href="../../../assets/images/sprite.svg#cancel_2"></use>
      </svg>
      <h3 class="heading-3 heading-3--grey">No hidden costs, no call out charges, no parking fees</h3>
    </div>
    <div class="reasons__reason reasons__reason--4">
      <svg class="icon icon--lg icon icon--secondary">
        <use xlink:href="../../../assets/images/sprite.svg#user_group_man_man"></use>
      </svg>
      <h3 class="heading-3 heading-3--grey">Technicians with over 15 years of experience</h3>
    </div>
  </section>
  <div class="request-tab">
    <div class="request-tab__wrapper">
      <svg class="icon icon icon--secondary">
        <use xlink:href="../../../assets/images/sprite.svg#bpc"></use>
      </svg>
      <p>Instant Quote</p>
    </div>
  </div>
  <section class="request">
    <div class="request__quote" *ngIf="!isResult">
      <h1 class="request__quote--heading heading-2">Complete our short form to get an instant quote.</h1>
      <div class="request__quote--subheading">
        <div class="subheading-item">
          <svg class="icon icon--md icon--primary">
            <use xlink:href="../../../assets/images/sprite.svg#checkmark"></use>
          </svg>
          <p>Hassle-Free Appointments</p>
        </div>
        <div class="subheading-item">
          <svg class="icon icon--md icon--primary">
            <use xlink:href="../../../assets/images/sprite.svg#checkmark"></use>
          </svg>
          <p>Fully Equipped Vans</p>
        </div>
        <div class="subheading-item">
          <svg class="icon icon--md icon--primary">
            <use xlink:href="../../../assets/images/sprite.svg#checkmark"></use>
          </svg>
          <p>Highly Qualified Engineers</p>
        </div>
      </div>
      <app-home-form (quoteSubmitted)="quoteRequest($event)" class="request__quote--form"></app-home-form>
    </div>
    <div *ngIf="isResult" class="request__result">
      <div class="result__price-container">
        <div class="header-text heading-2">
          Total Price For {{quoteFitting}} {{quoteApplianceMake}} {{quoteApplianceType}} {{quoteJobType}}
        </div>
        <div class="price-info">
          <p>{{price}}<span>+VAT</span></p>
          <p id="spare-parts-disc">(parts charged separately)</p>
        </div>
        <div class="call-info">
          <p>Call <span><a href="tel:0207 476 8725">0207 476 8725</a></span> to book a service today!</p>
        </div>
      </div>
      <div class="result__terms">
        <div class="result__icon-items">
          <div class="result__icon-item">
            <svg class="icon icon--white">
              <use xlink:href="../../../assets/images/sprite.svg#clock"></use>
            </svg>
            <p>Available six days a week</p>
          </div>
          <div class="result__icon-item">
            <svg class="icon icon--white">
              <use xlink:href="../../../assets/images/sprite.svg#card_in_use"></use>
            </svg>
            <p>We accept cash and major credit cards</p>
          </div>
          <div class="result__icon-item">
            <svg class="icon icon--white">
              <use xlink:href="../../../assets/images/sprite.svg#today"></use>
            </svg>
            <p>Hassle free appointments</p>
          </div>
        </div>
        <div class="result__term-items">
          <div class="result__term-items--wrapper">
            <ul>
              <li>Fixed diagnostic and repair charges, no hidden cost</li>
              <li>Evening and weekend appointments at no additional cost.</li>
              <li>We carry large number of spare parts to carry out the repair on the first visit.</li>
              <li>No extra charge for revisits if a new part needs to be ordered.</li>
              <li>We are fully insured for public liability.</li>
            </ul>
          </div>
        </div>
      </div>
      <button class="quote-reset btn-round btn--white" (click)="resetQuote()">new quote</button>
    </div>
  </section>
  <section class="about-us">
    <header class="section-heading">
      <h1 class="heading-1 heading-1--primary">about us</h1>
    </header>
    <div class="about-us__content-container">
      <div class="about-us__text-1">
        <p>
          Our appliance repair service centre offers local professional repair service of household appliances and
          electronics using top quality tradesmen and parts. We are able to resolve technical problems and mend
          your appliance right in your home. Differentiated approach to technical problems by experienced tradesmen
          allows our engineers to accurately determine the nature of the problem, source the necessary parts, if they
          need replacing and quickly repair the failed appliance, be it a <span><a
              [routerLink]="[ '/appliance-repairs/washing-machine-repairs' ]">washing machine repairs</a></span>,
          <span><a [routerLink]="[ '/appliance-repairs/microwave-repairs' ]">microwave</a></span>, <span><a
              [routerLink]="[ '/appliance-repairs/electric-oven-repairs' ]">electric oven</a></span>,
          <span><a [routerLink]="[ '/appliance-repairs/dishwasher-repairs' ]">dishwasher</a></span> or any other
          white good.
        </p>
      </div>
      <div class="about-us__text-2">
        <p>Our service is based on many years of experience with various
          tools and devices, supplemented by a serious knowledge of <b>domestic</b> and <b>commercial</b> appliances.
          The use of
          advanced tools and manufacturer’s spare parts accelerates the process of repairing household appliances, our
          <b>repairs are guaranteed for 6 months</b>.</p>
        <p>
      </div>
      <div class="about-us__image-container">
        <figure>
          <img src="../../assets/images/van.jpg" alt="" />
          <figcaption>
            <p>
              Over 15 years of experience in white goods servicing
            </p>
          </figcaption>
        </figure>
      </div>
    </div>
  </section>
  <section class="work">
    <header class="section-heading">
      <h1 class="heading-1 heading-1--primary">if you choose us</h1>
    </header>
    <h2 class="heading-2">Here's what you get if you choose A&amp;G Appliances for your appliance
      repair.</h2>
    <div class="work__item">
      <div class="work__item-number">
        <p>1.</p>
      </div>
      <div class="work__item-text">
        <h3 class="heading-3 heading-3--secondary">simple pricing structure</h3>
        <div class="work__list-wrapper">
          <ul>
            <li>A fixed diagnostic charge of £35 which covers the time spent identifying the cause of the fault.</li>
            <li>A repair charge payable after your appliance is repaired and confirmed as working.</li>
            <li>No service fee is charged if the engineer is unable to identify the fault.
            </li>
            <li>If new parts are required,
              we’ll give you a fixed quote for these before proceeding with the repair.</li>
            <li>No extra charge for subsequent visits.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="work__item">
      <div class="work__item-number">
        <p>2.</p>
      </div>
      <div class="work__item-text">
        <h3 class="heading-3 heading-3--secondary">easy way to pay</h3>
        <p>To make things easy, we accept all major credit and debit cards, PayPal, and cash. Our commercial customers
          can be invoiced and choose to pay by cheque, bank transfer or
          card.</p>
      </div>
    </div>
    <div class="work__item">
      <div class="work__item-number">
        <p>3.</p>
      </div>
      <div class="work__item-text">
        <h3 class="heading-3 heading-3--secondary">guaranteed for peace of mind</h3>
        <p>We guarantee all our work and parts fitted for six months. This means if the appliance
          develops the same fault, we will fix it for you, free of charge.</p>
      </div>
    </div>
  </section>
  <section class="services-container">
    <header class="section-heading">
      <h1 class="heading-1 heading-1--primary">Services</h1>
    </header>
    <p class="section-text">A&G specialises in <span><a
          [routerLink]="[ '/appliance-repairs/washing-machine-repairs' ]">washing machine repairs</a></span>
      in South, East, West, Central, and North London.
      Engineers have many years
      of experience in <span><a [routerLink]="[ '/appliance-repairs/electric-oven-repairs' ]">electric oven
          repairs</a></span>, <span><a [routerLink]="[ '/appliance-repairs/tumble-dryer-repairs' ]">tumble
          dryer repairs</a></span>, <span><a [routerLink]="[ '/appliance-repairs/dishwasher-repairs' ]">dishwasher
          repairs</a></span> and
      <span><a [routerLink]="[ '/appliance-repairs/microwave-repairs' ]">microwave repairs</a></span>. We
      also do <span><a [routerLink]="[ '/appliance-repairs/tumble-dryer-repairs' ]">tumble dryer repairs</a></span> and
      <span><a [routerLink]="[ '/appliance-repairs/extractor-hood-repairs' ]"> cooker hood repairs</a></span>. Place
      your
      confidence in a professional appliance
      repair
      company.</p>
    <div class="services">
      <a class="services__service" [routerLink]="['/appliance-repairs/washing-machine-repairs']">
        <p class="service__title">Washing Machine Repairs</p>
        <svg class="service__icon">
          <use xlink:href="../../../assets/images/sprite.svg#washing_machine"></use>
        </svg>
      </a>
      <a class="services__service" [routerLink]="['/appliance-repairs/dishwasher-repairs']">
        <p class="service__title">Diswasher Repairs</p>
        <svg class="service__icon">
          <use xlink:href="../../../assets/images/sprite.svg#dishwasher"></use>
        </svg>
      </a>
      <a class="services__service" [routerLink]="['/appliance-repairs/tumble-dryer-repairs']">
        <p class="service__title">Tumble Dryer Repairs</p>
        <svg class="service__icon">
          <use xlink:href="../../../assets/images/sprite.svg#tumble_dryer"></use>
        </svg>
      </a>
      <a class="services__service" [routerLink]="['/appliance-repairs/electric-oven-repairs']">
        <p class="service__title">Electric Cooker/Oven Repairs</p>
        <svg class="service__icon">
          <use xlink:href="../../../assets/images/sprite.svg#cooker"></use>
        </svg>
      </a>
      <a class="services__service" [routerLink]="['/appliance-repairs/microwave-repairs']">
        <p class="service__title">Microwave Repairs</p>
        <svg class="service__icon">
          <use xlink:href="../../../assets/images/sprite.svg#microwave"></use>
        </svg>
      </a>
      <a class="services__service" [routerLink]="['/appliance-repairs/extractor-hood-repairs']">
        <p class="service__title">Extractor Hood Repairs</p>
        <svg class="service__icon">
          <use xlink:href="../../../assets/images/sprite.svg#cooker_hood"></use>
        </svg>
      </a>
      <a class="services__service" [routerLink]="['/appliance-repairs/fridge-freezer-repairs']">
        <p class="service__title">Fridge Freezer Repairs</p>
        <svg class="service__icon">
          <use xlink:href="../../../assets/images/sprite.svg#fridge"></use>
        </svg>
      </a>
      <a class="services__service" [routerLink]="['/appliance-repairs/commercial-appliance-repairs']">
        <p class="service__title">Commercial Appliance Repairs</p>
        <svg class="service__icon--commercial">
          <use xlink:href="../../../assets/images/sprite.svg#cooker_dotted"></use>
        </svg>
      </a>
    </div>
  </section>
  <section class="brands">
    <header class="section-heading">
      <h1 class="heading-1 heading-1--primary">Brands We Repair</h1>
    </header>
    <h2 class="heading-2">We repair and work with all the major appliance makes:</h2>
    <div class="brand-grid">
      <div class="brand">
        <svg class="icon icon--xl">
          <use xlink:href="../../../assets/images/sprite.svg#aeg-2"></use>
        </svg>
      </div>
      <div class="brand">
        <svg class="icon icon--xl">
          <use xlink:href="../../../assets/images/sprite.svg#new-beko-logo"></use>
        </svg>
      </div>
      <div class="brand">
        <svg class="icon icon--xl">
          <use xlink:href="../../../assets/images/sprite.svg#hotpoint"></use>
        </svg>
      </div>
      <div class="brand">
        <svg class="icon icon--xl">
          <use xlink:href="../../../assets/images/sprite.svg#lg-electronics"></use>
        </svg>
      </div>
      <div class="brand">
        <svg class="icon icon--xl">
          <use xlink:href="../../../assets/images/sprite.svg#miele"></use>
        </svg>
      </div>
      <div class="brand">
        <svg class="icon icon--xl">
          <use xlink:href="../../../assets/images/sprite.svg#samsung-1"></use>
        </svg>
      </div>
      <div class="brand">
        <svg class="icon icon--xl">
          <use xlink:href="../../../assets/images/sprite.svg#siemens"></use>
        </svg>
      </div>
      <div class="brand">
        <svg class="icon icon--xl">
          <use xlink:href="../../../assets/images/sprite.svg#zanussi"></use>
        </svg>
      </div>
      <div class="brand">
        <svg class="icon icon--xl">
          <use xlink:href="../../../assets/images/sprite.svg#whirlpool"></use>
        </svg>
      </div>
      <div class="brand">
        <svg class="icon icon--xl">
          <use xlink:href="../../../assets/images/sprite.svg#bosch-1"></use>
        </svg>
      </div>
      <div class="brand">
        <svg class="icon icon--xl">
          <use xlink:href="../../../assets/images/sprite.svg#indesit-1"></use>
        </svg>
      </div>
      <div class="brand">
        <svg class="icon icon--xl">
          <use xlink:href="../../../assets/images/sprite.svg#hoover"></use>
        </svg>
      </div>
      <div class="brand">
        <svg class="icon icon--xl">
          <use xlink:href="../../../assets/images/sprite.svg#electrolux"></use>
        </svg>
      </div>
      <div class="brand">
        <svg class="icon icon--xl">
          <use xlink:href="../../../assets/images/sprite.svg#neff"></use>
        </svg>
      </div>
      <div class="brand">
        <svg class="icon icon--xl">
          <use xlink:href="../../../assets/images/sprite.svg#blaupunkt-29640"></use>
        </svg>
      </div>
      <div class="brand">
        <svg class="icon icon--xl">
          <use xlink:href="../../../assets/images/sprite.svg#daewoo-1"></use>
        </svg>
      </div>
    </div>
    <p class="heading-2">And many more!</p>
  </section>
  <section class="coverage">
    <header class="section-heading">
      <h1 class="heading-1 heading-1--primary">Areas Covered</h1>
    </header>
    <figure>
      <img src="../../../assets/images/map.gif" alt="" />
    </figure>
    <p class="coverage-text">Our appliance and London washing machine repair service cover postcodes which you see on
      the map below most of
      the postcodes within M25.
      Excluding UB, TW, KT, HA, DA, CR postcodes.
    </p>
    <div class="coverage__col-container">
      <div class="coverege-text-col">
        <h2 class="coverege-text-col__heading heading-2">east london</h2>
        <ul class="coverege-text-col__list">
          <li>E1 Head district</li>
          <li>E2 Bethnal Green</li>
          <li>E3 Bow</li>
          <li>E4 Chingford</li>
          <li>E5 Clapton</li>
          <li>E6 East Ham</li>
          <li>E7 Forest Gate</li>
          <li>E8 Hackney</li>
          <li>E9 Homerton</li>
          <li>E10 Leyton</li>
          <li>E11 Leytonstone</li>
          <li>E12 Manor Park</li>
          <li>E13 Plaistow</li>
          <li>E14 Poplar</li>
          <li>E15 Stratford</li>
          <li>E16 Victoria Docks</li>
          <li>E17 Walthamstow</li>
          <li>E18 South Woodford</li>
        </ul>
      </div>
      <div class="coverege-text-col">
        <h2 class="coverege-text-col__heading heading-2">north london</h2>
        <ul class="coverege-text-col__list">
          <li>N1 Head district</li>
          <li>N2 East Finchley</li>
          <li>N3 Finchley</li>
          <li>N4 Finsbury Park</li>
          <li>N5 Highbury</li>
          <li>N6 Highgate</li>
          <li>N7 Holloway</li>
          <li>N8 Hornsey</li>
          <li>N9 Lower Edmonton</li>
          <li>N10 Muswell Hill</li>
          <li>N11 New Southgate</li>
          <li>N12 North Finchley</li>
          <li>N13 Palmers Green</li>
          <li>N14 Southgate</li>
          <li>N15 South Tottenham</li>
          <li>N16 Stoke Newington</li>
          <li>N17 Tottenham</li>
          <li>N18 Upper Edmonton</li>
          <li>N19 Upper Holloway</li>
          <li>N20 Whetstone</li>
          <li>N21 Winchmore Hill</li>
          <li>N22 Wood Green</li>
        </ul>
      </div>
      <div class="coverege-text-col">
        <h2 class="coverege-text-col__heading heading-2">central london</h2>
        <ul class="coverege-text-col__list">
          <li>EC1 Head district</li>
          <li>EC2 Bishopsgate</li>
          <li>EC3 Fenchurch Street</li>
          <li>EC4 Fleet Street</li>
        </ul>
      </div>
      <div class="coverege-text-col">
        <h2 class="coverege-text-col__heading coverege-text-col__heading--alt heading-2">NW london</h2>
        <ul class="coverege-text-col__list">
          <li>NW1 Head district</li>
          <li>NW2 Cricklewood</li>
          <li>NW3 Hampstead</li>
          <li>NW4 Hendon</li>
          <li>NW5 Kentish Town</li>
          <li>NW6 Kilburn</li>
          <li>NW7 Mill Hill</li>
          <li>NW8 St John’s Wood</li>
          <li>NW9 The Hyde</li>
          <li>NW10 Willesden</li>
          <li>NW11 Golders Green</li>
        </ul>
      </div>
    </div>
    <div class="coverage__button-container">
      <a class="btn-round" [routerLink]="[ '/areas-covered']" class="btn-round">view all postcodes</a>
    </div>
  </section>

  <!-- Short blogs -->

  <section class="blogs">
    <header class="section-heading">
      <h1 class="heading-1 heading-1--primary">recent blog posts</h1>
    </header>

    <div class="blogs__blog">
      <div class="blogs__blog--heading">
        <figure>
          <img src="../../assets/images/freezer-sm.jpg" alt="" />
          <figcaption>
            <a [routerLink]="['/blog/fridge-freezer-not-cooling-any-more-fault-finding']">
              <p>
                Fridge freezer not cooling any more, fault finding
              </p>
            </a>
          </figcaption>
        </figure>
      </div>
      <h3 class="blogs__blog--date">July 23rd, 2019</h3>
      <div class="blogs__blog--text">
        <p class="blogs__blog--paragraph">
          Fridge freezer not cooling?
          This can be caused by a thermostat failure but that is rare to be honest. More likely the compressor
          is not running or not running properly for some reason.
        </p>
        <ul class="blogs__blog--list">
          <li>Compressor failure</li>
          <li>Compressor PTC</li>
          <li>Compressor relay</li>
          <li>Thermostat</li>
          <li>Thermistor failure</li>
        </ul>
      </div>
      <a class="blogs__blog--link btn-round-sm btn--white"
        [routerLink]="['/blog/fridge-freezer-not-cooling-any-more-fault-finding']">read more</a>
    </div>
    <div class="blogs__blog">
      <div class="blogs__blog--heading">
        <figure>
          <img src="../../assets/images/oven_timer-thumbnail.jpg" alt="" />
          <figcaption>
            <a [routerLink]="['/blog/oven-does-not-work-timer-set-manual-or-automatic']">
              <p>
                Oven does not work. Timer set – manual or automatic?
              </p>
            </a>
          </figcaption>
        </figure>
      </div>
      <h3 class="blogs__blog--date">June 15th, 2019</h3>
      <div class="blogs__blog--text">
        <p class="blogs__blog--paragraph">
          In quite a few instances we come across a problem where a person has an oven on automatic and they
          can’t use it.
        </p>
        <p class="blogs__blog--paragraph">For the oven to work on the automatic, the timer needs to be set. It’s
          best if the oven is in manual mode. Read your oven manual first before doing anything else.</p>
        <p class="blogs__blog--paragraph">If you don’t have a manual, try doing this:
          Try holding the ‘bell’ button down at the same time as you press the ‘pan x’ button.</p>
      </div>
      <a class="blogs__blog--link btn-round-sm btn--white"
        [routerLink]="['/blog/oven-does-not-work-timer-set-manual-or-automatic']">read more</a>
    </div>
    <div class="blogs__blog">
      <div class="blogs__blog--heading">
        <figure>
          <img src="../../assets/images/oven-opend-thumbnail.jpg" alt="" />
          <figcaption>
            <a [routerLink]="['/blog/common-electric-oven-problems']">
              <p>
                Common electric oven problems
              </p>
            </a>
          </figcaption>
        </figure>
      </div>
      <h3 class="blogs__blog--date">May 11th, 2019</h3>
      <div class="blogs__blog--text">
        <p class="blogs__blog--paragraph">
          From our experience, the most common problem with the electric ovens is the failure of the heating
          element.
        </p>
        <p class="blogs__blog--paragraph">
          In these instances, the heating element needs replacing, the average cost of the element is £30-£35
          or more.
        </p>
        <p class="blogs__blog--paragraph">Our engineers carry heating elements with them and can repair the oven
          there and then. Recently we had a job where the heating element was fine, but the oven kept tripping
          the electricity in the house.</p>
      </div>
      <a class="blogs__blog--link btn-round-sm btn--white" [routerLink]="['/blog/common-electric-oven-problems']">read
        more</a>
    </div>
  </section>

  <!-- Reviews -->
  <section class="reviews-container">
    <header class="section-heading">
      <h1 class="heading-1 heading-1--primary">google reviews</h1>
    </header>
    <div class="reviews">
      <div class="review">
        <div class="review__profile-pic">
          <img src="../../../assets/images/profile_3.png" alt="">
        </div>
        <div class="review__profile-name">
          Marie Adam
        </div>
        <div class="review__stars">
          <svg class="icon icon--md">
            <use xlink:href="../../../assets/images/sprite.svg#star"></use>
          </svg>
          <svg class="icon icon--md">
            <use xlink:href="../../../assets/images/sprite.svg#star"></use>
          </svg>
          <svg class="icon icon--md">
            <use xlink:href="../../../assets/images/sprite.svg#star"></use>
          </svg>
          <svg class="icon icon--md">
            <use xlink:href="../../../assets/images/sprite.svg#star"></use>
          </svg>
          <svg class="icon icon--md">
            <use xlink:href="../../../assets/images/sprite.svg#star"></use>
          </svg>
        </div>
        <div class="review__text">
          <svg class="icon icon--md icon--primary">
            <use xlink:href="../../../assets/images/sprite.svg#quote_left"></use>
          </svg>
          <p>Very professional & efficient. Great service at a very good price. I would definitely recommend.</p>
          <svg class="icon icon--md icon--primary">
            <use xlink:href="../../../assets/images/sprite.svg#quote_right"></use>
          </svg>
        </div>
      </div>
      <div class="review">
        <div class="review__profile-pic">
          <img src="../../../assets/images/profile_1.png" alt="">
        </div>
        <div class="review__profile-name">
          George Pidgeon
        </div>
        <div class="review__stars">
          <svg class="icon icon--md">
            <use xlink:href="../../../assets/images/sprite.svg#star"></use>
          </svg>
          <svg class="icon icon--md">
            <use xlink:href="../../../assets/images/sprite.svg#star"></use>
          </svg>
          <svg class="icon icon--md">
            <use xlink:href="../../../assets/images/sprite.svg#star"></use>
          </svg>
          <svg class="icon icon--md">
            <use xlink:href="../../../assets/images/sprite.svg#star"></use>
          </svg>
          <svg class="icon icon--md">
            <use xlink:href="../../../assets/images/sprite.svg#star"></use>
          </svg>
        </div>
        <div class="review__text">
          <svg class="icon icon--md icon--primary">
            <use xlink:href="../../../assets/images/sprite.svg#quote_left"></use>
          </svg>
          <p>Thank you - would definitely use again in future.</p>
          <svg class="icon icon--md icon--primary">
            <use xlink:href="../../../assets/images/sprite.svg#quote_right"></use>
          </svg>
        </div>
      </div>
      <div class="review">
        <div class="review__profile-pic">
          <img src="../../../assets/images/profile_3.png" alt="">
        </div>
        <div class="review__profile-name">
          Annie Yusuf
        </div>
        <div class="review__stars">
          <svg class="icon icon--md">
            <use xlink:href="../../../assets/images/sprite.svg#star"></use>
          </svg>
          <svg class="icon icon--md">
            <use xlink:href="../../../assets/images/sprite.svg#star"></use>
          </svg>
          <svg class="icon icon--md">
            <use xlink:href="../../../assets/images/sprite.svg#star"></use>
          </svg>
          <svg class="icon icon--md">
            <use xlink:href="../../../assets/images/sprite.svg#star"></use>
          </svg>
          <svg class="icon icon--md" style="fill:#dddddd;">
            <use xlink:href="../../../assets/images/sprite.svg#star"></use>
          </svg>
        </div>
        <div class="review__text">
          <svg class="icon icon--md icon--primary">
            <use xlink:href="../../../assets/images/sprite.svg#quote_left"></use>
          </svg>
          <p>Good repair work.</p>
          <svg class="icon icon--md icon--primary">
            <use xlink:href="../../../assets/images/sprite.svg#quote_right"></use>
          </svg>
        </div>
      </div>
      <div class="review">
        <div class="review__profile-pic">
          <img src="../../../assets/images/profile_2.png" alt="">
        </div>
        <div class="review__profile-name">
          Ellie Roberts
        </div>
        <div class="review__stars">
          <svg class="icon icon--md">
            <use xlink:href="../../../assets/images/sprite.svg#star"></use>
          </svg>
          <svg class="icon icon--md">
            <use xlink:href="../../../assets/images/sprite.svg#star"></use>
          </svg>
          <svg class="icon icon--md">
            <use xlink:href="../../../assets/images/sprite.svg#star"></use>
          </svg>
          <svg class="icon icon--md">
            <use xlink:href="../../../assets/images/sprite.svg#star"></use>
          </svg>
          <svg class="icon icon--md">
            <use xlink:href="../../../assets/images/sprite.svg#star"></use>
          </svg>
        </div>
        <div class="review__text">
          <svg class="icon icon--md icon--primary">
            <use xlink:href="../../../assets/images/sprite.svg#quote_left"></use>
          </svg>
          <p>Quick and efficient service - I would use them again.</p>
          <svg class="icon icon--md icon--primary">
            <use xlink:href="../../../assets/images/sprite.svg#quote_right"></use>
          </svg>
        </div>
      </div>
    </div>
    <a href="https://g.page/a-g-appliances/review" class="btn-round btn--secondary">leave a review</a>
  </section>

  <!-- Reason info -->

  <div class="reason-info">
    <p class="reason-info__p-1">6 months guarantee on the repair and parts (we do not guarantee
      blockages, heating elements or printed circuit boards).</p>
    <p class="reason-info__p-2">A congestion charge, ULEZ charge and parking fees apply if you live in central London.
    </p>
    <p class="reason-info__p-3">£10 discount applies to the following postcodes: E1, E2, E3, E4, E5, E16, E7, E8 , E9,
      E10, E11, E12, E13, E14, E15, E16, E17, and E18.</p>
  </div>
</div>