@import "../../styles/variables";

%header-info {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: $font-primary;
}

%tab-body {
    margin: 4rem 0;
    color: #fff;

    grid-column: col-start 1 / col-end 8;
    display: grid;
    grid-template-columns: [full-start] minmax(3rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(3rem, 1fr) [full-end];
    grid-row-gap: 2.5rem;
}

%section-header {
    margin-bottom: 2.5rem;
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-column-gap: 1.5rem;
    align-items: center;
    text-transform: capitalize;


    &::before,
    &::after {
        content: "";
        height: 1px;
        display: block;
        background-color: $color-secondary;
    }
}

%about-us-text {
    grid-column: 1 / 5;
    font-size: $font-size-primary;
    color: $color-grey;
    text-rendering: optimizeLegibility;
    text-align: justify;

    p {
        margin-bottom: 0 !important;
    }

    @media only screen and (max-width: 950px) {
        grid-column: 1 / -1;
    }
}

.header {
    background-color: #252f41;
    padding-top: 0.5rem;
    display: grid;
    grid-column: full-start / full-end;
    grid-template-columns:
        minmax(6rem, 1fr) repeat(2, [email-col-start] 14.25rem [email-col-end]) minmax(min-content, 20rem) [logo-start] min-content [logo-end] minmax(min-content, 20rem) repeat(2, [call-col-start] 14.25rem [call-col-end]) minmax(6rem, 1fr) [full-end];
    grid-auto-flow: column;

    svg {
        margin-right: 0.5rem;
    }


    @media only screen and (max-width: 1048px) {
        grid-template-columns: minmax(3rem, 1fr) minmax(min-content, 1fr) minmax(3rem, 1fr);
        justify-content: center;
    }

    &__logo-wrapper {
        width: 15rem;

        grid-column: logo-start / logo-end;
        align-self: center;

        &--image {
            max-width: 15rem;
        }

        @media only screen and (max-width: 1342px) {
            width: 12.5rem;

            &--image {
                max-width: 12.5rem;
            }
        }

        @media only screen and (max-width: 1048px) {
            grid-column: 2 / 3;
            justify-self: center;
            width: 12.5rem;

            &--image {
                max-width: 12.5rem;
            }
        }

    }

    &__email a,
    &__phone a,
    &__mobile a {
        text-decoration: none;
        color: #fff;
        font-size: $font-size-primary;

        @media only screen and (max-width: 1342px) {
            font-size: 1.4rem;
        }
    }

    &__email {
        @extend %header-info;

        grid-column: email-col-start 1 / email-col-end 2;

        @media only screen and (max-width: 1048px) {
            display: none;
        }
    }

    &__phone {
        @extend %header-info;

        grid-column: call-col-start 1 / call-col-end 1;

        @media only screen and (max-width: 1048px) {
            display: none;
        }
    }

    &__mobile {
        @extend %header-info;

        grid-column: call-col-start 2 / call-col-end 2;

        @media only screen and (max-width: 1048px) {
            display: none;
        }
    }
}

.intro {
    grid-column: full-start / full-end;
    display: grid;
    grid-template-columns: minmax(3rem, 1fr) 6fr minmax(3rem, 1fr);

    &__image {
        background-color: #6F7277;
        grid-column: 1 / 4;
        grid-row: 1 / 3;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    h1 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        align-self: end;
        margin-bottom: 4rem;
        text-align: center;
        font-family: "Poppins", sans-serif;
        color: #fff;
        display: block;
        font-size: 3rem;
        font-weight: 600;
        animation: moveInLeft 1s ease-out;
        animation-delay: 0.1s;

        @media only screen and (max-width: 710px) {
            font-size: 2.5rem;
        }

        @media only screen and (max-width: 450px) {
            font-size: 2.2rem;
        }

        @media only screen and (max-width: 400px) {
            font-size: 2rem;
        }
    }

    &__sub {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 2rem;
        justify-items: center;

        font-family: "Poppins", sans-serif;
        font-weight: 300;
        animation: moveInRight 1s ease-out;
        animation-delay: 0.1s;

        @media only screen and (max-width: 1500px) {
            grid-template-columns: repeat(2, minmax(min-content, max-content));
            align-content: start;
            justify-items: start;
            justify-content: center;
            grid-column-gap: 4rem;
            grid-row-gap: 1rem;
        }

        @media only screen and (max-width: 710px) {
            grid-template-columns: repeat(2, minmax(min-content, max-content));
            align-content: start;
            justify-items: start;
            justify-content: center;
            grid-column-gap: 2rem;
            grid-row-gap: 1rem;
        }

        @media only screen and (max-width: 600px) {
            grid-template-columns: minmax(min-content, max-content);
            align-content: start;
            justify-items: start;
            justify-content: center;
            grid-row-gap: 1rem;

        }

        svg {
            margin-right: 0.5rem;

            @media only screen and (max-width: 710px) {
                width: 2rem;
                height: 2rem;

            }
        }

        p {
            font-size: 1.6rem;
            display: inline-block;
            transform: translateY(-0.6rem);
            color: #fff;

            @media only screen and (max-width: 710px) {
                font-size: 1.4rem;

                svg {
                    width: 1rem;
                    height: 1rem;
                }
            }
        }
    }
}

.reasons {
    margin-top: 6.5rem;

    grid-column: col-start 1 / col-end 8;
    grid-row: 4 / 5;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26.5rem, 1fr));
    grid-row-gap: 4rem;
    grid-column-gap: 2rem;

    .section-header {
        @extend %section-header;

        @media only screen and (max-width: 500px) {
            &--services {
                h1 {
                    font-size: 2.2rem !important;
                }
            }
        }

        @media only screen and (max-width: 375px) {
            &--services {
                h1 {
                    font-size: 2rem !important;
                }
            }
        }

        @media only screen and (max-width: 350px) {
            &--services {
                h1 {
                    font-size: 2.2rem !important;
                }
            }
        }
    }
}

.reason {
    align-items: center;

    display: grid;
    grid-template-columns: min-content minmax(min-content, 1fr);
    grid-column-gap: 1rem;

    .icon-wrapper {
        width: 5.6rem;
    }
}

.request-tab {
    margin-top: 6rem;
    grid-column: 1 / -1;
    display: grid;
    justify-content: center;

    &__wrapper {
        border-bottom: 0.5rem solid $color-primary;
        padding: 0 1rem;
    }

    svg {
        height: 3.25rem;
        width: 3.25rem;
        margin-right: 0.5rem;
    }

    p {
        display: inline-block;
        margin: 0;
        font-size: 1.6rem;
        transform: translateY(-1rem);
    }
}

.request {
    grid-column: full-start / full-end;

    position: relative;
    background-color: $color-secondary;

    &__qoute {
        @extend %tab-body;

        &--heading {
            justify-self: center;
            background: $color-primary;
            padding: 0.5rem;

            grid-column: col-start 1 / col-end 8;
        }

        &--subheading {
            grid-column: col-start 1 / col-end 8;
            display: grid;
            grid-template-columns: repeat(3, minmax(min-content, max-content));
            justify-content: center;
            grid-column-gap: 2.5rem;
            row-gap: 1rem;
            font-size: 1.25rem;

            @media only screen and (max-width: 700px) {
                grid-template-columns: repeat(2, minmax(min-content, max-content));
            }

            @media only screen and (max-width: 500px) {
                grid-template-columns: minmax(min-content, max-content);
            }

            .subheading-item {
                display: grid;
                grid-template-columns: min-content minmax(min-content, 1fr);
                align-items: center;

                p {
                    margin-bottom: 0 !important;
                }

                svg {
                    margin-right: 0.5rem;
                }
            }
        }

        &--form {
            grid-column: col-start 1 / col-end 8;
        }
    }

    &__result {
        @extend %tab-body;
    }

    .qoute-reset {
        grid-column: col-start 1 / col-end 8;
        max-width: max-content;
        justify-self: center;
    }

    .result__price-container {
        grid-column: col-start 1 / col-end 4;
        display: grid;
        grid-template-columns: minmax(min-content, max-content);
        justify-content: center;
        grid-row-gap: 2.186rem;

        @media only screen and (max-width: 1100px) {
            grid-column: col-start 1 / col-end 8;
        }

        .header-text {
            justify-self: center;
            background: $color-primary;
            padding: 0.5rem;
        }

        .price-info {
            justify-self: center;
            align-self: center;
            font-size: 6rem;

            span {
                font-size: 2.75rem;
                margin-left: 1rem;
            }

            p {
                margin-bottom: 0;
            }
        }

        .call-info {
            font-size: 2rem;
            justify-self: center;

            p {
                margin-bottom: 0;
            }

            span {
                font-weight: 700;
                display: inline-block;
                transform: translateY(0.1rem);

                a {
                    text-decoration: none;
                    color: $color-primary;
                    font-size: 2.5rem;
                }
            }
        }
    }

    .result__terms {
        grid-column: col-start 5 / col-end 8;
        justify-self: center;

        @media only screen and (max-width: 1100px) {
            grid-column: col-start 1 / col-end 8;
        }

        .terms-container {
            display: grid;
            grid-template-columns: repeat(2, minmax(min-content, max-content));
            grid-column-gap: 2rem;
            grid-row-gap: 1.5rem;

            @media only screen and (max-width: 450px) {
                grid-template-columns: minmax(min-content, max-content);
                justify-content: center;
            }
        }

        .term-header {
            grid-column: 1 / -1;
            justify-self: center;
            font-size: 1rem;
            font-weight: 400;
            border-bottom: 1px solid $color-primary;
            padding-bottom: 0.5rem;

            svg {
                margin-right: 0.5rem;
                fill: #fff;
            }

            &__items {
                display: grid;
                grid-template-columns: repeat(3, minmax(min-content, max-content));
                grid-column-gap: 1rem;

                @media only screen and (max-width: 550px) {
                    grid-template-columns: repeat(2, minmax(min-content, max-content));
                    grid-row-gap: 1rem;
                }

                @media only screen and (max-width: 480px) {
                    grid-template-columns: minmax(min-content, max-content);
                    grid-row-gap: 1rem;
                }
            }

            &__item {
                display: flex;
                align-items: center;

                p {
                    margin-bottom: 0 !important;
                }
            }
        }

        .term-item {
            display: grid;
            grid-template-columns: min-content minmax(min-content, max-content);
            align-content: center;
            align-items: center;

            p {
                margin-bottom: 0 !important;
            }

            svg {
                margin-right: 0.5rem;
                fill: $color-primary;
            }
        }

        .icon-wrapper {
            display: inline-block;
        }

        p {
            display: inline-block;
        }
    }

    &__booking {
        margin: 4rem 0;
        color: #fff;

        grid-column: full-start / full-end;
        display: grid;
        grid-template-columns: [full-start] minmax(3rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(3rem, 1fr) [full-end];
        grid-row-gap: 2.5rem;

        .booking-header {
            justify-self: center;
            background: $color-primary;
            padding: 0.5rem;

            grid-column: col-start 1 / col-end 8;
        }

        .booking-form {
            grid-column: col-start 1 / col-end 8;
        }
    }
}

.about-us {
    margin-top: 6.5rem;

    grid-column: col-start 1 / col-end 8;
    display: grid;

    .section-header {
        @extend %section-header;
    }

    &__content-container {
        margin-top: 4rem;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-column-gap: 2.5rem;
        grid-row-gap: 2rem;
    }

    &__text-1 {
        @extend %about-us-text;
    }

    &__text-2 {
        @extend %about-us-text;
    }

    &__image-container {
        grid-column: 5 / 9;
        grid-row: 1 / 3;

        & img {
            width: 100%;
            margin-top: 0.5rem;
            box-shadow: 0 2rem 5rem rgba(#000, .15);
        }

        & figure {
            position: relative;
        }

        & figcaption {
            position: absolute;
            top: 75%;
            left: 50%;
            transform: translate(-50%, 0);
            height: 15%;
            width: 80%;
            font-size: 1.75rem;
            background: $color-primary;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;

            p {
                margin-bottom: 0 !important;
            }

            @media only screen and (max-width: 1315px) {
                font-size: 1.4vw;
            }


            @media only screen and (max-width: 950px) {
                font-size: 2vw;
            }

            @media only screen and (max-width: 650px) {
                font-size: 2.6vw;
            }
        }

        @media only screen and (max-width: 950px) {
            grid-column: 2 / 8;
            grid-row: 2 / 3;
        }

        @media only screen and (max-width: 650px) {
            grid-column: 1 / -1;
            grid-row: 2 / 3;
        }
    }
}

.services-container {
    margin-top: 6.5rem;

    grid-column: col-start 1 / col-end 8;
    display: grid;
    grid-template-columns: repeat(10, 1fr);


    .section-header {
        @extend %section-header;
    }

    .section-text {
        grid-column: 1 / -1;
        margin-top: 4rem;
        margin-bottom: 0 !important;
        font-size: $font-size-primary;
        color: $color-grey;
        text-rendering: optimizeLegibility;
        text-align: justify;

    }

    .services {
        margin-top: 4rem;
        grid-column: 2 / 10;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 2.5rem;
        grid-row-gap: 5rem;

        @media only screen and (max-width: 1200px) {
            grid-column: 1 / -1;
            justify-content: center;
        }

        @media only screen and (max-width: 900px) {
            grid-template-columns: repeat(2, minmax(min-content, 30rem));
            grid-column-gap: 5rem;
        }

        @media only screen and (max-width: 700px) {
            grid-template-columns: repeat(2, minmax(min-content, 30rem));
            grid-column-gap: 2.5rem;
        }

        @media only screen and (max-width: 500px) {
            grid-column: 2 / 10;
            grid-template-columns: 1fr;
        }

        @media only screen and (max-width: 400px) {
            grid-column: 1 / -1;
            grid-template-columns: 1fr;
        }

        .service__title {
            margin-bottom: 0 !important;
            background-color: $color-primary;
            width: 100%;
            font-size: 1.4rem;
            text-align: center;
        }

        &__service {
            cursor: pointer;
            padding-top: 2rem;
            display: grid;
            background-color: $color-secondary;
            color: #fff;
            justify-items: center;
            align-items: center;
            border-radius: 1rem;
            transition: all .3s;
            box-shadow: 0 1.5rem 4rem rgba(#000, .1);

            .service__icon {
                max-width: 45%;
                fill: #fff;

                &--commercial {
                    max-width: 51%;
                    fill: #fff;
                }

                @media only screen and (max-width: 800px) {
                    max-width: 40%;

                    &--commercial {
                        max-width: 46%;
                    }
                }
            }

            &:hover {
                transform: translateY(-1.5rem) scale(1.03);
                box-shadow: 0 1.5rem 4rem rgba(#000, .25);
            }

            @media only screen and (max-width: 600px) {
                font-size: 1.25rem;
            }

            @media only screen and (max-width: 500px) {
                font-size: 1.75rem;
            }
        }
    }
}

.coverage {
    margin-top: 6.5rem;

    grid-column: col-start 1 / col-end 8;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;

    @media only screen and (max-width: 1060px) {
        grid-column: full-start / full-end;
    }

    &__button-container {
        grid-column: 1 / -1;
        padding: 3rem 0;
        justify-items: center;
        display: flex;
        justify-content: center;

        a {
            font-weight: 700;
            color: #fff;
            background-color: $color-secondary;
        }

        a:hover {
            color: #fff;
        }

        @media only screen and (max-width: 1060px) {
            background-color: $color-secondary;

            a {
                color: $color-secondary;
                background-color: #fff;
            }

            a:hover {
                color: $color-secondary;
            }
        }
    }

    .section-header {
        @extend %section-header;
        margin-bottom: 6.5rem;
        margin-left: 3rem;
        margin-right: 3rem;
    }

    .coverage-text {
        font-size: $font-size-primary;
        color: $color-grey;
        margin-bottom: 0;
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        text-align: center;

        @media only screen and (max-width: 1060px) {
            align-self: center;
            margin-left: 3rem;
            margin-right: 3rem;
        }

        @media only screen and (max-width: 850px) {
            grid-column: 1 / -1;
            grid-row: auto;
        }
    }

    figure {
        justify-self: center;
        width: 100%;

        img {
            width: 100%;

            @media only screen and (max-width: 1060px) {
                padding-left: 3rem;
                padding-right: 3rem;
            }
        }

        @media only screen and (max-width: 850px) {
            grid-column: 1 / -1;
            grid-row: auto;
            width: 80%;
        }

        @media only screen and (max-width: 600px) {
            grid-column: 1 / -1;
            grid-row: auto;
            width: 90%;
        }

        @media only screen and (max-width: 500px) {
            grid-column: 1 / -1;
            grid-row: auto;
            width: 100%;
        }
    }

    &__col-container {
        display: grid;
        grid-column: 1 / -1;
        grid-row: auto;
        transform: none;
        grid-template-columns: repeat(4, minmax(min-content, max-content));
        grid-template-rows: min-content;
        grid-row-gap: 1rem;
        grid-column-gap: 1rem;
        justify-content: center;
        margin-top: 1rem;

        @media only screen and (min-width: 1060px) {
            grid-column: 2 / 3;
            grid-row: 2 / 3;
            transform: translateY(10rem);
            margin-top: 0;
        }

        @media only screen and (max-width: 1060px) {
            grid-column-gap: 4rem;
            background-color: $color-secondary;
            padding: 2rem 0;
        }

        @media only screen and (max-width: 650px) {
            grid-column-gap: 4rem;
            grid-template-columns: repeat(2, minmax(min-content, max-content));
        }
    }

    .coverege-text-col {
        display: grid;
        grid-template-rows: min-content;

        &__heading {
            background-color: $color-primary;
            padding: 0.5rem;
            text-transform: capitalize;
            margin-bottom: 1.5rem;
            text-align: center;
        }

        &__list {
            list-style-type: none;
            justify-self: center;
            columns: $color-secondary;
            font-size: $font-size-sm;
            margin: 0;
            color: $color-grey;

            @media only screen and (max-width: 1060px) {
                color: #fff;
            }
        }
    }
}

.reviews-container {
    margin-top: 6.5rem;

    grid-column: col-start 1 / col-end 8;
    display: grid;

    .section-header {
        @extend %section-header;
        margin-bottom: 6.5rem;
    }

    a {
        grid-column: 1 / -1;
        justify-self: center;
        margin: 4rem 0;
        color: #fff;
    }

    .reviews {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 2rem;

        @media only screen and (max-width: 1060px) {
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 5rem;
            grid-row-gap: 5rem;
            margin: 0 5rem;
        }

        @media only screen and (max-width: 868px) {
            margin: 0 2.5rem;
        }

        @media only screen and (max-width: 820px) {
            margin: 0;
        }

        @media only screen and (max-width: 600px) {
            grid-template-columns: 1fr;
            margin: 0 5rem;
        }

        @media only screen and (max-width: 550px) {
            margin: 0 1.5rem;
        }

        @media only screen and (max-width: 450px) {
            margin: 0;
        }
    }

    .review {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding: 2rem;
        grid-row-gap: 1rem;
        align-content: start;
        border-radius: 2px;
        box-shadow: 0 2.5px 5px rgba(0, 0, 0, .23);

        &__profile-pic {
            grid-column: 1 / 2;

            img {
                width: 100%;

                @media only screen and (max-width: 1060px) {
                    width: 70%;
                }

                @media only screen and (max-width: 600px) {
                    width: 90%;
                }

                @media only screen and (max-width: 550px) {
                    width: 80%;
                }

                @media only screen and (max-width: 450px) {
                    width: 70%;
                }
            }
        }

        &__profile-name {
            grid-column: 2 / -1;
            color: $color-grey;
            font-size: 2rem;
            align-self: center;
            justify-self: start;
            padding-left: 1.5rem;

            @media only screen and (max-width: 1060px) {
                font-size: 2rem;
            }

            @media only screen and (max-width: 768px) {
                font-size: 2rem;
            }

            @media only screen and (max-width: 600px) {
                font-size: 2.5rem;
            }

            @media only screen and (max-width: 550px) {
                font-size: 2rem;
            }

            @media only screen and (max-width: 450px) {
                font-size: 1.75rem;
            }
        }

        &__stars {
            grid-column: 1 / -1;
            align-self: center;
            justify-self: center;

            svg {
                fill: gold;
            }
        }

        &__text {
            grid-column: 1 / -1;
            align-self: center;
            font-size: $font-size-secondary;
            display: grid;
            justify-content: center;
            grid-template-columns: min-content minmax(min-content, max-content) min-content;

            @media only screen and (max-width: 1060px) {
                font-size: 1.45rem;
            }

            @media only screen and (max-width: 768px) {
                font-size: 1.25rem;
            }

            @media only screen and (max-width: 600px) {
                font-size: 1.5rem;
            }

            @media only screen and (max-width: 550px) {
                font-size: 1.5rem;
            }

            @media only screen and (max-width: 450px) {
                font-size: 1.25rem;
            }

            p {
                margin: 0;
                display: inline-block;
            }

            svg:first-child {
                margin-right: 0.5rem;
            }

            svg:last-child {
                align-self: end;
                margin-left: 0.5rem;
            }
        }
    }
}