<div class="container-main">
  <div class="header-backfill"></div>
  <div class="header">
    <div class="header__logo-wrapper">
      <img class="header__logo-wrapper--image" src="../../../assets/images/logo-header.svg" alt="" />
    </div>
    <div class="header__email">
      <svg class="icon icon--md icon icon--white">
        <use xlink:href="../../../assets/images/sprite.svg#mail_filled"></use>
      </svg>
      <a href="mailto:contact@ag-repairs.co.uk">contact@ag-repairs.co.uk</a>
    </div>
    <div class="header__phone">
      <svg class="icon icon--md icon icon--white">
        <use xlink:href="../../../assets/images/sprite.svg#phone_filled"></use>
      </svg>
      <a href="tel:0207 476 8725">0207 476 8725</a>
    </div>
    <div class="header__mobile">
      <svg class="icon icon--md icon icon--white">
        <use xlink:href="../../../assets/images/sprite.svg#touchscreen_smartphone_filled"></use>
      </svg>
      <a href="tel:0754 085 2102">0754 085 2102</a>
    </div>
  </div>
  <div class="intro">
    <div class="intro__image">
      <img src="../../assets/images/intro.jpg" alt="">
    </div>
    <h1>The UK's number 1 domestic appliance repair service</h1>
    <div class="intro__sub">
      <div class="sub-item">
        <svg class="icon icon--md icon--primary">
          <use xlink:href="../../../assets/images/sprite.svg#checked"></use>
        </svg>
        <p>Fast, reliable service</p>
      </div>
      <div class="sub-item">
        <svg class="icon icon--md icon--primary">
          <use xlink:href="../../../assets/images/sprite.svg#checked"></use>
        </svg>
        <p>Largest UK coverage</p>
      </div>
      <div class="sub-item">
        <svg class="icon icon--md icon--primary">
          <use xlink:href="../../../assets/images/sprite.svg#checked"></use>
        </svg>
        <p>Same/next day appointments</p>
      </div>
      <div class="sub-item">
        <svg class="icon icon--md icon--primary">
          <use xlink:href="../../../assets/images/sprite.svg#checked"></use>
        </svg>
        <p>Same/next day appointments</p>
      </div>
    </div>
  </div>
  <section class="reasons">
    <header class="section-header section-header--services">
      <h1 class="heading-1 heading-1--primary">why choose our services</h1>
    </header>
    <div class="reason">
      <svg class="icon icon--lg icon icon--secondary">
        <use xlink:href="../../../assets/images/sprite.svg#security_checked"></use>
      </svg>
      <h1 class="heading-2 heading-2--grey">6 months guarantee on all appliance repairs</h1>
    </div>
    <div class="reason">
      <svg class="icon icon--lg icon icon--secondary">
        <use xlink:href="../../../assets/images/sprite.svg#person_at_home"></use>
      </svg>
      <h1 class="heading-2 heading-2--grey">Same and next day visits at no additional cost</h1>
    </div>
    <div class="reason">
      <svg class="icon icon--lg icon icon--secondary">
        <use xlink:href="../../../assets/images/sprite.svg#cancel_2"></use>
      </svg>
      <h1 class="heading-2 heading-2--grey">No hidden costs, no call out charges, no parking fees</h1>
    </div>
    <div class="reason">
      <svg class="icon icon--lg icon icon--secondary">
        <use xlink:href="../../../assets/images/sprite.svg#user_group_man_man"></use>
      </svg>
      <h1 class="heading-2 heading-2--grey"> Experienced Technicians</h1>
    </div>
  </section>
  <div class="request-tab">
    <div class="request-tab__wrapper">
      <svg class="icon icon icon--secondary">
        <use xlink:href="../../../assets/images/sprite.svg#bpc"></use>
      </svg>
      <p>Instant Qoute</p>
    </div>
  </div>
  <section class="request">
    <div class="request__qoute" *ngIf="!isResult">
      <h1 class="request__qoute--heading heading-2">Simply complete our three step repair booking form or give us a
        call to get an instant quote.</h1>
      <div class="request__qoute--subheading">
        <div class="subheading-item">
          <svg class="icon icon--md icon--primary">
            <use xlink:href="../../../assets/images/sprite.svg#checkmark"></use>
          </svg>
          <p>Simply complete our three step repair booking form</p>
        </div>
        <div class="subheading-item">
          <svg class="icon icon--md icon--primary">
            <use xlink:href="../../../assets/images/sprite.svg#checkmark"></use>
          </svg>
          <p>Simply complete our three step repair booking form</p>
        </div>
        <div class="subheading-item">
          <svg class="icon icon--md icon--primary">
            <use xlink:href="../../../assets/images/sprite.svg#checkmark"></use>
          </svg>
          <p>Simply complete our three step repair booking form</p>
        </div>
      </div>
      <app-home-form (qouteSubmitted)="qouteRequest($event)" class="request__qoute--form"></app-home-form>
    </div>
    <div *ngIf="isResult" class="request__result">
      <div class="result__price-container">
        <div class="header-text heading-2">
          Price for {{qouteFitting}} {{qouteApplianceMake}} {{qouteApplianceType}} {{qouteJobType}}
        </div>
        <div class="price-info">
          <p>{{price}}<span>+VAT</span></p>
        </div>
        <div class="call-info">
          <p>Call <span><a href="tel:0207 476 8725">0207 476 8725</a></span> to book a service today!</p>
        </div>
      </div>
      <div class="result__terms">
        <div class="terms-container">
          <div class="term-header">
            <div class="term-header__items">
              <div class="term-header__item">
                <svg class="icon icon--md icon--white">
                  <use xlink:href="../../../assets/images/sprite.svg#clock"></use>
                </svg>
                <p>Available six days a week</p>
              </div>
              <div class="term-header__item">
                <svg class="icon icon--md icon--white">
                  <use xlink:href="../../../assets/images/sprite.svg#card_in_use"></use>
                </svg>
                <p>We accept cash and major credit cards</p>
              </div>
              <div class="term-header__item">
                <svg class="icon icon--md icon--white">
                  <use xlink:href="../../../assets/images/sprite.svg#today"></use>
                </svg>
                <p>Hassle free appointments</p>
              </div>
            </div>
          </div>
          <div class="term-item">
            <svg class="icon icon--xs">
              <use xlink:href="../../../assets/images/sprite.svg#filled_circle"></use>
            </svg>
            <p>Same and next day visits at no additional cost.</p>
          </div>
          <div class="term-item">
            <svg class="icon icon--xs">
              <use xlink:href="../../../assets/images/sprite.svg#filled_circle"></use>
            </svg>
            <p>Same and next day visits at no additional cost.</p>
          </div>
          <div class="term-item">
            <svg class="icon icon--xs">
              <use xlink:href="../../../assets/images/sprite.svg#filled_circle"></use>
            </svg>
            <p>Same and next day visits at no additional cost.</p>
          </div>
          <div class="term-item">
            <svg class="icon icon--xs">
              <use xlink:href="../../../assets/images/sprite.svg#filled_circle"></use>
            </svg>
            <p>Same and next day visits at no additional cost.</p>
          </div>
          <div class="term-item">
            <svg class="icon icon--xs">
              <use xlink:href="../../../assets/images/sprite.svg#filled_circle"></use>
            </svg>
            <p>Same and next day visits at no additional cost.</p>
          </div>
          <div class="term-item">
            <svg class="icon icon--xs">
              <use xlink:href="../../../assets/images/sprite.svg#filled_circle"></use>
            </svg>
            <p>Same and next day visits at no additional cost.</p>
          </div>
        </div>
      </div>
      <button class="qoute-reset btn-round btn--white" (click)="resetQoute()">new qoute</button>
    </div>
  </section>
  <section class="about-us">
    <header class="section-header">
      <h1 class="heading-1 heading-1--primary">about us</h1>
    </header>
    <div class="about-us__content-container">
      <div class="about-us__text-1">
        <p>
          Our appliance repair service centre offers local professional repair service
          of household appliances and electronics using top quality tradesmanship and parts. We are able to resolve
          technical problems and mend your appliance right in your home. Differentiated approach to technical problems
          by experienced tradesmen allows our engineers to accurately determine the nature of the problem, source the
          necessary parts, if they need replacing and quickly repair the failed appliance, be it a washing machine
          repairs, microwave, electric oven, dishwasher or any other white good.
        </p>
      </div>
      <div class="about-us__text-2">
        <p>
          Our service is based on many years of
          experience with various tools and devices, supplemented by a serious knowledge of domestic and commercial
          appliances. The use of advanced tools and manufacturer’s spare parts accelerates the process of repairing
          household appliances, our repairs are guaranteed for 6 months. In a competitive environment, our company is
          growing thanks to our ability to provide personal local service
          often same day/next day, i.e. if it is an emergency.
        </p>
      </div>
      <div class="about-us__image-container">
        <figure>
          <img src="../../../assets/images/car2.jpg" alt="" />
          <figcaption>
            <p>
              Over 15 years of experience in white goods servicing
            </p>
          </figcaption>
        </figure>
      </div>
    </div>
  </section>
  <section class="services-container">
    <header class="section-header">
      <h1 class="heading-1 heading-1--primary">Services</h1>
    </header>
    <p class="section-text">A&G specialises in washing machine repairs in South, East, West, Central, North London.
      Engineers have many years
      of experience in oven repairs, tumble dryer repairs, cooker repairs, dishwasher repairs and microwave repairs. We
      also do tumble dryer repairs and cooker hood repairs. Place your confidence in a professional appliance repair
      company.</p>
    <div class="services">
      <a class="services__service">
        <p class="service__title">Washing Machine Repairs</p>
        <svg class="service__icon">
          <use xlink:href="../../../assets/images/sprite.svg#washing_machine"></use>
        </svg>
      </a>
      <a class="services__service">
        <p class="service__title">Diswasher Repairs</p>
        <svg class="service__icon">
          <use xlink:href="../../../assets/images/sprite.svg#dishwasher"></use>
        </svg>
      </a>
      <a class="services__service">
        <p class="service__title">Tumble Dryer Repairs</p>
        <svg class="service__icon">
          <use xlink:href="../../../assets/images/sprite.svg#tumble_dryer"></use>
        </svg>
      </a>
      <a class="services__service">
        <p class="service__title">Electric Cooker/Oven Repairs</p>
        <svg class="service__icon">
          <use xlink:href="../../../assets/images/sprite.svg#cooker"></use>
        </svg>
      </a>
      <a class="services__service">
        <p class="service__title">Microwave Repairs</p>
        <svg class="service__icon">
          <use xlink:href="../../../assets/images/sprite.svg#microwave"></use>
        </svg>
      </a>
      <a class="services__service">
        <p class="service__title">Extractor Hood Repairs</p>
        <svg class="service__icon">
          <use xlink:href="../../../assets/images/sprite.svg#cooker_hood"></use>
        </svg>
      </a>
      <a class="services__service">
        <p class="service__title">Fridge Freezer Repairs</p>
        <svg class="service__icon">
          <use xlink:href="../../../assets/images/sprite.svg#fridge"></use>
        </svg>
      </a>
      <a class="services__service">
        <p class="service__title">Commercial Appliance Repairs</p>
        <svg class="service__icon--commercial">
          <use xlink:href="../../../assets/images/sprite.svg#cooker_dotted"></use>
        </svg>
      </a>
    </div>
  </section>
  <section class="coverage">
    <header class="section-header">
      <h1 class="heading-1 heading-1--primary">Areas Covered</h1>
    </header>
    <figure>
      <img src="../../../assets/images/map.gif" alt="" />
    </figure>
    <p class="coverage-text">Our appliance and London washing machine repair service cover postcodes which you see on
      the map below most of
      the postcodes within M25.
      Excluding UB, TW, KT, HA, DA, CR postcodes.
    </p>
    <div class="coverage__col-container">
      <div class="coverege-text-col">
        <h2 class="coverege-text-col__heading heading-2">east london</h2>
        <ul class="coverege-text-col__list">
          <li>E1 Head district</li>
          <li>E2 Bethnal Green</li>
          <li>E3 Bow</li>
          <li>E4 Chingford</li>
          <li>E5 Clapton</li>
          <li>E6 East Ham</li>
          <li>E7 Forest Gate</li>
          <li>E8 Hackney</li>
          <li>E9 Homerton</li>
          <li>E10 Leyton</li>
          <li>E11 Leytonstone</li>
          <li>E12 Manor Park</li>
          <li>E13 Plaistow</li>
          <li>E14 Poplar</li>
          <li>E15 Stratford</li>
          <li>E16 Victoria Docks</li>
          <li>E17 Walthamstow</li>
          <li>E18 South Woodford</li>
        </ul>
      </div>
      <div class="coverege-text-col">
        <h2 class="coverege-text-col__heading heading-2">north london</h2>
        <ul class="coverege-text-col__list">
          <li>N1 Head district</li>
          <li>N2 East Finchley</li>
          <li>N3 Finchley</li>
          <li>N4 Finsbury Park</li>
          <li>N5 Highbury</li>
          <li>N6 Highgate</li>
          <li>N7 Holloway</li>
          <li>N8 Hornsey</li>
          <li>N9 Lower Edmonton</li>
          <li>N10 Muswell Hill</li>
          <li>N11 New Southgate</li>
          <li>N12 North Finchley</li>
          <li>N13 Palmers Green</li>
          <li>N14 Southgate</li>
          <li>N15 South Tottenham</li>
          <li>N16 Stoke Newington</li>
          <li>N17 Tottenham</li>
          <li>N18 Upper Edmonton</li>
          <li>N19 Upper Holloway</li>
          <li>N20 Whetstone</li>
          <li>N21 Winchmore Hill</li>
          <li>N22 Wood Green</li>
        </ul>
      </div>
      <div class="coverege-text-col">
        <h2 class="coverege-text-col__heading heading-2">central london</h2>
        <ul class="coverege-text-col__list">
          <li>EC1 Head district</li>
          <li>EC2 Bishopsgate</li>
          <li>EC3 Fenchurch Street</li>
          <li>EC4 Fleet Street</li>
        </ul>
      </div>
      <div class="coverege-text-col">
        <h2 class="coverege-text-col__heading coverege-text-col__heading--alt heading-2">NW london</h2>
        <ul class="coverege-text-col__list">
          <li>NW1 Head district</li>
          <li>NW2 Cricklewood</li>
          <li>NW3 Hampstead</li>
          <li>NW4 Hendon</li>
          <li>NW5 Kentish Town</li>
          <li>NW6 Kilburn</li>
          <li>NW7 Mill Hill</li>
          <li>NW8 St John’s Wood</li>
          <li>NW9 The Hyde</li>
          <li>NW10 Willesden</li>
          <li>NW11 Golders Green</li>
        </ul>
      </div>
    </div>
    <div class="coverage__button-container">
      <a class="btn-round" [routerLink]="[ '/']" class="btn-round">view all postcodes</a>
    </div>
  </section>
  <section class="reviews-container">
    <header class="section-header">
      <h1 class="heading-1 heading-1--primary">google reviews</h1>
    </header>
    <div class="reviews">
      <div class="review">
        <div class="review__profile-pic">
          <img src="../../../assets/images/profile_3.png" alt="">
        </div>
        <div class="review__profile-name">
          Marie Adam
        </div>
        <div class="review__stars">
          <svg class="icon icon--md">
            <use xlink:href="../../../assets/images/sprite.svg#star"></use>
          </svg>
          <svg class="icon icon--md">
            <use xlink:href="../../../assets/images/sprite.svg#star"></use>
          </svg>
          <svg class="icon icon--md">
            <use xlink:href="../../../assets/images/sprite.svg#star"></use>
          </svg>
          <svg class="icon icon--md">
            <use xlink:href="../../../assets/images/sprite.svg#star"></use>
          </svg>
          <svg class="icon icon--md">
            <use xlink:href="../../../assets/images/sprite.svg#star"></use>
          </svg>
        </div>
        <div class="review__text">
          <svg class="icon icon--md icon--primary">
            <use xlink:href="../../../assets/images/sprite.svg#quote_left"></use>
          </svg>
          <p>Very professional & efficient. Great service at a very good price. I would definitely recommend.</p>
          <svg class="icon icon--md icon--primary">
            <use xlink:href="../../../assets/images/sprite.svg#quote_right"></use>
          </svg>
        </div>
      </div>
      <div class="review">
        <div class="review__profile-pic">
          <img src="../../../assets/images/profile_1.png" alt="">
        </div>
        <div class="review__profile-name">
          George Pidgeon
        </div>
        <div class="review__stars">
          <svg class="icon icon--md">
            <use xlink:href="../../../assets/images/sprite.svg#star"></use>
          </svg>
          <svg class="icon icon--md">
            <use xlink:href="../../../assets/images/sprite.svg#star"></use>
          </svg>
          <svg class="icon icon--md">
            <use xlink:href="../../../assets/images/sprite.svg#star"></use>
          </svg>
          <svg class="icon icon--md">
            <use xlink:href="../../../assets/images/sprite.svg#star"></use>
          </svg>
          <svg class="icon icon--md">
            <use xlink:href="../../../assets/images/sprite.svg#star"></use>
          </svg>
        </div>
        <div class="review__text">
          <svg class="icon icon--md icon--primary">
            <use xlink:href="../../../assets/images/sprite.svg#quote_left"></use>
          </svg>
          <p>Thank you - would definitely use again in future.</p>
          <svg class="icon icon--md icon--primary">
            <use xlink:href="../../../assets/images/sprite.svg#quote_right"></use>
          </svg>
        </div>
      </div>
      <div class="review">
        <div class="review__profile-pic">
          <img src="../../../assets/images/profile_3.png" alt="">
        </div>
        <div class="review__profile-name">
          Annie Yusuf
        </div>
        <div class="review__stars">
          <svg class="icon icon--md">
            <use xlink:href="../../../assets/images/sprite.svg#star"></use>
          </svg>
          <svg class="icon icon--md">
            <use xlink:href="../../../assets/images/sprite.svg#star"></use>
          </svg>
          <svg class="icon icon--md">
            <use xlink:href="../../../assets/images/sprite.svg#star"></use>
          </svg>
          <svg class="icon icon--md">
            <use xlink:href="../../../assets/images/sprite.svg#star"></use>
          </svg>
          <svg class="icon icon--md" style="fill:#dddddd;">
            <use xlink:href="../../../assets/images/sprite.svg#star"></use>
          </svg>
        </div>
        <div class="review__text">
          <svg class="icon icon--md icon--primary">
            <use xlink:href="../../../assets/images/sprite.svg#quote_left"></use>
          </svg>
          <p>Good repair work.</p>
          <svg class="icon icon--md icon--primary">
            <use xlink:href="../../../assets/images/sprite.svg#quote_right"></use>
          </svg>
        </div>
      </div>
      <div class="review">
        <div class="review__profile-pic">
          <img src="../../../assets/images/profile_2.png" alt="">
        </div>
        <div class="review__profile-name">
          Ellie Roberts
        </div>
        <div class="review__stars">
          <svg class="icon icon--md">
            <use xlink:href="../../../assets/images/sprite.svg#star"></use>
          </svg>
          <svg class="icon icon--md">
            <use xlink:href="../../../assets/images/sprite.svg#star"></use>
          </svg>
          <svg class="icon icon--md">
            <use xlink:href="../../../assets/images/sprite.svg#star"></use>
          </svg>
          <svg class="icon icon--md">
            <use xlink:href="../../../assets/images/sprite.svg#star"></use>
          </svg>
          <svg class="icon icon--md">
            <use xlink:href="../../../assets/images/sprite.svg#star"></use>
          </svg>
        </div>
        <div class="review__text">
          <svg class="icon icon--md icon--primary">
            <use xlink:href="../../../assets/images/sprite.svg#quote_left"></use>
          </svg>
          <p>Quick and efficient service - I would use them again.</p>
          <svg class="icon icon--md icon--primary">
            <use xlink:href="../../../assets/images/sprite.svg#quote_right"></use>
          </svg>
        </div>
      </div>
    </div>
    <a [routerLink]="[ '/']" class="btn-round btn--secondary">leave a review</a>
  </section>
</div>