<div class="grid-container">
    <div class="header">
        <div class="header__logo">
            <a [routerLink]="[ '/']">
                <img class="header__logo-wrapper--image" src="../../../assets/images/logo-header.svg"
                    alt="Company logo" />
            </a>
        </div>
        <div class="header__email">
            <svg class="icon icon--md icon icon--white">
                <use xlink:href="../../../assets/images/sprite.svg#mail_filled"></use>
            </svg>
            <a href="mailto:contact@ag-repairs.co.uk">contact@ag-repairs.co.uk</a>
        </div>
        <div class="header__phone">
            <svg class="icon icon--md icon icon--white">
                <use xlink:href="../../../assets/images/sprite.svg#phone_filled"></use>
            </svg>
            <a href="tel:0207 476 8725">0207 476 8725</a>
        </div>
        <div class="header__mobile">
            <svg class="icon icon--md icon icon--white">
                <use xlink:href="../../../assets/images/sprite.svg#touchscreen_smartphone_filled"></use>
            </svg>
            <a href="tel:0754 085 2102">0754 085 2102</a>
        </div>
    </div>

    <!-- Intro -->

    <section class="intro">
        <div class="intro__image">
            <img src="../../assets/images/money-cover.jpg" alt="Money">
        </div>
        <header>
            <h1>Prices</h1>
        </header>
        <div class="intro__sub">
            <div class="sub-item">
                <svg class="icon icon--md icon--primary" role="img" aria-label="Check">
                    <title>Check</title>
                    <use xlink:href="../../../assets/images/sprite.svg#checked"></use>
                </svg>
                <p>Friendly and reliable service</p>
            </div>
            <div class="sub-item">
                <svg class="icon icon--md icon--primary" role="img" aria-label="Check">
                    <title>Check</title>
                    <use xlink:href="../../../assets/images/sprite.svg#checked"></use>
                </svg>
                <p>Highly qualified engineers</p>
            </div>
            <div class="sub-item">
                <svg class="icon icon--md icon--primary" role="img" aria-label="Check">
                    <title>Check</title>
                    <use xlink:href="../../../assets/images/sprite.svg#checked"></use>
                </svg>
                <p>Same day service available</p>
            </div>
            <div class="sub-item">
                <svg class="icon icon--md icon--primary" role="img" aria-label="Check">
                    <title>Check</title>
                    <use xlink:href="../../../assets/images/sprite.svg#checked"></use>
                </svg>
                <p>Fixed diagnostic & repair charges</p>
            </div>
        </div>
    </section>

    <!-- Price List -->

    <section class="prices">
        <header class="section-heading">
            <h2>our charges</h2>
        </header>
        <div class="table-foot">
            <ul>
                <li><span>(F)</span> Freestanding</li>
                <li><span>(I)</span> Integrated</li>
                <li><span>(AS)</span> American Style</li>
                <li><span class="premium-brands">(Premium Brands)</span> Miele, De Dietrich, Kuppersbusch Appliances
                </li>
            </ul>
        </div>
        <p class="vat-note"><span>NOTE</span>: All prices below are VAT EXCLUSIVE. E.g. price + spare part (if
            required) + VAT = total to be paid.</p>
        <div class="prices__table-responsive table-responsive">
            <table class="table table-striped main-table">
                <thead>
                    <tr>
                        <th scope="col">appliance</th>
                        <th scope="col">diagnostic</th>
                        <th scope="col">repair&nbsp;&nbsp;&nbsp;</th>
                        <th scope="col">total&nbsp;&nbsp;&nbsp;&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>washing machine <span>(f)</span></td>
                        <td>£35</td>
                        <td>£25</td>
                        <td>£60</td>
                    </tr>
                    <tr>
                        <td>washing machine <span>(i)</span></td>
                        <td>£35</td>
                        <td>£30</td>
                        <td>£65</td>
                    </tr>
                    <tr>
                        <td>tumble dryer</td>
                        <td>£35</td>
                        <td>£25</td>
                        <td>£60</td>
                    </tr>
                    <tr>
                        <td>condenser dryer</td>
                        <td>£35</td>
                        <td>£30</td>
                        <td>£65</td>
                    </tr>
                    <tr>
                        <td>washer dryer <span>(f)</span></td>
                        <td>£35</td>
                        <td>£25</td>
                        <td>£60</td>
                    </tr>
                    <tr>
                        <td>washer dryer <span>(i)</span></td>
                        <td>£35</td>
                        <td>£30</td>
                        <td>£65</td>
                    </tr>
                    <tr>
                        <td>dishwasher <span>(f)</span></td>
                        <td>£35</td>
                        <td>£25</td>
                        <td>£60</td>
                    </tr>
                    <tr>
                        <td>dishwasher <span>(i)</span></td>
                        <td>£35</td>
                        <td>£30</td>
                        <td>£65</td>
                    </tr>
                    <tr>
                        <td>electric cooker/Hob</td>
                        <td>£35</td>
                        <td>£25</td>
                        <td>£60</td>
                    </tr>
                    <tr>
                        <td>electric oven</td>
                        <td>£35</td>
                        <td>£25</td>
                        <td>£60</td>
                    </tr>
                    <tr>
                        <td>range cooker</td>
                        <td>£35</td>
                        <td>£45</td>
                        <td>£80</td>
                    </tr>
                    <tr>
                        <td>microwave</td>
                        <td>£35</td>
                        <td>£25</td>
                        <td>£60</td>
                    </tr>
                    <tr>
                        <td>microwave <span>(i)</span></td>
                        <td>£35</td>
                        <td>£30</td>
                        <td>£65</td>
                    </tr>
                    <tr>
                        <td>extractor hood</td>
                        <td>£35</td>
                        <td>£25</td>
                        <td>£60</td>
                    </tr>
                    <tr>
                        <td>Fridge Freezer</td>
                        <td>£35</td>
                        <td>£45</td>
                        <td>£80</td>
                    </tr>
                    <tr>
                        <td>Fridge Freezer <span>(AS)</span></td>
                        <td>£35</td>
                        <td>£50</td>
                        <td>£85</td>
                    </tr>
                    <tr>
                        <td><span class="premium-brands">(Premium Brands)</span></td>
                        <td>£35</td>
                        <td>£45</td>
                        <td>£80</td>
                    </tr>
                    <tr>
                        <td>commercial microwave</td>
                        <td>£35</td>
                        <td>£35</td>
                        <td>£70</td>
                    </tr>
                    <tr>
                        <td>commercial dishwasher</td>
                        <td>£35</td>
                        <td>£50</td>
                        <td>£80</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-striped">
                <thead class="installation">
                    <tr>
                        <th scope="col">appliance</th>
                        <th scope="col">delivery</th>
                        <th scope="col">removal</th>
                        <th scope="col">installation</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>dishwasher<span>&nbsp;(f)</span></td>
                        <td>£15</td>
                        <td>£15</td>
                        <td>£60</td>
                    </tr>
                    <tr>
                        <td>dishwasher<span>&nbsp;(i)</span></td>
                        <td>£15</td>
                        <td>£15</td>
                        <td>£65</td>
                    </tr>
                    <tr>
                        <td>washing machine<span>&nbsp;(f)</span></td>
                        <td>£15</td>
                        <td>£15</td>
                        <td>£60</td>
                    </tr>
                    <tr>
                        <td>washing machine<span>&nbsp;(i)</span></td>
                        <td>£15</td>
                        <td>£15</td>
                        <td>£65</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <article class="prices__info-container">
            <section class="prices__terms">
                <h2 class="prices__terms--title">Prices</h2>
                <ul>
                    <li>All prices are <strong>VAT EXCLUSIVE</strong>.</li>
                    <li>The diagnostic charge
                        covers the time spent by
                        the engineer inspecting the appliance and identifying the root cause of the fault.</li>
                    <li>After the
                        diagnostics,
                        you will be
                        informed about the condition of the appliance, and what needs to be repaired.</li>
                    <li>
                        If the engineer is unable to identify the cause of the fault,
                        <strong>no</strong> service fee is charged.
                    </li>
                    <li>The repair charge covers the time
                        spent by the engineer
                        repairing and testing the appliance and is payable when the fault is fixed.
                    </li>

                    <li>Price of parts are <strong>not</strong> included. If new parts are required, we’ll give you a
                        fixed quote for
                        these before proceeding with the repair.</li>
                    <li><strong>No</strong> extra charge for revisits if a new part needs to be ordered.</li>
                    <li>If the new part is too expensive or the machine is uneconomical to repair, there is no
                        obligation to proceed with the repair. You only need to pay the diagnostic charge.
                    </li>
                    <li>A congestion charge, ULEZ charge and parking fees apply if you live in central London.</li>
                    <li>In a case of a serious issue, for example when a washer requires new bearings, we will provide a
                        seperate quote for the repair and parts.</li>
                    <li>We provide <strong>50% discount</strong> for each additional appliance needed to repair on the
                        first visit.</li>
                </ul>
                <h2 class="prices__terms--title">Guarantee</h2>
                <ul>
                    <li>
                        We give <strong>6 months guarantee</strong> on the repair and parts. We do not guarantee
                        blockages, heating elements, printed circuit boards,
                        cosmetic damage or parts that have become faulty due to external forces (i.e. faulty pump due to
                        a stuck hair clip blocking the impeller). We do not guarantee any part or machine that is
                        damaged due to
                        neglect, flooding, fire, infestation or damp.
                    </li>
                    <li>This guarantee does not cover any
                        subsequent unrelated breakdown / fault(s) to the appliance. It also becomes invalid if the appliance is
                        moved to a new address.</li>
                </ul>
                <h2 class="prices__terms--title-discount">Discount</h2>
                <ul class="discount-list">
                    <li>The £10 discount is available to customers residing in the following London postcodes: E1,
                        E1W, E2, E3, E5, E6, E7, E8, E9, E10, E11, E13, E14, E15, E16,
                        SE16, SE10, SE8, IG1.</li>
                    <li><span>Note: </span>The discount only applies to the repair charge.</li>
                    <li><span>Important: </span> We do not provide the discount to landlords or estate agents.</li>
                </ul>
            </section>
        </article>
    </section>

    <!-- Call banner -->

    <section class="call-banner">
        <h2>Call us at <a href="tel:0207 476 8725">0207 476 8725</a> or <a href="tel:0754 085 2102">0754 085 2102</a> to
            book a service today
        </h2>
    </section>

    <!-- Brands -->

    <section class="brands">
        <header class="section-heading">
            <h2>brands we repair</h2>
        </header>
        <h2 class="heading-2">We repair and work with all the major appliance makes.</h2>
        <div class="brand-grid">
            <div class="brand">
                <svg class="icon icon--xl" role="img" aria-label="AEG">
                    <title>AEG</title>
                    <use xlink:href="../../../assets/images/sprite.svg#aeg-2"></use>
                </svg>
            </div>
            <div class="brand">
                <svg class="icon icon--xl" role="img" aria-label="BEKO">
                    <title>BEKO</title>
                    <use xlink:href="../../../assets/images/sprite.svg#new-beko-logo"></use>
                </svg>
            </div>
            <div class="brand">
                <svg class="icon icon--xl" role="img" aria-label="Hotpoint">
                    <title>Hotpoint</title>
                    <use xlink:href="../../../assets/images/sprite.svg#hotpoint"></use>
                </svg>
            </div>
            <div class="brand">
                <svg class="icon icon--xl" role="img" aria-label="LG">
                    <title>LG</title>
                    <use xlink:href="../../../assets/images/sprite.svg#lg-electronics"></use>
                </svg>
            </div>
            <div class="brand">
                <svg class="icon icon--xl" role="img" aria-label="Miele">
                    <title>Miele</title>
                    <use xlink:href="../../../assets/images/sprite.svg#miele"></use>
                </svg>
            </div>
            <div class="brand">
                <svg class="icon icon--xl" role="img" aria-label="Samsung">
                    <title>Samsung</title>
                    <use xlink:href="../../../assets/images/sprite.svg#samsung-1"></use>
                </svg>
            </div>
            <div class="brand">
                <svg class="icon icon--xl" role="img" aria-label="Siemens">
                    <title>Siemens</title>
                    <use xlink:href="../../../assets/images/sprite.svg#siemens"></use>
                </svg>
            </div>
            <div class="brand">
                <svg class="icon icon--xl" role="img" aria-label="Zanussi">
                    <title>Zanussi</title>
                    <use xlink:href="../../../assets/images/sprite.svg#zanussi"></use>
                </svg>
            </div>
            <div class="brand">
                <svg class="icon icon--xl" role="img" aria-label="Whirpool">
                    <title>Whirpool</title>
                    <use xlink:href="../../../assets/images/sprite.svg#whirlpool"></use>
                </svg>
            </div>
            <div class="brand">
                <svg class="icon icon--xl" role="img" aria-label="Bosch">
                    <title>Bosch</title>
                    <use xlink:href="../../../assets/images/sprite.svg#bosch-1"></use>
                </svg>
            </div>
            <div class="brand">
                <svg class="icon icon--xl" role="img" aria-label="Indesit">
                    <title>Indesit</title>
                    <use xlink:href="../../../assets/images/sprite.svg#indesit-1"></use>
                </svg>
            </div>
            <div class="brand">
                <svg class="icon icon--xl" role="img" aria-label="Hoover">
                    <title>Hoover</title>
                    <use xlink:href="../../../assets/images/sprite.svg#hoover"></use>
                </svg>
            </div>
            <div class="brand">
                <svg class="icon icon--xl" role="img" aria-label="Electrolux">
                    <title>Electrolux</title>
                    <use xlink:href="../../../assets/images/sprite.svg#electrolux"></use>
                </svg>
            </div>
            <div class="brand">
                <svg class="icon icon--xl" role="img" aria-label="Neff">
                    <title>Neff</title>
                    <use xlink:href="../../../assets/images/sprite.svg#neff"></use>
                </svg>
            </div>
            <div class="brand">
                <svg class="icon icon--xl" role="img" aria-label="Blaupunkt">
                    <title>Blaupunkt</title>
                    <use xlink:href="../../../assets/images/sprite.svg#blaupunkt-29640"></use>
                </svg>
            </div>
            <div class="brand">
                <svg class="icon icon--xl" role="img" aria-label="Daewoo">
                    <title>Daewoo</title>
                    <use xlink:href="../../../assets/images/sprite.svg#daewoo-1"></use>
                </svg>
            </div>
        </div>
        <p class="heading-2">And many more!</p>
    </section>

    <!-- Reviews  -->

    <section class="reviews-container">
        <header class="section-heading">
            <h2>google reviews</h2>
        </header>
        <div class="reviews">
            <div class="review">
                <div class="review__profile-pic">
                    <img src="../../../assets/images/profile_3.png" alt="Google profile picture">
                </div>
                <div class="review__profile-name">
                    Marie Adam
                </div>
                <div class="review__stars">
                    <svg class="icon icon--md" role="img" aria-label="Star">
                        <title>Star</title>
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                    <svg class="icon icon--md" role="img" aria-label="Star">
                        <title>Star</title>
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                    <svg class="icon icon--md" role="img" aria-label="Star">
                        <title>Star</title>
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                    <svg class="icon icon--md" role="img" aria-label="Star">
                        <title>Star</title>
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                    <svg class="icon icon--md" role="img" aria-label="Star">
                        <title>Star</title>
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                </div>
                <div class="review__text">
                    <svg class="icon icon--md icon--primary" role="img" aria-label="Quotation mark">
                        <title>Quotation mark</title>
                        <use xlink:href="../../../assets/images/sprite.svg#quote_left"></use>
                    </svg>
                    <p>Very professional &amp; efficient. Great service at a very good price. I would definitely
                        recommend.</p>
                    <svg class="icon icon--md icon--primary" role="img" aria-label="Quotation mark">
                        <title>Quotation mark</title>
                        <use xlink:href="../../../assets/images/sprite.svg#quote_right"></use>
                    </svg>
                </div>
            </div>
            <div class="review">
                <div class="review__profile-pic">
                    <img src="../../../assets/images/profile_1.png" alt="Google profile picture">
                </div>
                <div class="review__profile-name">
                    George Pidgeon
                </div>
                <div class="review__stars">
                    <svg class="icon icon--md" role="img" aria-label="Star">
                        <title>Star</title>
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                    <svg class="icon icon--md" role="img" aria-label="Star">
                        <title>Star</title>
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                    <svg class="icon icon--md" role="img" aria-label="Star">
                        <title>Star</title>
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                    <svg class="icon icon--md" role="img" aria-label="Star">
                        <title>Star</title>
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                    <svg class="icon icon--md" role="img" aria-label="Star">
                        <title>Star</title>
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                </div>
                <div class="review__text">
                    <svg class="icon icon--md icon--primary" role="img" aria-label="Quotation mark">
                        <title>Quotation mark</title>
                        <use xlink:href="../../../assets/images/sprite.svg#quote_left"></use>
                    </svg>
                    <p>Thank you - would definitely use again in future.</p>
                    <svg class="icon icon--md icon--primary" role="img" aria-label="Quotation mark">
                        <title>Quotation mark</title>
                        <use xlink:href="../../../assets/images/sprite.svg#quote_right"></use>
                    </svg>
                </div>
            </div>
            <div class="review">
                <div class="review__profile-pic">
                    <img src="../../../assets/images/profile_3.png" alt="Google profile picture">
                </div>
                <div class="review__profile-name">
                    Annie Yusuf
                </div>
                <div class="review__stars">
                    <svg class="icon icon--md" role="img" aria-label="Star">
                        <title>Star</title>
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                    <svg class="icon icon--md" role="img" aria-label="Star">
                        <title>Star</title>
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                    <svg class="icon icon--md" role="img" aria-label="Star">
                        <title>Star</title>
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                    <svg class="icon icon--md" role="img" aria-label="Star">
                        <title>Star</title>
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                    <svg class="icon icon--md" style="fill:#dddddd;" role="img" aria-label="Star">
                        <title>Star</title>
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                </div>
                <div class="review__text">
                    <svg class="icon icon--md icon--primary" role="img" aria-label="Quotation mark">
                        <title>Quotation mark</title>
                        <use xlink:href="../../../assets/images/sprite.svg#quote_left"></use>
                    </svg>
                    <p>Good repair work.</p>
                    <svg class="icon icon--md icon--primary" role="img" aria-label="Quotation mark">
                        <title>Quotation mark</title>
                        <use xlink:href="../../../assets/images/sprite.svg#quote_right"></use>
                    </svg>
                </div>
            </div>
            <div class="review">
                <div class="review__profile-pic">
                    <img src="../../../assets/images/profile_2.png" alt="Google profile picture">
                </div>
                <div class="review__profile-name">
                    Ellie Roberts
                </div>
                <div class="review__stars">
                    <svg class="icon icon--md" role="img" aria-label="Star">
                        <title>Star</title>
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                    <svg class="icon icon--md" role="img" aria-label="Star">
                        <title>Star</title>
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                    <svg class="icon icon--md" role="img" aria-label="Star">
                        <title>Star</title>
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                    <svg class="icon icon--md" role="img" aria-label="Star">
                        <title>Star</title>
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                    <svg class="icon icon--md" role="img" aria-label="Star">
                        <title>Star</title>
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                </div>
                <div class="review__text">
                    <svg class="icon icon--md icon--primary" role="img" aria-label="Quotation mark">
                        <title>Quotation mark</title>
                        <use xlink:href="../../../assets/images/sprite.svg#quote_left"></use>
                    </svg>
                    <p>Quick and efficient service - I would use them again.</p>
                    <svg class="icon icon--md icon--primary" role="img" aria-label="Quotation mark">
                        <title>Quotation mark</title>
                        <use xlink:href="../../../assets/images/sprite.svg#quote_right"></use>
                    </svg>
                </div>
            </div>
        </div>
        <a href="https://g.page/a-g-appliances/review" class="btn-round btn--secondary">leave a review</a>
    </section>
</div>