<div class="grid-container">
    <div class="header-background"></div>
    <div class="header">
        <div class="header__logo">
            <a [routerLink]="[ '/']">
                <img class="header__logo-wrapper--image" src="../../../assets/images/logo-header.svg" alt="" />
            </a>
        </div>
        <div class="header__email">
            <svg class="icon icon--md icon icon--white">
                <use xlink:href="../../../assets/images/sprite.svg#mail_filled"></use>
            </svg>
            <a href="mailto:contact@ag-repairs.co.uk">contact@ag-repairs.co.uk</a>
        </div>
        <div class="header__phone">
            <svg class="icon icon--md icon icon--white">
                <use xlink:href="../../../assets/images/sprite.svg#phone_filled"></use>
            </svg>
            <a href="tel:0207 476 8725">0207 476 8725</a>
        </div>
        <div class="header__mobile">
            <svg class="icon icon--md icon icon--white">
                <use xlink:href="../../../assets/images/sprite.svg#touchscreen_smartphone_filled"></use>
            </svg>
            <a href="tel:0754 085 2102">0754 085 2102</a>
        </div>
    </div>

    <!-- Intro -->

    <div class="intro">
        <div class="intro__image">
            <img src="../../assets/images/money.jpg" alt="">
        </div>
        <header>
            <h1>Price List</h1>
        </header>
        <div class="intro__sub">
            <div class="sub-item">
                <svg class="icon icon--md icon--primary">
                    <use xlink:href="../../../assets/images/sprite.svg#checked"></use>
                </svg>
                <p>Fast, reliable service</p>
            </div>
            <div class="sub-item">
                <svg class="icon icon--md icon--primary">
                    <use xlink:href="../../../assets/images/sprite.svg#checked"></use>
                </svg>
                <p>Largest UK coverage</p>
            </div>
            <div class="sub-item">
                <svg class="icon icon--md icon--primary">
                    <use xlink:href="../../../assets/images/sprite.svg#checked"></use>
                </svg>
                <p>Same/next day appointments</p>
            </div>
            <div class="sub-item">
                <svg class="icon icon--md icon--primary">
                    <use xlink:href="../../../assets/images/sprite.svg#checked"></use>
                </svg>
                <p>Same/next day appointments</p>
            </div>
        </div>
    </div>

    <!-- Price List -->

    <section class="prices">
        <header class="section-heading">
            <h1 class="heading-1 heading-1--primary">appliance repair prices</h1>
        </header>
        <div class="prices__table-responsive table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">service</th>
                        <th scope="col">Labour</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>washing machine repair (freestanding)</td>
                        <td>£60 +VAT</td>
                    </tr>
                    <tr>
                        <td>washing machine repair (integrated)</td>
                        <td>£70 +VAT</td>
                    </tr>
                    <tr>
                        <td>tumble dryer repair (freestanding)</td>
                        <td>£60 +VAT</td>
                    </tr>
                    <tr>
                        <td>tumble dryer repair (integrated)</td>
                        <td>£70 +VAT</td>
                    </tr>
                    <tr>
                        <td>washing dryer repair (freestanding)</td>
                        <td>£60 +VAT</td>
                    </tr>
                    <tr>
                        <td>washing dryer repair (integrated)</td>
                        <td>£70 +VAT</td>
                    </tr>
                    <tr>
                        <td>dishwasher repair (freestanding)</td>
                        <td>£60 +VAT</td>
                    </tr>
                    <tr>
                        <td>dishwasher repair (integrated)</td>
                        <td>£70 +VAT</td>
                    </tr>
                    <tr>
                        <td>electric cooker/Hob repair</td>
                        <td>£60 +VAT</td>
                    </tr>
                    <tr>
                        <td>electric oven repair</td>
                        <td>£60 +VAT</td>
                    </tr>
                    <tr>
                        <td>microwave repair</td>
                        <td>£60 +VAT</td>
                    </tr>
                    <tr>
                        <td>microwave repair (integrated)</td>
                        <td>£70 +VAT</td>
                    </tr>
                    <tr>
                        <td>installation (freestanding dishwasher)</td>
                        <td>£60 +VAT</td>
                    </tr>
                    <tr>
                        <td>installation (integrated dishwasher)</td>
                        <td>£70 +VAT</td>
                    </tr>
                    <tr>
                        <td>installation (freestanding washing machine)</td>
                        <td>£60 +VAT</td>
                    </tr>
                    <tr>
                        <td>installation (integrated washing machine)</td>
                        <td>£70 +VAT</td>
                    </tr>
                    <tr>
                        <td>part ftting</td>
                        <td>£50 +VAT</td>
                    </tr>
                    <tr>
                        <td>commercial microwave repair</td>
                        <td>£75 +VAT</td>
                    </tr>
                    <tr>
                        <td>commercial dishwasher repair</td>
                        <td>£85 +VAT</td>
                    </tr>
                    <tr>
                        <td>commercial electric oven repair</td>
                        <td>£85 +VAT</td>
                    </tr>
                    <tr>
                        <td>miele, de dietrich, kuppersbusch appliances</td>
                        <td>£80 +VAT</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="prices__info-container">
            <div class="prices__terms">
                <p>Parts and materials are not included in the price.</p>
                <p>6 months guarantee on the repair and parts (we do not guarantee blockages, heating elements or
                    printed
                    circuit boards).</p>
                <p>Return visit included.</p>
                <p>A congestion charge, ULEZ charge and parking fees apply if you live in central London.</p>
                <p>If appliance is too expensive/uneconomical to repair - you only need to pay the diagnostic charge of
                    £35 +VAT.</p>
            </div>
            <div class="prices__links">
                <h2 class="heading-2">our services</h2>
                <a class="prices__link" [routerLink]="['/appliance-repairs/washing-machine-repairs']">
                    <svg class="icon">
                        <use xlink:href="../../../assets/images/sprite.svg#washing_machine"></use>
                    </svg>
                    <p>&nbsp;Washing Machine Repairs</p>
                </a>
                <a class="prices__link" [routerLink]="['/appliance-repairs/dishwasher-repairs']">
                    <svg class="icon">
                        <use xlink:href="../../../assets/images/sprite.svg#dishwasher"></use>
                    </svg>
                    <p>&nbsp;Diswasher Repairs</p>
                </a>
                <a class="prices__link" [routerLink]="['/appliance-repairs/tumble-dryer-repairs']">
                    <svg class="icon">
                        <use xlink:href="../../../assets/images/sprite.svg#tumble_dryer"></use>
                    </svg>
                    <p>&nbsp;Tumble Dryer Repairs</p>
                </a>
                <a class="prices__link" [routerLink]="['/appliance-repairs/electric-oven-repairs']">
                    <svg class="icon">
                        <use xlink:href="../../../assets/images/sprite.svg#cooker"></use>
                    </svg>
                    <p>&nbsp;Electric Cooker/Oven Repairs</p>
                </a>
                <a class="prices__link" [routerLink]="['/appliance-repairs/microwave-repairs']">
                    <svg class="icon">
                        <use xlink:href="../../../assets/images/sprite.svg#microwave"></use>
                    </svg>
                    <p>&nbsp;Microwave Repairs</p>
                </a>
                <a class="prices__link" [routerLink]="['/appliance-repairs/extractor-hood-repairs']">
                    <svg class="icon">
                        <use xlink:href="../../../assets/images/sprite.svg#cooker_hood"></use>
                    </svg>
                    <p>&nbsp;Extractor Hood Repairs</p>
                </a>
                <a class="prices__link" [routerLink]="['/appliance-repairs/fridge-freezer-repairs']">
                    <svg class="icon">
                        <use xlink:href="../../../assets/images/sprite.svg#fridge"></use>
                    </svg>
                    <p>&nbsp;Fridge Freezer Repairs</p>
                </a>
                <a class="prices__link" [routerLink]="['/appliance-repairs/commercial-appliance-repairs']">
                    <svg class="icon">
                        <use xlink:href="../../../assets/images/sprite.svg#cooker_dotted"></use>
                    </svg>
                    <p>&nbsp;Commercial Appliance Repairs</p>
                </a>
            </div>
        </div>
    </section>

    <!-- Call banner -->

    <section class="call-banner">
        <h1>Call us at <a href="tel:0207 476 8725">0207 476 8725</a> or <a href="tel:0754 085 2102">0754 085 2102</a> to
            book a service today!
        </h1>
    </section>

    <!-- Brands -->

    <section class="brands">
        <header class="section-heading">
            <h1 class="heading-1 heading-1--primary">Brands We Repair</h1>
        </header>
        <h2 class="heading-2 heading-2--white">We repair and work with all the major appliance makes:</h2>
        <div class="brand-grid">
            <div class="brand">
                <svg class="icon icon--xl">
                    <use xlink:href="../../../assets/images/sprite.svg#aeg-2"></use>
                </svg>
            </div>
            <div class="brand">
                <svg class="icon icon--xl">
                    <use xlink:href="../../../assets/images/sprite.svg#new-beko-logo"></use>
                </svg>
            </div>
            <div class="brand">
                <svg class="icon icon--xl">
                    <use xlink:href="../../../assets/images/sprite.svg#hotpoint"></use>
                </svg>
            </div>
            <div class="brand">
                <svg class="icon icon--xl">
                    <use xlink:href="../../../assets/images/sprite.svg#lg-electronics"></use>
                </svg>
            </div>
            <div class="brand">
                <svg class="icon icon--xl">
                    <use xlink:href="../../../assets/images/sprite.svg#miele"></use>
                </svg>
            </div>
            <div class="brand">
                <svg class="icon icon--xl">
                    <use xlink:href="../../../assets/images/sprite.svg#samsung-1"></use>
                </svg>
            </div>
            <div class="brand">
                <svg class="icon icon--xl">
                    <use xlink:href="../../../assets/images/sprite.svg#siemens"></use>
                </svg>
            </div>
            <div class="brand">
                <svg class="icon icon--xl">
                    <use xlink:href="../../../assets/images/sprite.svg#zanussi"></use>
                </svg>
            </div>
            <div class="brand">
                <svg class="icon icon--xl">
                    <use xlink:href="../../../assets/images/sprite.svg#whirlpool"></use>
                </svg>
            </div>
            <div class="brand">
                <svg class="icon icon--xl">
                    <use xlink:href="../../../assets/images/sprite.svg#bosch-1"></use>
                </svg>
            </div>
            <div class="brand">
                <svg class="icon icon--xl">
                    <use xlink:href="../../../assets/images/sprite.svg#indesit-1"></use>
                </svg>
            </div>
            <div class="brand">
                <svg class="icon icon--xl">
                    <use xlink:href="../../../assets/images/sprite.svg#hoover"></use>
                </svg>
            </div>
            <div class="brand">
                <svg class="icon icon--xl">
                    <use xlink:href="../../../assets/images/sprite.svg#electrolux"></use>
                </svg>
            </div>
            <div class="brand">
                <svg class="icon icon--xl">
                    <use xlink:href="../../../assets/images/sprite.svg#neff"></use>
                </svg>
            </div>
            <div class="brand">
                <svg class="icon icon--xl">
                    <use xlink:href="../../../assets/images/sprite.svg#blaupunkt-29640"></use>
                </svg>
            </div>
            <div class="brand">
                <svg class="icon icon--xl">
                    <use xlink:href="../../../assets/images/sprite.svg#daewoo-1"></use>
                </svg>
            </div>
        </div>
        <p class="heading-2">And many more!</p>
    </section>

    <!-- Reviews -->

    <section class="reviews-container">
        <header class="section-heading">
            <h1 class="heading-1 heading-1--primary">google reviews</h1>
        </header>
        <div class="reviews">
            <div class="review">
                <div class="review__profile-pic">
                    <img src="../../../assets/images/profile_3.png" alt="">
                </div>
                <div class="review__profile-name">
                    Marie Adam
                </div>
                <div class="review__stars">
                    <svg class="icon icon--md">
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                    <svg class="icon icon--md">
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                    <svg class="icon icon--md">
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                    <svg class="icon icon--md">
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                    <svg class="icon icon--md">
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                </div>
                <div class="review__text">
                    <svg class="icon icon--md icon--primary">
                        <use xlink:href="../../../assets/images/sprite.svg#quote_left"></use>
                    </svg>
                    <p>Very professional & efficient. Great service at a very good price. I would definitely recommend.
                    </p>
                    <svg class="icon icon--md icon--primary">
                        <use xlink:href="../../../assets/images/sprite.svg#quote_right"></use>
                    </svg>
                </div>
            </div>
            <div class="review">
                <div class="review__profile-pic">
                    <img src="../../../assets/images/profile_1.png" alt="">
                </div>
                <div class="review__profile-name">
                    George Pidgeon
                </div>
                <div class="review__stars">
                    <svg class="icon icon--md">
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                    <svg class="icon icon--md">
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                    <svg class="icon icon--md">
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                    <svg class="icon icon--md">
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                    <svg class="icon icon--md">
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                </div>
                <div class="review__text">
                    <svg class="icon icon--md icon--primary">
                        <use xlink:href="../../../assets/images/sprite.svg#quote_left"></use>
                    </svg>
                    <p>Thank you - would definitely use again in future.</p>
                    <svg class="icon icon--md icon--primary">
                        <use xlink:href="../../../assets/images/sprite.svg#quote_right"></use>
                    </svg>
                </div>
            </div>
            <div class="review">
                <div class="review__profile-pic">
                    <img src="../../../assets/images/profile_3.png" alt="">
                </div>
                <div class="review__profile-name">
                    Annie Yusuf
                </div>
                <div class="review__stars">
                    <svg class="icon icon--md">
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                    <svg class="icon icon--md">
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                    <svg class="icon icon--md">
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                    <svg class="icon icon--md">
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                    <svg class="icon icon--md" style="fill:#dddddd;">
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                </div>
                <div class="review__text">
                    <svg class="icon icon--md icon--primary">
                        <use xlink:href="../../../assets/images/sprite.svg#quote_left"></use>
                    </svg>
                    <p>Good repair work.</p>
                    <svg class="icon icon--md icon--primary">
                        <use xlink:href="../../../assets/images/sprite.svg#quote_right"></use>
                    </svg>
                </div>
            </div>
            <div class="review">
                <div class="review__profile-pic">
                    <img src="../../../assets/images/profile_2.png" alt="">
                </div>
                <div class="review__profile-name">
                    Ellie Roberts
                </div>
                <div class="review__stars">
                    <svg class="icon icon--md">
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                    <svg class="icon icon--md">
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                    <svg class="icon icon--md">
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                    <svg class="icon icon--md">
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                    <svg class="icon icon--md">
                        <use xlink:href="../../../assets/images/sprite.svg#star"></use>
                    </svg>
                </div>
                <div class="review__text">
                    <svg class="icon icon--md icon--primary">
                        <use xlink:href="../../../assets/images/sprite.svg#quote_left"></use>
                    </svg>
                    <p>Quick and efficient service - I would use them again.</p>
                    <svg class="icon icon--md icon--primary">
                        <use xlink:href="../../../assets/images/sprite.svg#quote_right"></use>
                    </svg>
                </div>
            </div>
        </div>
        <a [routerLink]="[ '/']" class="btn-round btn--secondary">leave a review</a>
    </section>
</div>